Repository ldclabs/ic-panda: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*": "prettier --write --ignore-unknown",
  "*.css": "stylelint --fix",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "package.json": "sort-package-json"
}

chore: 1. update dependencies; 2. add validate2_xxxxxx API for SNS proposals
  Cargo.lock
  Cargo.toml
  proposals/proposal-122.sh
  src/ic_message/ic_message.did
  src/ic_message/src/api_admin.rs
  src/ic_message_channel/ic_message_channel.did
  src/ic_message_channel/src/api_admin.rs
  src/ic_message_profile/ic_message_profile.did
  src/ic_message_profile/src/api_admin.rs
  src/ic_message_types/Cargo.toml
  src/ic_panda_ai/src/api_admin.rs
  src/ic_panda_luckypool/Cargo.toml
  src/ic_panda_luckypool/ic_panda_luckypool.did
  src/ic_panda_luckypool/src/api_admin.rs
Due: prettier --write --ignore-unknown

feat: topup channel
  src/ic_message/ic_message.did
  src/ic_message/src/api_update.rs
  src/ic_message/src/lib.rs
  src/ic_message/src/store.rs
  src/ic_message_channel/ic_message_channel.did
  src/ic_message_channel/src/api_admin.rs
  src/ic_message_channel/src/store.rs
  src/ic_message_types/src/channel.rs
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/app.pcss
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did.js
  src/ic_panda_frontend/src/declarations/ic_message_channel/ic_message_channel.did
  src/ic_panda_frontend/src/declarations/ic_message_channel/ic_message_channel.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message_channel/ic_message_channel.did.js
  src/ic_panda_frontend/src/declarations/ic_message_profile/ic_message_profile.did
  src/ic_panda_frontend/src/declarations/ic_message_profile/ic_message_profile.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message_profile/ic_message_profile.did.js
  src/ic_panda_frontend/src/declarations/ic_panda_luckypool/ic_panda_luckypool.did
  src/ic_panda_frontend/src/declarations/ic_panda_luckypool/ic_panda_luckypool.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_panda_luckypool/ic_panda_luckypool.did.js
  src/ic_panda_frontend/src/lib/canisters/message.ts
  src/ic_panda_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelTopupModel.svelte
  src/ic_panda_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposals to upgrade messaging app
  proposals/proposal-123.sh
  proposals/proposal-124.sh
  proposals/proposal-125.sh
  proposals/proposal-126.sh
  proposals/proposal-127.sh
Due: prettier --write --ignore-unknown

fix: fix frontend issues
  src/ic_panda_frontend/src/lib/components/messages/Home.svelte
  src/ic_panda_frontend/src/lib/components/messages/PasswordModel.svelte
  src/ic_panda_frontend/src/lib/stores/message.ts
  src/ic_panda_frontend/src/lib/stores/message_agent.ts
  src/ic_panda_frontend/static/.ic-assets.json
  src/ic_panda_frontend/static/.ic-assets.json5
Due: prettier --write --ignore-unknown, eslint --fix

chore: add proposal to upgrade frontend
  proposals/proposal-128.sh
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/declarations/ic_message_frontend/ic_message_frontend.did
  src/ic_panda_frontend/src/declarations/ic_message_frontend/ic_message_frontend.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message_frontend/ic_message_frontend.did.js
  src/ic_panda_frontend/src/declarations/ic_message_frontend/index.d.ts
  src/ic_panda_frontend/src/declarations/ic_message_frontend/index.js
  src/ic_panda_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

fix: 1. fix CSP header; 2. fix transferring username
  src/ic_panda_frontend/src/app.html
  src/ic_panda_frontend/src/lib/components/messages/ChannelCreateModel.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelDetail.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelTopupModel.svelte
  src/ic_panda_frontend/src/lib/components/messages/Chat.svelte
  src/ic_panda_frontend/src/lib/components/messages/Home.svelte
  src/ic_panda_frontend/src/lib/components/messages/Index.svelte
  src/ic_panda_frontend/src/lib/components/messages/MyChannelList.svelte
  src/ic_panda_frontend/src/lib/components/messages/PasswordModel.svelte
  src/ic_panda_frontend/src/lib/components/messages/ProfileDetail.svelte
  src/ic_panda_frontend/src/lib/components/messages/ProfileEditModel.svelte
  src/ic_panda_frontend/src/lib/components/messages/UserRegisterModel.svelte
  src/ic_panda_frontend/src/lib/components/messages/UserSelectModel.svelte
  src/ic_panda_frontend/src/lib/components/messages/UsernameTransferModel.svelte
  src/ic_panda_frontend/src/routes/(app)/+layout.svelte
  src/ic_panda_frontend/src/routes/(app)/[username]/+page.svelte
  src/ic_panda_frontend/static/.ic-assets.json
Due: prettier --write --ignore-unknown

chore: add proposal to upgrade frontend
  proposals/proposal-129.sh
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

fix: try to fix alternative frontend origins
  src/ic_message_frontend/static/.well-known/ii-alternative-origins
Due: prettier --write --ignore-unknown

fix: try to fix alternative frontend origins
  src/ic_message_frontend/src/lib/stores/auth.ts
  src/ic_message_frontend/static/.well-known/ii-alternative-origins
Due: prettier --write --ignore-unknown, eslint --fix

chore: add 'dmsg.net' to 'panda.fans' alternativeOrigins
  src/ic_message_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_message_frontend/src/lib/components/messages/UsernameTransferModel.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_panda_frontend/src/lib/components/messages/UsernameTransferModel.svelte
  src/ic_panda_frontend/static/.well-known/ii-alternative-origins
Due: prettier --write --ignore-unknown

chore: add proposal to register ic_message_frontend canister
  proposals/proposal-130.sh
  proposals/proposal-131.sh
  src/ic_message_frontend/src/lib/components/messages/ProfileDetail.svelte
Due: prettier --write --ignore-unknown

chore: update Ecosystem partners UI
  src/ic_message_frontend/src/lib/stores/auth.ts
  src/ic_message_frontend/src/lib/utils/auth.ts
  src/ic_message_frontend/src/routes/(app)/+page.svelte
  src/ic_message_frontend/static/_assets/images/iclight.webp
  src/ic_message_frontend/static/_assets/images/icptokens.webp
Due: prettier --write --ignore-unknown, eslint --fix

chore: improve frontend UI
  src/ic_message_frontend/src/lib/components/messages/ChannelDetail.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_message_frontend/src/lib/components/messages/MyChannelList.svelte
  src/ic_message_frontend/src/lib/components/messages/ProfileDetail.svelte
  src/ic_message_frontend/src/routes/(app)/+page.svelte
  src/ic_message_frontend/src/routes/(app)/[username]/+page.svelte
  src/ic_message_frontend/src/routes/(app)/_/+layout.svelte
  src/ic_message_frontend/static/_assets/images/icpswap.webp
  src/ic_message_frontend/static/_assets/images/icptokens.webp
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/components/messages/Home.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/stores/auth.ts
  src/ic_panda_frontend/src/lib/utils/auth.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

Add staging environment "--network dev"
  canister_ids.json
  dfx.json
  src/ic_message/src/lib.rs
  src/ic_panda_frontend/src/lib/components/core/AccountDetailModal.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_panda_frontend/src/lib/components/messages/Chat.svelte
  src/ic_panda_frontend/src/lib/components/ui/SendTokenForm.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/stores/auth.ts
  src/ic_panda_frontend/src/lib/types/result.ts
  src/ic_panda_frontend/src/lib/utils/token.ts
  src/ic_panda_frontend/src/routes/(app)/+layout.svelte
  src/ic_panda_luckypool/src/lib.rs
Due: prettier --write --ignore-unknown, eslint --fix

chore: add proposals to upgrade messaging app
  proposals/proposal-132.sh
  proposals/proposal-133.sh
  proposals/proposal-134.sh
Due: prettier --write --ignore-unknown

fix: fix logout for messaging app
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/canisters/messageprofile.ts
  src/ic_message_frontend/src/lib/components/core/MoreMenuPopup.svelte
  src/ic_message_frontend/src/lib/components/core/PageFooter.svelte
  src/ic_message_frontend/src/lib/components/messages/ProfileDetail.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/lib/stores/auth.ts
  src/ic_message_frontend/src/lib/stores/message.ts
  src/ic_message_frontend/src/lib/stores/toast.ts
  src/ic_message_frontend/src/lib/utils/auth.ts
  src/ic_message_frontend/src/routes/(app)/+page.svelte
  src/ic_message_frontend/src/routes/(app)/_/+layout.svelte
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposals to upgrade messaging app
  proposals/proposal-134.sh
  proposals/proposal-135.sh
  proposals/proposal-openchat-01.sh
Due: prettier --write --ignore-unknown

feat: support dark mode
  src/ic_message_frontend/eslint.config.ts
  src/ic_message_frontend/icpanda-theme.ts
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/app.html
  src/ic_message_frontend/src/app.pcss
  src/ic_message_frontend/src/lib/components/core/MoreMenuPopup.svelte
  src/ic_message_frontend/src/lib/components/core/WalletDetailModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelCreateModel.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelDetail.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelEditModel.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelTopupModel.svelte
  src/ic_message_frontend/src/lib/components/messages/Chat.svelte
  src/ic_message_frontend/src/lib/components/messages/MyChannelList.svelte
  src/ic_message_frontend/src/lib/components/messages/MyProfile.svelte
  src/ic_message_frontend/src/lib/components/messages/PasswordModel.svelte
  src/ic_message_frontend/src/lib/components/messages/ProfileDetail.svelte
  src/ic_message_frontend/src/lib/components/messages/ProfileEditModel.svelte
  src/ic_message_frontend/src/lib/components/messages/ProfileModel.svelte
  src/ic_message_frontend/src/lib/components/messages/UserRegisterModel.svelte
  src/ic_message_frontend/src/lib/components/messages/UserSelectModel.svelte
  src/ic_message_frontend/src/lib/components/messages/UsernameTransferModel.svelte
  src/ic_message_frontend/src/lib/components/ui/MemoDetail.svelte
  src/ic_message_frontend/src/lib/components/ui/ModalCard.svelte
  src/ic_message_frontend/src/lib/components/ui/SendTokenForm.svelte
  src/ic_message_frontend/src/lib/components/ui/TextClipboardPopup.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/lib/stores/auth.ts
  src/ic_message_frontend/src/routes/(app)/+layout.svelte
  src/ic_message_frontend/src/routes/(app)/+page.svelte
  src/ic_message_frontend/src/routes/(app)/[username]/+page.svelte
  src/ic_message_frontend/src/routes/(app)/_/+layout.svelte
  src/ic_message_frontend/src/routes/(app)/_/[...channel]/+page.svelte
  src/ic_message_frontend/src/routes/(app)/_/profile/+page.svelte
  src/ic_message_frontend/tailwind.config.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposal to upgrade messaging app
  proposals/proposal-136.sh
Due: prettier --write --ignore-unknown

chore: improve messaging app UI
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/components/messages/ChannelDetail.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_message_frontend/src/lib/components/messages/MyProfile.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/static/_assets/images/pandas.webp
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposal to upgrade messaging app
  proposals/proposal-137.sh
Due: prettier --write --ignore-unknown

fix: Fix landing page UI
  proposals/proposal-138.sh
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/routes/(app)/+page.svelte
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: improve button UI
  src/ic_message_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_message_frontend/src/routes/(app)/+page.svelte
Due: prettier --write --ignore-unknown

chore: update messaging app dependencies
  pnpm-lock.yaml
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/components/messages/ProfileDetail.svelte
Due: prettier --write --ignore-unknown, sort-package-json

chore: improve messaging app UI & UX
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/components/messages/ChannelDetail.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_message_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposals to upgrade messaging app and SNS canisters
  proposals/proposal-139.sh
  proposals/proposal-147.sh
Due: prettier --write --ignore-unknown

feat: add profile links
  Cargo.lock
  Cargo.toml
  pnpm-lock.yaml
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/canisters/messageprofile.ts
  src/ic_message_frontend/src/lib/components/messages/LinkEditModal.svelte
  src/ic_message_frontend/src/lib/components/messages/MyProfile.svelte
  src/ic_message_frontend/src/lib/components/messages/ProfileDetail.svelte
  src/ic_message_frontend/src/lib/components/ui/LinkItem.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/lib/stores/message_agent.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add governance canister as controller
  Cargo.lock
  Cargo.toml
  canister_ids.json
  dfx.json
  src/ic_message_channel/src/lib.rs
  src/ic_message_profile/src/lib.rs
Due: prettier --write --ignore-unknown

chore: add proposals to upgrade massaging app to v2.5
  proposals/proposal-148.sh
  proposals/proposal-149.sh
  proposals/proposal-150.sh
  proposals/proposal-151.sh
  proposals/proposal-152.sh
  proposals/proposal-153.sh
  proposals/proposal-154.sh
  proposals/proposal-155.sh
  sns_functions.md
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/declarations/ic_oss_bucket/ic_oss_bucket.did
  src/ic_message_frontend/src/declarations/ic_oss_bucket/ic_oss_bucket.did.d.ts
  src/ic_message_frontend/src/declarations/ic_oss_bucket/ic_oss_bucket.did.js
  src/ic_message_frontend/src/declarations/ic_oss_bucket/index.d.ts
  src/ic_message_frontend/src/declarations/ic_oss_bucket/index.js
  src/ic_message_frontend/src/declarations/ic_oss_cluster/ic_oss_cluster.did
  src/ic_message_frontend/src/declarations/ic_oss_cluster/ic_oss_cluster.did.d.ts
  src/ic_message_frontend/src/declarations/ic_oss_cluster/ic_oss_cluster.did.js
  src/ic_message_frontend/src/declarations/ic_oss_cluster/index.d.ts
  src/ic_message_frontend/src/declarations/ic_oss_cluster/index.js
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/static/.ic-assets.json
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

fix: fix profile page
  Cargo.lock
  Cargo.toml
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/components/core/AvatarUploadModal.svelte
  src/ic_message_frontend/src/lib/components/messages/LinkEditModal.svelte
  src/ic_message_frontend/src/lib/components/messages/MyProfile.svelte
  src/ic_message_frontend/src/lib/components/ui/ImageCrop.svelte
  src/ic_message_frontend/src/lib/components/ui/LinkItem.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/routes/(app)/[username]/+page.svelte
  src/ic_message_types/src/profile.rs
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposals to upgrade messaging app
  pnpm-lock.yaml
  proposals/proposal-156.sh
  proposals/proposal-157.sh
  proposals/proposal-158.sh
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

fix: fix authClient for web workers
  proposals/proposal-158.sh
  src/ic_message_frontend/src/lib/stores/auth.ts
  src/ic_message_frontend/src/lib/utils/auth.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat: support resetting password
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/components/messages/ChannelDetail.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_message_frontend/src/lib/components/messages/Chat.svelte
  src/ic_message_frontend/src/lib/components/messages/MyChannelList.svelte
  src/ic_message_frontend/src/lib/components/messages/PasswordModel.svelte
  src/ic_message_frontend/src/lib/components/messages/UserSelectModel.svelte
  src/ic_message_frontend/src/lib/components/ui/Loading.svelte
  src/ic_message_frontend/src/lib/components/ui/SendTokenForm.svelte
  src/ic_message_frontend/src/lib/components/ui/TextAreaAutosize.svelte
  src/ic_message_frontend/src/lib/components/ui/TextClipboardPopup.svelte
  src/ic_message_frontend/src/lib/components/ui/TextClipboardPopupIcon.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/lib/stores/message.ts
  src/ic_message_frontend/src/lib/stores/message_agent.ts
  src/ic_message_frontend/src/lib/stores/toast.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposal to upgrade messaging app
  proposals/proposal-159.sh
Due: prettier --write --ignore-unknown

feat: support QR in profile page
  pnpm-lock.yaml
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/app.pcss
  src/ic_message_frontend/src/lib/components/messages/ChannelCreateModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelEditModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelTopupModal.svelte
  src/ic_message_frontend/src/lib/components/messages/Chat.svelte
  src/ic_message_frontend/src/lib/components/messages/MyChannelList.svelte
  src/ic_message_frontend/src/lib/components/messages/MyProfile.svelte
  src/ic_message_frontend/src/lib/components/messages/PasswordModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ProfileDetail.svelte
  src/ic_message_frontend/src/lib/components/messages/ProfileEditModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ProfileModal.svelte
  src/ic_message_frontend/src/lib/components/messages/UserRegisterModal.svelte
  src/ic_message_frontend/src/lib/components/messages/UserSelectModal.svelte
  src/ic_message_frontend/src/lib/components/messages/UsernameTransferModal.svelte
  src/ic_message_frontend/src/lib/components/ui/LinkItem.svelte
  src/ic_message_frontend/src/lib/components/ui/QrModal.svelte
  src/ic_message_frontend/src/lib/components/ui/SendTokenForm.svelte
  src/ic_message_frontend/src/lib/components/ui/TextAreaAutosize.svelte
  src/ic_message_frontend/src/lib/components/ui/TextClipboardPopup.svelte
  src/ic_message_frontend/src/lib/components/ui/TextClipboardPopupIcon.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/routes/(app)/+page.svelte
  src/ic_panda_frontend/package.json
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposal to upgrade messaging app
  proposals/proposal-160.sh
Due: prettier --write --ignore-unknown
