Repository ldclabs/ic-panda: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*": "prettier --write --ignore-unknown",
  "*.css": "stylelint --fix",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "package.json": "sort-package-json"
}

chore: update dependencies
  pnpm-lock.yaml
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/routes/(app)/+page.svelte
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

feat: add ic_signin_with canister
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  Makefile
  canister_ids.json
  dfx.json
  src/ic_panda_frontend/static/token.json
  src/ic_signin_with/Cargo.toml
  src/ic_signin_with/ic_signin_with.did
  src/ic_signin_with/src/api.rs
  src/ic_signin_with/src/api_admin.rs
  src/ic_signin_with/src/api_eth.rs
  src/ic_signin_with/src/api_init.rs
  src/ic_signin_with/src/api_sol.rs
  src/ic_signin_with/src/helper.rs
  src/ic_signin_with/src/lib.rs
  src/ic_signin_with/src/store.rs
Due: prettier --write --ignore-unknown

chore(ic_panda_frontend): add `/token.json`
  Cargo.lock
  pnpm-lock.yaml
  proposals/proposal-455.sh
  proposals/proposal-456.sh
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/components/core/PageHeader.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/static/_assets/logo.webp
  src/ic_panda_frontend/static/token.json
  src/ic_signin_with/src/api_eth.rs
  src/ic_signin_with/src/store.rs
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

feat(ic_signin_with): verification via HTTP
  Cargo.lock
  src/ic_message_frontend/src/lib/utils/store.ts
  src/ic_signin_with/Cargo.toml
  src/ic_signin_with/src/api.rs
  src/ic_signin_with/src/api_http.rs
  src/ic_signin_with/src/api_init.rs
  src/ic_signin_with/src/lib.rs
  src/ic_signin_with/src/store.rs
Due: prettier --write --ignore-unknown, eslint --fix

chore: add proposals
  proposals/proposal-465.sh
  proposals/proposal-466.sh
  proposals/proposal-467.sh
  proposals/proposal-468.sh
  proposals/proposal-469.sh
  proposals/proposal-470.sh
  sns_functions.md
Due: prettier --write --ignore-unknown

chore: update with latest ICP crates
  Cargo.lock
  Cargo.toml
  Makefile
  src/ic_message/ic_message.did
  src/ic_message/src/api_init.rs
  src/ic_message_channel/ic_message_channel.did
  src/ic_message_profile/ic_message_profile.did
  src/ic_panda_luckypool/src/api_admin.rs
  src/ic_panda_luckypool/src/api_init.rs
  src/ic_panda_luckypool/src/store.rs
  src/ic_signin_with/src/api_init.rs
  src/x_auth/src/main.rs
Due: prettier --write --ignore-unknown

chore: add proposals
  proposals/proposal-471.sh
  proposals/proposal-472.sh
  proposals/proposal-473.sh
  proposals/proposal-474.sh
  proposals/proposal-475.sh
  proposals/proposal-476.sh
  proposals/proposal-477.sh
Due: prettier --write --ignore-unknown

chore: add proposals
  .gitignore
  proposals/proposal-478.sh
  proposals/proposal-479.sh
  proposals/proposal-480.sh
  proposals/proposal-482.sh
  src/ic_message_frontend/src/declarations/ic_message/ic_message.did
  src/ic_message_frontend/src/declarations/ic_message/ic_message.did.d.ts
  src/ic_message_frontend/src/declarations/ic_message/ic_message.did.js
  src/ic_message_frontend/src/declarations/ic_message_channel/ic_message_channel.did
  src/ic_message_frontend/src/declarations/ic_message_channel/ic_message_channel.did.d.ts
  src/ic_message_frontend/src/declarations/ic_message_channel/ic_message_channel.did.js
  src/ic_message_frontend/src/declarations/ic_message_profile/ic_message_profile.did
  src/ic_message_frontend/src/declarations/ic_message_profile/ic_message_profile.did.d.ts
  src/ic_message_frontend/src/declarations/ic_message_profile/ic_message_profile.did.js
  src/ic_message_frontend/src/declarations/ic_signin_with/ic_signin_with.did
  src/ic_message_frontend/src/declarations/ic_signin_with/ic_signin_with.did.d.ts
  src/ic_message_frontend/src/declarations/ic_signin_with/ic_signin_with.did.js
  src/ic_message_frontend/src/declarations/ic_signin_with/index.d.ts
  src/ic_message_frontend/src/declarations/ic_signin_with/index.js
Due: prettier --write --ignore-unknown, eslint --fix

feat(ic_panda_frontend): link the 2026 whitepaper from the footer
  src/ic_panda_frontend/src/lib/components/core/PageFooter.svelte
  src/ic_panda_frontend/src/lib/site.ts
  whitepaper/2026.cn.md
  whitepaper/2026.en.md
Due: prettier --write --ignore-unknown, eslint --fix

fix(ic_panda_frontend): stop applying display tracking at card-title sizes
  src/ic_panda_frontend/src/app.pcss
  src/ic_panda_frontend/src/lib/components/core/PageFooter.svelte
  src/ic_panda_frontend/src/lib/components/landing/SectionArchive.svelte
  src/ic_panda_frontend/src/lib/components/landing/SectionDao.svelte
  src/ic_panda_frontend/src/lib/components/landing/SectionPanda.svelte
  src/ic_panda_frontend/src/lib/components/landing/SectionPrinciples.svelte
  src/ic_panda_frontend/src/lib/components/landing/SectionProjects.svelte
Due: prettier --write --ignore-unknown

fix(ic_panda_frontend): spell out the ampersand in "Treasury and Token"
  README.md
  src/ic_panda_frontend/src/lib/site.ts
  whitepaper/2024/en.md
  whitepaper/2024/zh.md
  whitepaper/2026.cn.md
  whitepaper/2026.en.md
  whitepaper/en.md
  whitepaper/zh.md
Due: prettier --write --ignore-unknown, eslint --fix

fix(ic_panda_frontend): drop the stale PWA type reference from tsconfig
  src/ic_panda_frontend/tsconfig.json
Due: prettier --write --ignore-unknown

fix(ic_panda_frontend): spell out the ampersand in "Treasury and Token"
  pnpm-lock.yaml
  src/ic_panda_frontend/package.json
Due: prettier --write --ignore-unknown, sort-package-json

chore: ic_panda_frontend v3.0.0
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

docs(whitepaper): rename 资本形成 to 资本募集 (Capital Formation)
  whitepaper/zh.md
Due: prettier --write --ignore-unknown

chore: add SNS proposals for frontend v3.0.0 and SNS description
  .gitignore
  proposals/proposal-483.sh
  proposals/proposal-484.sh
Due: prettier --write --ignore-unknown

style(frontend): cool paper ground, blueprint grid, and layout polish
  src/ic_panda_frontend/src/app.css
  src/ic_panda_frontend/src/app.html
  src/ic_panda_frontend/src/lib/components/core/PageFooter.svelte
  src/ic_panda_frontend/src/lib/components/core/PageHeader.svelte
  src/ic_panda_frontend/src/lib/components/landing/SectionCta.svelte
  src/ic_panda_frontend/src/lib/components/landing/SectionHero.svelte
  src/ic_panda_frontend/src/lib/components/landing/SectionPrinciples.svelte
  src/ic_panda_frontend/src/lib/components/landing/SectionShell.svelte
  src/ic_panda_frontend/src/lib/components/ui/ModalCard.svelte
  src/ic_panda_frontend/src/routes/(app)/_/luckypool/+page.svelte
  src/ic_panda_frontend/tailwind.config.ts
Due: prettier --write --ignore-unknown, stylelint --fix, eslint --fix

fix(frontend): settle modal responses and handle clipboard failures
  src/ic_panda_frontend/src/lib/components/core/AirdropModal.svelte
  src/ic_panda_frontend/src/lib/components/ui/QRCodeReaderModal.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextClipboardButton.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextClipboardPopup.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextClipboardPopupIcon.svelte
  src/ic_panda_frontend/src/lib/components/ui/ToastHost.svelte
  src/ic_panda_frontend/src/lib/ui/stores.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: ic_panda_frontend v3.1.0 and its release proposal
  proposals/proposal-494.sh
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/declarations/icp_ledger_canister/icp_ledger_canister.did.d.ts
  src/ic_panda_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

perf(ic_name_identity): reduce canister cycle costs
  Cargo.lock
  Cargo.toml
  src/ic_name_identity/Cargo.toml
  src/ic_name_identity/src/api.rs
  src/ic_name_identity/src/api_admin.rs
  src/ic_name_identity/src/lib.rs
  src/ic_name_identity/src/store.rs
  src/ic_name_identity/src/types.rs
Due: prettier --write --ignore-unknown

fix(ic_name_identity): close delegation privilege-escalation gaps
  src/ic_name_identity/src/store.rs
Due: prettier --write --ignore-unknown

perf(ic_signin_with): reduce canister cycle costs
  Cargo.lock
  Cargo.toml
  src/ic_signin_with/Cargo.toml
  src/ic_signin_with/src/api.rs
  src/ic_signin_with/src/api_admin.rs
  src/ic_signin_with/src/api_eth.rs
  src/ic_signin_with/src/api_http.rs
  src/ic_signin_with/src/api_init.rs
  src/ic_signin_with/src/api_sol.rs
  src/ic_signin_with/src/helper.rs
  src/ic_signin_with/src/store.rs
Due: prettier --write --ignore-unknown

fix(ic_signin_with): survive an unwritten state cell and keep error responses certified
  src/ic_signin_with/src/api_http.rs
  src/ic_signin_with/src/store.rs
Due: prettier --write --ignore-unknown

chore: unify all licensing under Apache-2.0
  Cargo.toml
  LICENSE
  NOTICE
  README.md
  package.json
  src/cli_airdrop/Cargo.toml
  src/cli_cryptogram/Cargo.toml
  src/cli_dmsg/Cargo.toml
  src/ic_dmsg_minter/README.md
  src/ic_message_frontend/package.json
  src/ic_panda_frontend/package.json
Due: prettier --write --ignore-unknown, sort-package-json

feat(ic_panda_frontend): link to CoinGecko from the PANDA section
  src/ic_panda_frontend/src/lib/components/landing/SectionPanda.svelte
  src/ic_panda_frontend/src/lib/site.ts
Due: prettier --write --ignore-unknown, eslint --fix

ci: pin ic-wasm and use binaryen wasm-opt for canister builds
  .github/workflows/release.yml
Due: prettier --write --ignore-unknown

refactor(ic_delegation_store): rework the delegation relay and its origin config
  Cargo.lock
  Cargo.toml
  src/ic_delegation_store/Cargo.toml
  src/ic_delegation_store/src/api_http.rs
  src/ic_delegation_store/src/api_init.rs
  src/ic_delegation_store/src/store.rs
Due: prettier --write --ignore-unknown

feat(ic_panda_frontend): sign in through id.ai and soften the v2 surfaces
  Cargo.lock
  Cargo.toml
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/app.css
  src/ic_panda_frontend/src/lib/components/core/AirdropCard.svelte
  src/ic_panda_frontend/src/lib/components/core/PageHeader.svelte
  src/ic_panda_frontend/src/lib/components/landing/AllocationChart.svelte
  src/ic_panda_frontend/src/lib/components/landing/HeroSchematic.svelte
  src/ic_panda_frontend/src/lib/components/landing/SectionArchive.svelte
  src/ic_panda_frontend/src/lib/components/landing/SectionDao.svelte
  src/ic_panda_frontend/src/lib/components/landing/SectionPanda.svelte
  src/ic_panda_frontend/src/lib/components/landing/SectionProjects.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/services/auth.ts
  src/ic_panda_frontend/src/lib/stores/auth.ts
Due: prettier --write --ignore-unknown, stylelint --fix, eslint --fix, sort-package-json

chore(proposals): add the v2.15.1 and v3.1.1 release proposals
  proposals/proposal-495.sh
  proposals/proposal-496.sh
  proposals/proposal-497.sh
  proposals/proposal-498.sh
Due: prettier --write --ignore-unknown

docs: present dMsg as a live Chrome workspace
  .gitignore
  src/ic_panda_frontend/src/app.html
  src/ic_panda_frontend/src/lib/components/core/PageFooter.svelte
  src/ic_panda_frontend/src/lib/components/landing/HeroSchematic.svelte
  src/ic_panda_frontend/src/lib/components/landing/ProjectDmsg.svelte
  src/ic_panda_frontend/src/lib/components/landing/SectionArchive.svelte
  src/ic_panda_frontend/src/lib/components/landing/SectionHero.svelte
  src/ic_panda_frontend/src/lib/components/landing/SectionProjects.svelte
  src/ic_panda_frontend/src/lib/site.ts
  whitepaper/en.md
  whitepaper/zh.md
Due: prettier --write --ignore-unknown, eslint --fix

fix(dmsg_frontend): resolve landing navigation and metadata regressions
  src/dmsg_frontend/LANDING_QA.md
  src/dmsg_frontend/src/app.html
  src/dmsg_frontend/src/lib/components/landing/Landing.svelte
  src/dmsg_frontend/src/lib/components/landing/landing.css
  src/dmsg_frontend/src/lib/i18n/README.md
  src/dmsg_frontend/src/lib/i18n/messages/zh.ts
  src/dmsg_frontend/src/routes/(app)/legacy/+page.svelte
  src/dmsg_frontend/src/routes/+layout.svelte
  src/dmsg_frontend/src/routes/+layout.ts
Due: prettier --write --ignore-unknown, stylelint --fix, eslint --fix
