Repository ldclabs/ic-panda: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*": "prettier --write --ignore-unknown",
  "*.css": "stylelint --fix",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "package.json": "sort-package-json"
}

feat: support mention '@'
  Cargo.lock
  Cargo.toml
  proposals/proposal-304.sh
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_message_frontend/src/lib/components/ui/TextAreaAutosize.svelte
  src/ic_message_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposals to upgrade dMsg
  pnpm-lock.yaml
  proposals/proposal-305.sh
  proposals/proposal-306.sh
  proposals/proposal-307.sh
  proposals/proposal-308.sh
  src/ic_message_frontend/package.json
Due: prettier --write --ignore-unknown, sort-package-json

chore: proposals #312, #313
  proposals/proposal-312.sh
  proposals/proposal-313.sh
  src/ic_panda_frontend/src/lib/components/core/PrizeModal.svelte
Due: prettier --write --ignore-unknown

chore: register IC-TEE Identity canister
  proposals/proposal-314.sh
Due: prettier --write --ignore-unknown

chore: add proposal to upgrade ICPanda SNS
  proposals/proposal-322.sh
Due: prettier --write --ignore-unknown

chore: remove ic-domain icpanda.xyz
  src/ic_panda_frontend/static/.well-known/ic-domains
  src/ic_panda_frontend/static/.well-known/ii-alternative-origins
Due: prettier --write --ignore-unknown

chore: update ic_panda_frontend dependencies.
  pnpm-lock.yaml
  proposals/proposal-324.sh
  src/ic_message_frontend/package.json
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/declarations/ic_cose_canister/ic_cose_canister.did
  src/ic_panda_frontend/src/declarations/ic_cose_canister/ic_cose_canister.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_cose_canister/ic_cose_canister.did.js
  src/ic_panda_frontend/src/declarations/ic_oss_bucket/ic_oss_bucket.did
  src/ic_panda_frontend/src/declarations/ic_oss_bucket/ic_oss_bucket.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_oss_bucket/ic_oss_bucket.did.js
  src/ic_panda_frontend/src/declarations/ic_oss_bucket_02/ic_oss_bucket_02.did
  src/ic_panda_frontend/src/declarations/ic_oss_bucket_02/ic_oss_bucket_02.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_oss_bucket_02/ic_oss_bucket_02.did.js
  src/ic_panda_frontend/src/declarations/ic_oss_cluster/ic_oss_cluster.did
  src/ic_panda_frontend/src/declarations/ic_oss_cluster/ic_oss_cluster.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_oss_cluster/ic_oss_cluster.did.js
  src/ic_panda_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposals to update DAO
  proposals/proposal-325.sh
  proposals/proposal-326.sh
  proposals/proposal-327.sh
  sns_functions.md
Due: prettier --write --ignore-unknown

chore: add proposals for maintaining the liquidity of ICPSwap
  proposals/proposal-327.sh
  proposals/proposal-328.sh
  proposals/proposal-329.sh
  proposals/proposal-330.sh
  proposals/proposal-331.sh
  proposals/proposal-332.sh
  proposals/proposal-333.sh
  proposals/proposal-334.sh
  proposals/proposal-335.sh
Due: prettier --write --ignore-unknown

chore: add proposal 337 to set topics for SNS proposals
  proposals/proposal-337.sh
Due: prettier --write --ignore-unknown

chore: proposal to add liquidity on `kongswap`
  proposals/proposal-339.sh
  src/ic_message_frontend/src/declarations/ic_cose_canister/ic_cose_canister.did
  src/ic_message_frontend/src/declarations/ic_cose_canister/ic_cose_canister.did.d.ts
  src/ic_message_frontend/src/declarations/ic_cose_canister/ic_cose_canister.did.js
  src/ic_message_frontend/src/declarations/ic_oss_bucket/ic_oss_bucket.did
  src/ic_message_frontend/src/declarations/ic_oss_bucket/ic_oss_bucket.did.d.ts
  src/ic_message_frontend/src/declarations/ic_oss_bucket/ic_oss_bucket.did.js
  src/ic_message_frontend/src/declarations/ic_oss_cluster/ic_oss_cluster.did
  src/ic_message_frontend/src/declarations/ic_oss_cluster/ic_oss_cluster.did.d.ts
  src/ic_message_frontend/src/declarations/ic_oss_cluster/ic_oss_cluster.did.js
Due: prettier --write --ignore-unknown, eslint --fix

chore: add proposal 340 to move tokens to DAO treasury
  proposals/proposal-340.sh
Due: prettier --write --ignore-unknown

chore: add proposal to lock 10% of the total PANDA tokens
  proposals/proposal-341.sh
  proposals/proposal-342.sh
Due: prettier --write --ignore-unknown

chore: update frontend dependencies
  canister_ids.json
  dfx.json
  package.json
  pnpm-lock.yaml
  scripts/deployment_guide.md
  src/ic_message_frontend/package.json
  src/ic_message_frontend/postcss.config.js
  src/ic_message_frontend/src/lib/components/messages/Chat.svelte
  src/ic_message_frontend/src/lib/components/messages/MyChannelList.svelte
  src/ic_message_frontend/src/lib/components/messages/MyProfile.svelte
  src/ic_message_frontend/src/lib/components/ui/QrModal.svelte
  src/ic_message_frontend/src/routes/(app)/[username]/+page.svelte
  src/ic_message_frontend/src/routes/(app)/_/+layout.svelte
  src/ic_message_frontend/vite.config.js
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/postcss.config.js
  src/ic_panda_frontend/showcase.json
  src/ic_panda_frontend/src/app.pcss
  src/ic_panda_frontend/src/declarations/ic_oss_bucket_02/ic_oss_bucket_02.did
  src/ic_panda_frontend/src/declarations/ic_oss_bucket_02/ic_oss_bucket_02.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_oss_bucket_02/ic_oss_bucket_02.did.js
  src/ic_panda_frontend/src/lib/components/core/AirdropCard.svelte
  src/ic_panda_frontend/src/lib/components/core/AirdropModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PageHeader.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeCard.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeCreateModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeModal.svelte
  src/ic_panda_frontend/src/lib/components/ui/QRCodeReaderModal.svelte
  src/ic_panda_frontend/src/lib/components/wallet/CKDogeReceiveModal.svelte
  src/ic_panda_frontend/src/lib/components/wallet/DogeReceiveModal.svelte
  src/ic_panda_frontend/src/routes/(app)/[username]/+page.svelte
  src/ic_panda_frontend/src/routes/_callback/auth/+page.svelte
  src/ic_panda_frontend/tailwind.config.ts
  src/ic_panda_frontend/vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposals to upgrade frontend
  proposals/proposal-343.sh
  proposals/proposal-344.sh
Due: prettier --write --ignore-unknown

fix: fix ImageCrop for ic_message_frontend
  src/ic_message_frontend/src/lib/components/ui/ImageCrop.svelte
  src/ic_message_types/src/profile.rs
  src/ic_panda_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix: fix type warning for ic_message_frontend
  src/ic_message_frontend/src/declarations/ic_oss_bucket_02/ic_oss_bucket_02.did
  src/ic_message_frontend/src/declarations/ic_oss_bucket_02/ic_oss_bucket_02.did.d.ts
  src/ic_message_frontend/src/declarations/ic_oss_bucket_02/ic_oss_bucket_02.did.js
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/lib/stores/message_agent.ts
  src/ic_message_frontend/src/lib/types/file.ts
  src/ic_message_frontend/src/lib/utils/account_identifier.ts
  src/ic_message_frontend/src/lib/utils/fetcher.ts
  src/ic_message_frontend/src/lib/utils/store.ts
  src/ic_message_frontend/src/lib/utils/url.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: add proposal to upgrade ic_message_frontend
  proposals/proposal-348.sh
Due: prettier --write --ignore-unknown

feat: support deep link oauth
  src/ic_message_frontend/src/lib/stores/auth.ts
  src/ic_message_frontend/src/lib/utils/auth.ts
  src/ic_message_frontend/src/routes/(app)/_/oauth/+layout@(app).svelte
  src/ic_message_frontend/src/routes/(app)/_/oauth/deeplink/+page.svelte
Due: prettier --write --ignore-unknown, eslint --fix

chore: ic_message_frontend v2.11.0
  pnpm-lock.yaml
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/lib/stores/auth.ts
  src/ic_message_frontend/src/lib/utils/auth.ts
  src/ic_message_frontend/src/routes/(app)/_/oauth/deeplink/+page.svelte
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

fix: fix deeplink auth
  proposals/proposal-349.sh
  proposals/proposal-350.sh
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/lib/stores/auth.ts
  src/ic_message_frontend/src/routes/(app)/_/oauth/deeplink/+page.svelte
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: remove ck-doge frontend
  pnpm-lock.yaml
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/declarations/ck-doge-canister/ck-doge-canister.did
  src/ic_panda_frontend/src/declarations/ck-doge-canister/ck-doge-canister.did.d.ts
  src/ic_panda_frontend/src/declarations/ck-doge-canister/ck-doge-canister.did.js
  src/ic_panda_frontend/src/declarations/ck-doge-canister/index.d.ts
  src/ic_panda_frontend/src/declarations/ck-doge-canister/index.js
  src/ic_panda_frontend/src/declarations/ck-doge-minter/ck-doge-minter.did
  src/ic_panda_frontend/src/declarations/ck-doge-minter/ck-doge-minter.did.d.ts
  src/ic_panda_frontend/src/declarations/ck-doge-minter/ck-doge-minter.did.js
  src/ic_panda_frontend/src/declarations/ck-doge-minter/index.d.ts
  src/ic_panda_frontend/src/declarations/ck-doge-minter/index.js
  src/ic_panda_frontend/src/declarations/ic_oss_bucket_02/ic_oss_bucket_02.did
  src/ic_panda_frontend/src/declarations/ic_oss_bucket_02/ic_oss_bucket_02.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_oss_bucket_02/ic_oss_bucket_02.did.js
  src/ic_panda_frontend/src/lib/canisters/ckdogecanister.ts
  src/ic_panda_frontend/src/lib/canisters/ckdogeminter.ts
  src/ic_panda_frontend/src/lib/components/core/PageHeader.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconCkDOGE.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconDOGE.svelte
  src/ic_panda_frontend/src/lib/components/wallet/CKDogeCard.svelte
  src/ic_panda_frontend/src/lib/components/wallet/CKDogeReceiveModal.svelte
  src/ic_panda_frontend/src/lib/components/wallet/CKDogeSendModal.svelte
  src/ic_panda_frontend/src/lib/components/wallet/Cards.svelte
  src/ic_panda_frontend/src/lib/components/wallet/DogeCard.svelte
  src/ic_panda_frontend/src/lib/components/wallet/DogeReceiveModal.svelte
  src/ic_panda_frontend/src/lib/components/wallet/DogeSendModal.svelte
  src/ic_panda_frontend/src/lib/utils/dogecoin.ts
  src/ic_panda_frontend/src/lib/utils/fetcher.ts
  src/ic_panda_frontend/src/lib/utils/store.ts
  src/ic_panda_frontend/src/lib/utils/url.ts
  src/ic_panda_frontend/src/routes/(app)/_/wallet/+page.svelte
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: improve ic_panda_frontend landing page style
  proposals/proposal-351.sh
  src/ic_panda_frontend/src/lib/components/core/PageFooter.svelte
  src/ic_panda_frontend/src/lib/components/core/PageHeader.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconAndaLogo.svelte
  src/ic_panda_frontend/src/routes/(app)/+page.svelte
  src/ic_panda_frontend/static/_assets/anda.svg
Due: prettier --write --ignore-unknown

chore: add proposals
  proposals/proposal-352.sh
  proposals/proposal-353.sh
Due: prettier --write --ignore-unknown

feat: support more SignIn providers
  src/ic_message_frontend/src/lib/components/core/SignInModal.svelte
  src/ic_message_frontend/src/lib/components/core/TopupTokenModal.svelte
  src/ic_message_frontend/src/lib/components/core/WalletDetailModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelImageUploadModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelUpdateStorageModal.svelte
  src/ic_message_frontend/src/lib/components/messages/Chat.svelte
  src/ic_message_frontend/src/lib/components/messages/MyProfile.svelte
  src/ic_message_frontend/src/lib/components/messages/PasswordModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ProfileDetail.svelte
  src/ic_message_frontend/src/lib/components/messages/UserRegisterModal.svelte
  src/ic_message_frontend/src/routes/(app)/+page.svelte
  src/ic_message_frontend/src/routes/(app)/_/oauth/deeplink/+page.svelte
Due: prettier --write --ignore-unknown

chore: update landing page
  pnpm-lock.yaml
  proposals/proposal-354.sh
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/components/core/MoreMenuPopup.svelte
  src/ic_message_frontend/src/lib/components/core/SignInModal.svelte
  src/ic_message_frontend/src/lib/components/ui/Saos.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/routes/(app)/+page.svelte
  src/ic_message_frontend/src/routes/(app)/_/oauth/deeplink/+page.svelte
  src/ic_message_frontend/static/_assets/images/icexplorer.webp
  src/ic_message_frontend/static/_assets/images/kongswap.webp
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: improve ic_panda_frontend landing page
  pnpm-lock.yaml
  proposals/proposal-355.sh
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/components/core/PageFooter.svelte
  src/ic_panda_frontend/src/lib/components/core/PageHeader.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/routes/(app)/+page.svelte
  src/ic_panda_frontend/src/routes/(app)/_/luckypool/+page.svelte
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposals to upgrade IC OSS canisters
  proposals/proposal-359.sh
  proposals/proposal-360.sh
  proposals/proposal-361.sh
  proposals/proposal-362.sh
Due: prettier --write --ignore-unknown

chore: add proposal to upgrade ic-cose for vetkey
  proposals/proposal-363.sh
Due: prettier --write --ignore-unknown

chore: add proposals to upgrade canisters
  proposals/proposal-364.sh
  proposals/proposal-365.sh
  proposals/proposal-366.sh
  proposals/proposal-367.sh
  proposals/proposal-368.sh
  proposals/proposal-369.sh
  proposals/proposal-370.sh
Due: prettier --write --ignore-unknown

feat(ic_message_frontend): upgrade to VetKeys
  pnpm-lock.yaml
  src/ic_message/src/store.rs
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/declarations/ic_message/ic_message.did
  src/ic_message_frontend/src/declarations/ic_message/ic_message.did.d.ts
  src/ic_message_frontend/src/declarations/ic_message/ic_message.did.js
  src/ic_message_frontend/src/declarations/ic_message_channel/ic_message_channel.did
  src/ic_message_frontend/src/declarations/ic_message_channel/ic_message_channel.did.d.ts
  src/ic_message_frontend/src/declarations/ic_message_channel/ic_message_channel.did.js
  src/ic_message_frontend/src/declarations/ic_message_profile/ic_message_profile.did
  src/ic_message_frontend/src/declarations/ic_message_profile/ic_message_profile.did.d.ts
  src/ic_message_frontend/src/declarations/ic_message_profile/ic_message_profile.did.js
  src/ic_message_frontend/src/lib/canisters/cose.ts
  src/ic_message_frontend/src/lib/components/core/SignInModal.svelte
  src/ic_message_frontend/src/lib/components/messages/Chat.svelte
  src/ic_message_frontend/src/lib/components/messages/PasswordModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ProfileDetail.svelte
  src/ic_message_frontend/src/lib/components/ui/ModalCard.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/lib/stores/message.ts
  src/ic_message_frontend/src/routes/(app)/+layout.svelte
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposals to update IC COSE service
  proposals/proposal-371.sh
  proposals/proposal-372.sh
  proposals/proposal-373.sh
  sns_functions.md
Due: prettier --write --ignore-unknown

chore(ic_message_frontend): update for vetKeys
  src/ic_message/src/api_update.rs
  src/ic_message/src/store.rs
  src/ic_message_frontend/src/lib/canisters/cose.ts
  src/ic_message_frontend/src/lib/components/messages/MyProfile.svelte
  src/ic_message_frontend/src/lib/components/messages/UserRegisterModal.svelte
  src/ic_message_frontend/src/lib/services/notification.sw.ts
  src/ic_message_frontend/src/lib/stores/kvstore.ts
  src/ic_message_frontend/src/lib/stores/message.ts
  src/ic_message_frontend/src/lib/types/result.ts
  src/ic_message_frontend/src/service-worker.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: submit proposals
  proposals/proposal-372.sh
  proposals/proposal-373.sh
  proposals/proposal-374.sh
Due: prettier --write --ignore-unknown

chore: deregister ic_panda_infra canister
  canister_ids.json
  proposals/proposal-375.sh
  src/ic_message_frontend/src/declarations/ic_panda_ai/ic_panda_ai.did
  src/ic_message_frontend/src/declarations/ic_panda_ai/ic_panda_ai.did.d.ts
  src/ic_message_frontend/src/declarations/ic_panda_ai/ic_panda_ai.did.js
  src/ic_message_frontend/src/declarations/ic_panda_ai/index.d.ts
  src/ic_message_frontend/src/declarations/ic_panda_ai/index.js
  src/ic_message_frontend/src/declarations/ic_panda_infra/ic_panda_infra.did
  src/ic_message_frontend/src/declarations/ic_panda_infra/ic_panda_infra.did.d.ts
  src/ic_message_frontend/src/declarations/ic_panda_infra/ic_panda_infra.did.js
  src/ic_message_frontend/src/declarations/ic_panda_infra/index.d.ts
  src/ic_message_frontend/src/declarations/ic_panda_infra/index.js
Due: prettier --write --ignore-unknown, eslint --fix

chore: add proposals to upgrade DMSG ledger canisters
  proposals/proposal-376.sh
  proposals/proposal-377.sh
  proposals/proposal-378.sh
  proposals/proposal-379.sh
Due: prettier --write --ignore-unknown

chore(ic_message_frontend): update content for vetKeys.
  src/ic_message_frontend/src/lib/components/messages/MyProfile.svelte
  src/ic_message_frontend/src/lib/components/messages/PasswordModal.svelte
  src/ic_message_frontend/src/lib/components/messages/UserRegisterModal.svelte
  src/ic_message_frontend/src/routes/(app)/+page.svelte
Due: prettier --write --ignore-unknown
