Repository ldclabs/ic-panda: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*": "prettier --write --ignore-unknown",
  "*.css": "stylelint --fix",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "package.json": "sort-package-json"
}

Chore: improve code
  src/ic_panda_luckypool/src/store.rs
  src/ic_panda_luckypool/src/utils.rs
Due: prettier --write --ignore-unknown

Chore: remove unnecessary captcha api
  Cargo.lock
  src/ic_panda_frontend/static/.ic-assets.json5
  src/ic_panda_luckypool/Cargo.toml
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/types.rs
Due: prettier --write --ignore-unknown

Proposal: add #28, #29 to upgrade app to v1.5.0
  proposals/proposal-028.sh
  proposals/proposal-029.sh
Due: prettier --write --ignore-unknown

Chore: improve prize UI
  src/ic_panda_frontend/src/lib/canisters/luckypool.ts
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawCard.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyPoolChart.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeCard.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeCreateModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeShow.svelte
  src/ic_panda_frontend/src/lib/services/auth.ts
  src/ic_panda_frontend/src/lib/types/result.ts
  src/ic_panda_luckypool/src/api_update.rs
Due: prettier --write --ignore-unknown, eslint --fix

Proposal: add #30 to upgrade app to v1.5.2
  proposals/proposal-030.sh
Due: prettier --write --ignore-unknown

Fix: fix integer subtraction for overflowing
  proposals/proposal-031.sh
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/store.rs
Due: prettier --write --ignore-unknown

Chore: improve frontend
  src/ic_panda_frontend/showcase.json
  src/ic_panda_frontend/src/lib/components/core/AccountDetailModal.svelte
  src/ic_panda_frontend/src/lib/components/core/AirdropCard.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyPoolChart.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyTransferModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeCard.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeShow.svelte
  src/ic_panda_frontend/src/lib/utils/window.ts
  src/ic_panda_frontend/src/routes/(app)/+layout.svelte
  src/ic_panda_frontend/src/routes/(app)/+page.svelte
  src/ic_panda_frontend/tailwind.config.js
Due: prettier --write --ignore-unknown, eslint --fix

Proposal: add #32 to upgrade app to v1.5.3
  proposals/proposal-032.sh
Due: prettier --write --ignore-unknown

Feat: add 'prize_ongoing()' and 'principal_by_luckycode(luckycode)' in 'ic_panda_luckypool'
  proposals/proposal-030.sh
  proposals/proposal-033.sh
  proposals/proposal-034.sh
  src/ic_panda_luckypool/ic_panda_luckypool.did
  src/ic_panda_luckypool/src/api_init.rs
  src/ic_panda_luckypool/src/api_query.rs
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/store.rs
Due: prettier --write --ignore-unknown

Feat: support QR code for PANDA prize
  pnpm-lock.yaml
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyTransferModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PageHeader.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeCard.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeCreateModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeShow.svelte
  src/ic_panda_frontend/src/lib/components/ui/QRCodeReaderModal.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextClipboardPopup.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextClipboardPopupIcon.svelte
  src/ic_panda_frontend/src/lib/types/prize.ts
  src/ic_panda_frontend/src/lib/utils/helper.ts
  src/ic_panda_frontend/vite.config.js
  src/ic_panda_luckypool/src/types.rs
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

Proposal: add #35 to upgrade app to v1.5.4
  proposals/proposal-035.sh
Due: prettier --write --ignore-unknown

Feat: Integrating Google's reCAPTCHA v3 again to prevent bots
  package.json
  pnpm-lock.yaml
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/components/core/PrizeCard.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeModal.svelte
  src/ic_panda_frontend/src/lib/components/ui/QRCodeReaderModal.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/services/auth.ts
  src/ic_panda_frontend/src/lib/services/recaptcha.ts
  src/ic_panda_frontend/src/routes/(app)/+layout.svelte
  src/ic_panda_frontend/static/.ic-assets.json5
  src/ic_panda_frontend/tsconfig.json
  src/ic_panda_frontend/vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

Proposal: add #36 to upgrade app to v1.5.5
  proposals/proposal-036.sh
Due: prettier --write --ignore-unknown

Chore: fix prize show info
  src/ic_panda_frontend/src/lib/components/core/PrizeCreateModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeShow.svelte
  src/ic_panda_frontend/src/tests/App.test.ts
Due: prettier --write --ignore-unknown, eslint --fix

Feat: add Google reCAPTCHA verification to x-auth
  src/x_auth/env.sample
  src/x_auth/src/api.rs
  src/x_auth/src/grecaptcha.rs
  src/x_auth/src/main.rs
Due: prettier --write --ignore-unknown

Chore: add hostname validation for Google reCAPTCHA verification on x-auth
  src/x_auth/env.sample
  src/x_auth/src/api.rs
  src/x_auth/src/grecaptcha.rs
  src/x_auth/src/main.rs
Due: prettier --write --ignore-unknown

Chore: fix Google reCAPTCHA on frontend
  src/ic_panda_frontend/src/routes/(app)/+layout.svelte
Due: prettier --write --ignore-unknown

Proposal: add #37 to upgrade app to v1.5.6
  proposals/proposal-037.sh
Due: prettier --write --ignore-unknown

Chore: improve prize claimed result UI
  src/ic_panda_frontend/src/lib/components/core/PrizeClaimed.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeShow.svelte
  src/ic_panda_frontend/src/lib/components/ui/ModalCard.svelte
  src/ic_panda_frontend/static/_assets/images/prize-claimed-bg.webp
Due: prettier --write --ignore-unknown

Proposal: add #38 to upgrade app to v1.5.7
  proposals/proposal-038.sh
Due: prettier --write --ignore-unknown

Proposals: add ICDex Trader proposals (uncompleted)
  proposals/proposal-040.sh
  proposals/proposal-041.sh
  proposals/proposal-042.sh
  proposals/proposal-043.sh
  sns_canister_ids.json
Due: prettier --write --ignore-unknown

Chore: update rust dependencies
  Cargo.lock
  src/x_auth/Cargo.toml
Due: prettier --write --ignore-unknown

Proposals: #43 ~ #55, upgrade SNS to next version
  proposals/proposal-043-0.sh
  proposals/proposal-055.sh
Due: prettier --write --ignore-unknown

Chore: update prize API in `ic_panda_luckypool`
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/types.rs
  src/x_auth/src/grecaptcha.rs
  src/x_auth/src/main.rs
Due: prettier --write --ignore-unknown

Chore: 1. improve x-auth error message; 2. improve prize validation
  src/ic_panda_frontend/src/lib/components/core/AirdropModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeClaimed.svelte
  src/ic_panda_frontend/src/lib/types/prize.ts
  src/ic_panda_frontend/src/routes/callback/auth/+page.svelte
  src/ic_panda_frontend/tailwind.config.js
  src/x_auth/src/api_twitter.rs
Due: prettier --write --ignore-unknown, eslint --fix

Fix: fix prize claiming requirement.
  src/ic_panda_frontend/src/lib/canisters/luckypool.ts
  src/ic_panda_frontend/src/lib/components/core/AirdropCard.svelte
  src/ic_panda_frontend/src/lib/components/core/AirdropModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeCard.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeModal.svelte
  src/ic_panda_frontend/src/lib/types/prize.ts
  src/ic_panda_luckypool/src/api_update.rs
Due: prettier --write --ignore-unknown, eslint --fix

Proposal: add #56, #57 to upgrade app to v1.5.8
  proposals/proposal-056.sh
  proposals/proposal-057.sh
Due: prettier --write --ignore-unknown

Proposals: #58, #59, #60 add 100_000_000 PANDA/4000 ICP liquidity to the PANDA/ICP pool on ICPSwap.
  proposals/proposal-058.sh
  proposals/proposal-059.sh
  proposals/proposal-060.sh
Due: prettier --write --ignore-unknown

Fix: fix app UI style; update dependencies
  pnpm-lock.yaml
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/components/core/PrizeClaimed.svelte
  src/ic_panda_frontend/tailwind.config.js
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

Proposal: add #61 to upgrade app to v1.5.9
  proposals/proposal-061.sh
Due: prettier --write --ignore-unknown

Chore: update twitter auth requirements
  src/x_auth/src/api_twitter.rs
Due: prettier --write --ignore-unknown

proposal: #62 and #63, resubmit: Transfer 64_000_000 PANDA to add liquidity to the PANDA/ICP pool on ICPSwap
  proposals/proposal-059-0.sh
  proposals/proposal-062.sh
  proposals/proposal-063.sh
Due: prettier --write --ignore-unknown

proposal: #64, resubmit: Transfer 9_000_000 PANDA to add liquidity to the PANDA/ICP pool on ICPSwap
  proposals/proposal-063.sh
  proposals/proposal-064.sh
Due: prettier --write --ignore-unknown

feat: improve file API
  Cargo.lock
  README.md
  package.json
  pnpm-lock.yaml
  src/ic_panda_ai/Cargo.toml
  src/ic_panda_ai/ic_panda_ai.did
  src/ic_panda_ai/src/api_admin.rs
  src/ic_panda_ai/src/api_http.rs
  src/ic_panda_ai/src/api_ic_assets.rs
  src/ic_panda_ai/src/api_query.rs
  src/ic_panda_ai/src/api_update.rs
  src/ic_panda_ai/src/lib.rs
  src/ic_panda_ai/src/store.rs
  src/ic_panda_ai/src/types.rs
Due: prettier --write --ignore-unknown, sort-package-json

chore: improve ai loading
  src/ic_panda_ai/ic_panda_ai.did
  src/ic_panda_ai/src/api_admin.rs
  src/ic_panda_ai/src/api_ic_assets.rs
  src/ic_panda_ai/src/api_update.rs
  src/ic_panda_ai/src/lib.rs
  src/ic_panda_ai/src/types.rs
Due: prettier --write --ignore-unknown

Feat: implemented Panda AI
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  canister_ids.json
  dfx.json
  src/ic_panda_ai/Cargo.toml
  src/ic_panda_ai/ic_panda_ai.did
  src/ic_panda_ai/src/ai.rs
  src/ic_panda_ai/src/api_admin.rs
  src/ic_panda_ai/src/api_ic_assets.rs
  src/ic_panda_ai/src/api_init.rs
  src/ic_panda_ai/src/api_query.rs
  src/ic_panda_ai/src/api_update.rs
  src/ic_panda_ai/src/lib.rs
  src/ic_panda_ai/src/store.rs
  src/ic_panda_ai/src/types.rs
Due: prettier --write --ignore-unknown

chore: improve file upload
  package.json
  pnpm-lock.yaml
  src/ic_panda_ai/ic_panda_ai.did
  src/ic_panda_ai/src/api_admin.rs
  src/ic_panda_ai/src/api_http.rs
  src/ic_panda_ai/src/api_ic_assets.rs
  src/ic_panda_ai/src/api_init.rs
  src/ic_panda_ai/src/api_query.rs
  src/ic_panda_ai/src/lib.rs
  src/ic_panda_ai/src/store.rs
Due: prettier --write --ignore-unknown, sort-package-json

chore: update ic_panda_ai README
  Cargo.lock
  src/ic_panda_ai/Cargo.toml
  src/ic_panda_ai/README.md
Due: prettier --write --ignore-unknown

chore: improve code
  Cargo.lock
  src/ic_panda_ai/src/ai.rs
  src/ic_panda_ai/src/api_admin.rs
  src/ic_panda_ai/src/store.rs
Due: prettier --write --ignore-unknown

chore: improve model loading and chatting
  Cargo.lock
  src/ic_panda_ai/Cargo.toml
  src/ic_panda_ai/ic_panda_ai.did
  src/ic_panda_ai/src/ai.rs
  src/ic_panda_ai/src/api_admin.rs
  src/ic_panda_ai/src/api_init.rs
  src/ic_panda_ai/src/api_query.rs
  src/ic_panda_ai/src/api_update.rs
  src/ic_panda_ai/src/store.rs
  src/ic_panda_ai/src/types.rs
Due: prettier --write --ignore-unknown
