Repository ldclabs/ic-panda: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*": "prettier --write --ignore-unknown",
  "*.css": "stylelint --fix",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "package.json": "sort-package-json"
}

chore: make DAO canister as controller
  src/ic_panda_luckypool/src/lib.rs
Due: prettier --write --ignore-unknown

feat: prevent airdrops attacking
  src/ic_panda_frontend/src/lib/components/core/AirdropCard.svelte
  src/ic_panda_frontend/src/lib/components/core/AirdropModal.svelte
  src/ic_panda_luckypool/src/api_admin.rs
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/store.rs
  src/ic_panda_luckypool/src/utils.rs
Due: prettier --write --ignore-unknown

feat: Integrating Google's reCaptcha v3
  pnpm-lock.yaml
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/components/core/AirdropCard.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/services/recaptcha.ts
  src/ic_panda_frontend/src/routes/+layout.svelte
  src/ic_panda_frontend/static/.ic-assets.json5
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

feat: Integrating Google's reCaptcha v3 into ic_panda_luckypool
  Cargo.lock
  src/ic_panda_frontend/src/app.html
  src/ic_panda_frontend/src/lib/components/core/AirdropCard.svelte
  src/ic_panda_frontend/src/lib/components/core/AirdropModal.svelte
  src/ic_panda_frontend/static/_assets/images/icpanda-dao.jpg
  src/ic_panda_frontend/static/_assets/images/icpanda-dao.webp
  src/ic_panda_frontend/static/_assets/logo_200.png
  src/ic_panda_luckypool/Cargo.toml
  src/ic_panda_luckypool/ic_panda_luckypool.did
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/lib.rs
  src/ic_panda_luckypool/src/recaptcha.rs
  src/ic_panda_luckypool/src/types.rs
Due: prettier --write --ignore-unknown

feat: add access_token for reCAPTCHA verifying
  src/ic_panda_luckypool/ic_panda_luckypool.did
  src/ic_panda_luckypool/src/api_init.rs
  src/ic_panda_luckypool/src/api_query.rs
  src/ic_panda_luckypool/src/ecdsa.rs
  src/ic_panda_luckypool/src/lib.rs
  src/ic_panda_luckypool/src/recaptcha.rs
  src/ic_panda_luckypool/src/store.rs
Due: prettier --write --ignore-unknown

feat: add `my_luckydraw_logs` API to `ic_panda_luckypool`
  src/ic_panda_luckypool/ic_panda_luckypool.did
  src/ic_panda_luckypool/src/api_query.rs
  src/ic_panda_luckypool/src/store.rs
Due: prettier --write --ignore-unknown

fix: fix UX in `ic_panda_frontend`
  src/ic_panda_frontend/src/lib/canisters/luckypool.ts
  src/ic_panda_frontend/src/lib/components/core/AirdropCard.svelte
  src/ic_panda_frontend/src/lib/components/core/AirdropModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawModal.svelte
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/recaptcha.rs
Due: prettier --write --ignore-unknown, eslint --fix

chore: improve recaptcha
  src/ic_panda_frontend/src/lib/components/core/AirdropModal.svelte
  src/ic_panda_luckypool/src/api_update.rs
Due: prettier --write --ignore-unknown

feat: claim airdrop through prize cryptogram
  Cargo.lock
  Cargo.toml
  src/cli_cryptogram/Cargo.toml
  src/cli_cryptogram/src/main.rs
  src/ic_panda_frontend/src/lib/ReloadPrompt.svelte
  src/ic_panda_frontend/src/lib/canisters/luckypool.ts
  src/ic_panda_frontend/src/lib/components/core/AirdropCard.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyPoolChart.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeModal.svelte
  src/ic_panda_frontend/src/routes/+layout.svelte
  src/ic_panda_frontend/src/routes/+page.svelte
  src/ic_panda_luckypool/Cargo.toml
  src/ic_panda_luckypool/ic_panda_luckypool.did
  src/ic_panda_luckypool/src/api_admin.rs
  src/ic_panda_luckypool/src/api_init.rs
  src/ic_panda_luckypool/src/api_query.rs
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/ecdsa.rs
  src/ic_panda_luckypool/src/lib.rs
  src/ic_panda_luckypool/src/recaptcha.rs
  src/ic_panda_luckypool/src/store.rs
  src/ic_panda_luckypool/src/types.rs
  src/ic_panda_luckypool/src/utils.rs
  src/lib_panda/Cargo.toml
  src/lib_panda/src/lib.rs
Due: prettier --write --ignore-unknown, eslint --fix

proposals: add 15, 16 to upgrade to v1.1.0
  proposals/proposal-015.sh
  proposals/proposal-016.sh
Due: prettier --write --ignore-unknown

feat: support updating airdrop amount
  src/ic_panda_luckypool/ic_panda_luckypool.did
  src/ic_panda_luckypool/src/api_admin.rs
  src/ic_panda_luckypool/src/api_query.rs
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/store.rs
Due: prettier --write --ignore-unknown

feat: give airdrop cryptogram on lucky draw.
  pnpm-lock.yaml
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/components/core/AirdropCard.svelte
  src/ic_panda_frontend/src/lib/components/core/AirdropModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyPoolChart.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeModal.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextClipboardButton.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextClipboardPopup.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextClipboardPopupIcon.svelte
  src/ic_panda_frontend/src/lib/types/result.ts
  src/ic_panda_frontend/src/lib/utils/crypto.ts
  src/ic_panda_luckypool/ic_panda_luckypool.did
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/store.rs
  src/ic_panda_luckypool/src/types.rs
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

proposals: add 17, 18 to upgrade app
  proposals/proposal-017.sh
  proposals/proposal-018.sh
Due: prettier --write --ignore-unknown

chore: improve prizes
  src/ic_panda_frontend/src/lib/components/core/AirdropCard.svelte
  src/ic_panda_frontend/src/lib/components/core/AirdropModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeModal.svelte
  src/ic_panda_frontend/src/lib/types/airdrop.ts
  src/ic_panda_frontend/src/lib/types/prize.ts
  src/ic_panda_luckypool/src/api_admin.rs
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/lib.rs
Due: prettier --write --ignore-unknown, eslint --fix

chore: update lottiePlayer live time
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawModal.svelte
Due: prettier --write --ignore-unknown

Proposal: add 19, 20 to upgrade app to v1.3.0
  proposals/proposal-019.sh
  proposals/proposal-020.sh
Due: prettier --write --ignore-unknown

feat: support twitter oauth
  Cargo.lock
  Cargo.toml
  src/cli_cryptogram/Cargo.toml
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/components/core/AirdropModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeModal.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/services/auth.ts
  src/ic_panda_frontend/src/lib/services/recaptcha.ts
  src/ic_panda_frontend/src/lib/types/auth.ts
  src/ic_panda_frontend/src/lib/types/prize.ts
  src/ic_panda_frontend/src/routes/(app)/+layout.svelte
  src/ic_panda_frontend/src/routes/(app)/+layout.ts
  src/ic_panda_frontend/src/routes/(app)/+page.svelte
  src/ic_panda_frontend/src/routes/callback/+layout.svelte
  src/ic_panda_frontend/src/routes/callback/+layout.ts
  src/ic_panda_frontend/src/routes/callback/auth/+page.svelte
  src/ic_panda_luckypool/Cargo.toml
  src/ic_panda_luckypool/ic_panda_luckypool.did
  src/ic_panda_luckypool/src/api_admin.rs
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/store.rs
  src/ic_panda_luckypool/src/types.rs
  src/lib_panda/Cargo.toml
  src/lib_panda/src/lib.rs
  src/x_auth/Cargo.toml
  src/x_auth/env.sample
  src/x_auth/src/api.rs
  src/x_auth/src/api_twitter.rs
  src/x_auth/src/context.rs
  src/x_auth/src/erring.rs
  src/x_auth/src/main.rs
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

feat: upgrade airdrop UI
  src/ic_panda_frontend/src/lib/components/core/AirdropCard.svelte
  src/ic_panda_frontend/src/lib/components/core/AirdropModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawCard.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeCard.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeModal.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconAlarmWarning.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconArrowDownLine.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconArrowUpLine.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconChatSmile.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconCloseCircle.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconDeleteBin.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconDownload.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconHistory.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconUpload.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/routes/(app)/+page.svelte
  src/ic_panda_frontend/static/_assets/images/prize-giveaway-bg.webp
  src/ic_panda_frontend/tailwind.config.js
  src/ic_panda_luckypool/src/api_update.rs
  src/x_auth/src/api.rs
Due: prettier --write --ignore-unknown, eslint --fix

Chore: fix issues.
  src/cli_cryptogram/src/main.rs
  src/ic_panda_frontend/src/lib/components/core/AirdropCard.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeCard.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeModal.svelte
  src/ic_panda_frontend/src/lib/services/auth.ts
  src/ic_panda_luckypool/src/api_update.rs
Due: prettier --write --ignore-unknown, eslint --fix

Proposal: add 21, 22 to upgrade app to v1.4.0
  proposals/proposal-021.sh
  proposals/proposal-022.sh
Due: prettier --write --ignore-unknown

Chore: fix UI with tailwindcss
  pnpm-lock.yaml
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/postcss.config.js
  src/ic_panda_frontend/src/app.pcss
  src/ic_panda_frontend/src/lib/ReloadPrompt.svelte
  src/ic_panda_frontend/src/lib/components/core/AccountDetailModal.svelte
  src/ic_panda_frontend/src/lib/components/core/AirdropCard.svelte
  src/ic_panda_frontend/src/lib/components/core/AirdropModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeCard.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeModal.svelte
  src/ic_panda_frontend/src/routes/(app)/+page.svelte
  src/ic_panda_frontend/tailwind.config.js
  src/ic_panda_frontend/vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

Proposal: add 23 to upgrade frontend to v1.4.1
  proposals/proposal-023.sh
Due: prettier --write --ignore-unknown

chore: update twitter account requirements for verifying in x-auth
  proposals/proposal-022.sh
  src/x_auth/src/api_twitter.rs
Due: prettier --write --ignore-unknown

chore: improve x-auth access log
  src/x_auth/src/api_twitter.rs
  src/x_auth/src/context.rs
Due: prettier --write --ignore-unknown

Chore: add IP into access log on x-auth
  Cargo.lock
  src/x_auth/Cargo.toml
  src/x_auth/src/context.rs
Due: prettier --write --ignore-unknown

Chore: add Google Analytics to frontend
  src/ic_panda_frontend/src/app.html
Due: prettier --write --ignore-unknown

Chore: introduce Lucky Balance
  src/ic_panda_frontend/src/lib/components/core/AirdropCard.svelte
  src/ic_panda_frontend/src/lib/components/core/AirdropModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyTransferModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeModal.svelte
Due: prettier --write --ignore-unknown

Fix: fix CSP for GTA
  src/ic_panda_frontend/static/.ic-assets.json5
Due: prettier --write --ignore-unknown

Proposal: add #24 to upgrade frontend to v1.4.2
  proposals/proposal-024.sh
Due: prettier --write --ignore-unknown

Feat: add rate limiter to x-auth
  Cargo.lock
  src/lib_panda/Cargo.toml
  src/lib_panda/src/lib.rs
  src/x_auth/Cargo.toml
  src/x_auth/env.sample
  src/x_auth/src/api.rs
  src/x_auth/src/api_twitter.rs
  src/x_auth/src/cbor.rs
  src/x_auth/src/context.rs
  src/x_auth/src/main.rs
Due: prettier --write --ignore-unknown

Feat: PANDA Prize!
  Cargo.lock
  src/ic_panda_luckypool/Cargo.toml
  src/ic_panda_luckypool/ic_panda_luckypool.did
  src/ic_panda_luckypool/src/api_admin.rs
  src/ic_panda_luckypool/src/api_init.rs
  src/ic_panda_luckypool/src/api_query.rs
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/lib.rs
  src/ic_panda_luckypool/src/store.rs
  src/ic_panda_luckypool/src/types.rs
  src/ic_panda_luckypool/src/utils.rs
  src/lib_panda/Cargo.toml
  src/lib_panda/src/lib.rs
  src/x_auth/src/api.rs
Due: prettier --write --ignore-unknown

Chore: add more error info to access log on x-auth
  src/x_auth/src/api_twitter.rs
Due: prettier --write --ignore-unknown

Feat: improve the Lucky Draw
  src/ic_panda_frontend/src/lib/components/core/AirdropCard.svelte
  src/ic_panda_frontend/src/lib/components/core/AirdropModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyTransferModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PageHeader.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeModal.svelte
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/utils.rs
Due: prettier --write --ignore-unknown

Feat: Naming
  Cargo.lock
  src/ic_panda_frontend/src/lib/canisters/luckypool.ts
  src/ic_panda_frontend/src/lib/canisters/tokenledger.ts
  src/ic_panda_frontend/src/lib/components/core/AccountDetailModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawModal.svelte
  src/ic_panda_frontend/src/lib/components/core/NameModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeCard.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeModal.svelte
  src/ic_panda_frontend/src/lib/types/result.ts
  src/ic_panda_luckypool/Cargo.toml
  src/ic_panda_luckypool/ic_panda_luckypool.did
  src/ic_panda_luckypool/src/api_query.rs
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/store.rs
  src/ic_panda_luckypool/src/types.rs
  src/ic_panda_luckypool/src/utils.rs
Due: prettier --write --ignore-unknown, eslint --fix

Feat: Prize on frontend
  Cargo.lock
  pnpm-lock.yaml
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/canisters/luckypool.ts
  src/ic_panda_frontend/src/lib/components/core/AccountDetailModal.svelte
  src/ic_panda_frontend/src/lib/components/core/AirdropModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyTransferModal.svelte
  src/ic_panda_frontend/src/lib/components/core/NameModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeCard.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeCreateModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeHistoryModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeModal.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconArrowDownFill.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconArrowUpFill.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconDice.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconEqualizer.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconGoldPanda2.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconLink.svelte
  src/ic_panda_frontend/src/lib/components/ui/MemoDetail.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/services/auth.ts
  src/ic_panda_frontend/src/lib/types/prize.ts
  src/ic_panda_frontend/src/lib/types/result.ts
  src/ic_panda_frontend/src/lib/utils/crypto.ts
  src/ic_panda_frontend/src/lib/utils/fetcher.ts
  src/ic_panda_frontend/src/lib/utils/url.ts
  src/ic_panda_luckypool/Cargo.toml
  src/ic_panda_luckypool/ic_panda_luckypool.did
  src/ic_panda_luckypool/src/api_admin.rs
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/store.rs
  src/ic_panda_luckypool/src/types.rs
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

fix: fix prize
  src/ic_panda_frontend/static/.ic-assets.json5
Due: prettier --write --ignore-unknown

Feat: Prize on frontend
  Cargo.lock
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/canisters/luckypool.ts
  src/ic_panda_frontend/src/lib/components/core/NameModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeCreateModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeHistoryModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeShow.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconCloseCircleLine.svelte
  src/ic_panda_frontend/src/lib/components/ui/ModalCard.svelte
  src/ic_panda_frontend/static/_assets/images/prize-bg.webp
  src/ic_panda_luckypool/Cargo.toml
  src/ic_panda_luckypool/ic_panda_luckypool.did
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/store.rs
  src/ic_panda_luckypool/src/types.rs
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

Chore: remove 'registerRoute' in service-worker for some caching issue
  src/ic_panda_frontend/src/service-worker.ts
Due: prettier --write --ignore-unknown, eslint --fix

Proposal: add #25, #26 to upgrade app to v1.5.0
  proposals/proposal-025.sh
  proposals/proposal-026.sh
Due: prettier --write --ignore-unknown

Fix: fix candid interface compatibility for canister 'ic_panda_luckypool'
  Cargo.lock
  proposals/proposal-027.sh
  src/ic_panda_luckypool/Cargo.toml
  src/ic_panda_luckypool/ic_panda_luckypool.did
  src/ic_panda_luckypool/src/api_admin.rs
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/types.rs
Due: prettier --write --ignore-unknown
