Repository ldclabs/ic-panda: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, eslint --fix, sort-package-json

feat: import tokens
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/declarations/ic_message_profile/ic_message_profile.did
  src/ic_message_frontend/src/declarations/ic_message_profile/ic_message_profile.did.d.ts
  src/ic_message_frontend/src/declarations/ic_message_profile/ic_message_profile.did.js
  src/ic_message_frontend/src/lib/canisters/messageprofile.ts
  src/ic_message_frontend/src/lib/canisters/tokenledger.ts
  src/ic_message_frontend/src/lib/components/core/ImportTokenModal.svelte
  src/ic_message_frontend/src/lib/components/core/TransferTokenModal.svelte
  src/ic_message_frontend/src/lib/components/core/WalletDetailModal.svelte
  src/ic_message_frontend/src/lib/components/icons/IconExternalLinkLine.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelCreateModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelTopupModal.svelte
  src/ic_message_frontend/src/lib/components/messages/MyProfile.svelte
  src/ic_message_frontend/src/lib/components/messages/UserRegisterModal.svelte
  src/ic_message_frontend/src/lib/components/ui/TextTokenAmount.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/lib/stores/message_agent.ts
  src/ic_message_frontend/src/lib/types/token.ts
  src/ic_message_frontend/src/lib/utils/token.ts
  src/ic_message_frontend/src/routes/(app)/+layout.svelte
  src/ic_message_frontend/src/routes/(app)/_/[...channel]/+page.svelte
  src/ic_message_profile/ic_message_profile.did
  src/ic_message_profile/src/api_update.rs
  src/ic_message_profile/src/store.rs
  src/ic_message_types/src/profile.rs
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposals to upgrade app
  proposals/proposal-242.sh
  proposals/proposal-243.sh
  proposals/proposal-244.sh
  proposals/proposal-245.sh
  proposals/proposal-247.sh
Due: prettier --write --ignore-unknown

chore: add proposals to upgrade app
  proposals/proposal-248.sh
  proposals/proposal-249.sh
  proposals/proposal-250.sh
  proposals/proposal-251.sh
  proposals/proposal-252.sh
  sns_canister_ids.json
Due: prettier --write --ignore-unknown

chore: add more documents
  Makefile
  README.md
  diagrams/dMsg_channels_data_flow.png
  diagrams/dMsg_component_interaction.png
  diagrams/dMsg_kek_exchanging_data_flow.png
  diagrams/dMsg_mk_data_flow.png
  diagrams/dMsg_oss_component_interaction.png
  docs/dMsg_design_choices.md
  docs/dMsg_system_overview.md
  scripts/deployment_guide.md
Due: prettier --write --ignore-unknown

chore: add proposal to update L7 username price
  proposals/proposal-253.sh
Due: prettier --write --ignore-unknown

chore: add proposal to transfer 1250 ICP to Solidstate Team for Auditing of dMsg
  proposals/proposal-254.sh
Due: prettier --write --ignore-unknown

feat: ic_dmsg_minter
  Cargo.lock
  Cargo.toml
  Makefile
  canister_ids.json
  dfx.json
  scripts/deployment_guide.md
  src/ic_dmsg_minter/Cargo.toml
  src/ic_dmsg_minter/README.md
  src/ic_dmsg_minter/ic_dmsg_minter.did
  src/ic_dmsg_minter/src/api.rs
  src/ic_dmsg_minter/src/lib.rs
  src/ic_dmsg_minter/src/store.rs
  src/ic_message/src/api_update.rs
  src/ic_message/src/lib.rs
  src/ic_message/src/store.rs
  src/ic_message_channel/src/api_update.rs
  src/ic_message_channel/src/lib.rs
  src/ic_message_channel/src/store.rs
  src/ic_message_types/src/channel.rs
Due: prettier --write --ignore-unknown

chore: release v2.8.0
  Cargo.lock
  Cargo.toml
  src/ic_message_frontend/src/declarations/dmsg_index_canister/dmsg_index_canister.did
  src/ic_message_frontend/src/declarations/dmsg_index_canister/dmsg_index_canister.did.d.ts
  src/ic_message_frontend/src/declarations/dmsg_index_canister/dmsg_index_canister.did.js
  src/ic_message_frontend/src/declarations/dmsg_index_canister/index.d.ts
  src/ic_message_frontend/src/declarations/dmsg_index_canister/index.js
  src/ic_message_frontend/src/declarations/dmsg_ledger_canister/dmsg_ledger_canister.did
  src/ic_message_frontend/src/declarations/dmsg_ledger_canister/dmsg_ledger_canister.did.d.ts
  src/ic_message_frontend/src/declarations/dmsg_ledger_canister/dmsg_ledger_canister.did.js
  src/ic_message_frontend/src/declarations/dmsg_ledger_canister/index.d.ts
  src/ic_message_frontend/src/declarations/dmsg_ledger_canister/index.js
  src/ic_message_frontend/src/declarations/ic_dmsg_minter/ic_dmsg_minter.did
  src/ic_message_frontend/src/declarations/ic_dmsg_minter/ic_dmsg_minter.did.d.ts
  src/ic_message_frontend/src/declarations/ic_dmsg_minter/ic_dmsg_minter.did.js
  src/ic_message_frontend/src/declarations/ic_dmsg_minter/index.d.ts
  src/ic_message_frontend/src/declarations/ic_dmsg_minter/index.js
  src/ic_panda_frontend/src/declarations/dmsg_index_canister/dmsg_index_canister.did
  src/ic_panda_frontend/src/declarations/dmsg_index_canister/dmsg_index_canister.did.d.ts
  src/ic_panda_frontend/src/declarations/dmsg_index_canister/dmsg_index_canister.did.js
  src/ic_panda_frontend/src/declarations/dmsg_index_canister/index.d.ts
  src/ic_panda_frontend/src/declarations/dmsg_index_canister/index.js
  src/ic_panda_frontend/src/declarations/dmsg_ledger_canister/dmsg_ledger_canister.did
  src/ic_panda_frontend/src/declarations/dmsg_ledger_canister/dmsg_ledger_canister.did.d.ts
  src/ic_panda_frontend/src/declarations/dmsg_ledger_canister/dmsg_ledger_canister.did.js
  src/ic_panda_frontend/src/declarations/dmsg_ledger_canister/index.d.ts
  src/ic_panda_frontend/src/declarations/dmsg_ledger_canister/index.js
  src/ic_panda_frontend/src/declarations/ic_dmsg_minter/ic_dmsg_minter.did
  src/ic_panda_frontend/src/declarations/ic_dmsg_minter/ic_dmsg_minter.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_dmsg_minter/ic_dmsg_minter.did.js
  src/ic_panda_frontend/src/declarations/ic_dmsg_minter/index.d.ts
  src/ic_panda_frontend/src/declarations/ic_dmsg_minter/index.js
  src/ic_panda_frontend/src/declarations/ic_message_profile/ic_message_profile.did
  src/ic_panda_frontend/src/declarations/ic_message_profile/ic_message_profile.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message_profile/ic_message_profile.did.js
Due: prettier --write --ignore-unknown, eslint --fix

chore: add `ic_dmsg_minter` to Github action
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
Due: prettier --write --ignore-unknown

feat: add DMSG to `ic_message_frontend`
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/canisters/tokenledger.ts
  src/ic_message_frontend/src/lib/components/core/WalletDetailModal.svelte
  src/ic_message_frontend/src/lib/components/icons/IconDmsg.svelte
  src/ic_message_frontend/src/lib/components/messages/ProfileDetail.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/lib/utils/token.ts
  src/ic_message_frontend/src/routes/(app)/+page.svelte
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposals to release "Proof of Link (PoL) Mining"
  proposals/proposal-255.sh
  proposals/proposal-256.sh
  proposals/proposal-257.sh
  proposals/proposal-258.sh
  proposals/proposal-259.sh
  proposals/proposal-260.sh
  proposals/proposal-261.sh
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/components/core/WalletDetailModal.svelte
  src/ic_message_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

fix: fix channel creation
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/components/core/WalletDetailModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelCreateModal.svelte
  src/ic_message_frontend/src/lib/components/messages/MyProfile.svelte
  src/ic_message_frontend/src/lib/components/messages/ProfileDetail.svelte
  src/ic_message_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

fix: fix frontend app
  diagrams/dMsg_component_interaction.png
  pnpm-lock.yaml
  proposals/proposal-262.sh
  proposals/proposal-264.sh
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/components/core/WalletDetailModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_panda_frontend/package.json
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

feat: top-up PANDA from OISY
  pnpm-lock.yaml
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/components/core/TopupTokenModal.svelte
  src/ic_message_frontend/src/lib/components/core/WalletDetailModal.svelte
  src/ic_message_frontend/src/lib/components/messages/MyChannelList.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/lib/stores/oisy.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposal to upgrade app
  proposals/proposal-265.sh
Due: prettier --write --ignore-unknown

feat: add token price to `ic_message_frontend`
  dfx.json
  pnpm-lock.yaml
  proposals/proposal-266.sh
  scripts/deployment_guide.md
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/declarations/icpswap_tokens/icpswap_tokens.did
  src/ic_message_frontend/src/declarations/icpswap_tokens/icpswap_tokens.did.d.ts
  src/ic_message_frontend/src/declarations/icpswap_tokens/icpswap_tokens.did.js
  src/ic_message_frontend/src/lib/canisters/actors.ts
  src/ic_message_frontend/src/lib/canisters/icpledger.ts
  src/ic_message_frontend/src/lib/canisters/icpswap.ts
  src/ic_message_frontend/src/lib/canisters/message.ts
  src/ic_message_frontend/src/lib/canisters/messageprofile.ts
  src/ic_message_frontend/src/lib/canisters/tokenledger.ts
  src/ic_message_frontend/src/lib/components/core/AvatarUploadModal.svelte
  src/ic_message_frontend/src/lib/components/core/WalletDetailModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelCreateModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelImageUploadModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_message_frontend/src/lib/components/messages/UserRegisterModal.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/lib/stores/auth.ts
  src/ic_message_frontend/src/lib/stores/exchange.ts
  src/ic_message_frontend/src/lib/stores/message_agent.ts
  src/ic_message_frontend/src/lib/utils/auth.ts
  src/ic_message_frontend/src/lib/utils/helper.ts
  src/ic_message_frontend/src/routes/(app)/+page.svelte
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/components/core/PageFooter.svelte
  src/ic_panda_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: improve token price reactivity in wallet
  proposals/proposal-267.sh
  proposals/proposal-268.sh
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/app.html
  src/ic_message_frontend/src/declarations/ic_message_frontend/ic_message_frontend.did
  src/ic_message_frontend/src/declarations/ic_message_frontend/ic_message_frontend.did.d.ts
  src/ic_message_frontend/src/declarations/ic_message_frontend/ic_message_frontend.did.js
  src/ic_message_frontend/src/declarations/ic_oss_bucket_02/ic_oss_bucket_02.did
  src/ic_message_frontend/src/declarations/ic_oss_bucket_02/ic_oss_bucket_02.did.d.ts
  src/ic_message_frontend/src/declarations/ic_oss_bucket_02/ic_oss_bucket_02.did.js
  src/ic_message_frontend/src/declarations/icrc1_ledger_canister/icrc1_ledger_canister.did
  src/ic_message_frontend/src/declarations/icrc1_ledger_canister/icrc1_ledger_canister.did.d.ts
  src/ic_message_frontend/src/declarations/icrc1_ledger_canister/icrc1_ledger_canister.did.js
  src/ic_message_frontend/src/declarations/internet_identity/internet_identity.did
  src/ic_message_frontend/src/declarations/internet_identity/internet_identity.did.d.ts
  src/ic_message_frontend/src/declarations/internet_identity/internet_identity.did.js
  src/ic_message_frontend/src/lib/components/core/MoreMenuPopup.svelte
  src/ic_message_frontend/src/lib/components/core/WalletDetailModal.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/lib/stores/exchange.ts
  src/ic_message_frontend/src/routes/(app)/+page.svelte
  src/ic_message_frontend/vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposals to upgrade dMsg app
  pnpm-lock.yaml
  proposals/proposal-269.sh
  proposals/proposal-270.sh
  proposals/proposal-271.sh
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/declarations/ic_panda_frontend/ic_panda_frontend.did
  src/ic_message_frontend/src/declarations/ic_panda_frontend/ic_panda_frontend.did.d.ts
  src/ic_message_frontend/src/declarations/ic_panda_frontend/ic_panda_frontend.did.js
  src/ic_message_frontend/src/lib/components/messages/MyProfile.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/lib/stores/auth.ts
  src/ic_message_frontend/src/lib/stores/message.ts
  src/ic_message_frontend/src/lib/utils/window.ts
  src/ic_panda_frontend/package.json
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

fix: fix sign in issue on mobile
  proposals/proposal-274.sh
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/lib/stores/auth.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: improve dMsg app
  canister_ids.json
  proposals/proposal-275.sh
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/components/core/MoreMenuPopup.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelDetail.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_message_frontend/src/lib/components/messages/MyProfile.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/lib/stores/auth.ts
  src/ic_message_frontend/src/lib/utils/auth.ts
  src/ic_message_frontend/src/lib/utils/popup.ts
  src/ic_message_frontend/src/routes/(app)/+layout.svelte
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: remove self sign-in on `ic_name_identity`
  proposals/proposal-275.sh
  proposals/proposal-276.sh
  src/ic_name_identity/src/api.rs
Due: prettier --write --ignore-unknown

chore: improve UI
  proposals/proposal-277.sh
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/components/core/MoreMenuPopup.svelte
  src/ic_message_frontend/src/lib/components/core/WalletDetailModal.svelte
  src/ic_message_frontend/src/lib/components/messages/MyProfile.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/routes/(app)/+page.svelte
  src/ic_message_frontend/static/_assets/logo_200.png
  src/ic_message_frontend/static/_assets/logo_panda.png
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposals to update ICPanda
  proposals/proposal-278.sh
  proposals/proposal-279.sh
Due: prettier --write --ignore-unknown

chore: update ic_panda_frontend
  Cargo.lock
  Cargo.toml
  README.md
  proposals/proposal-280.sh
  src/ic_message_frontend/src/routes/(app)/+page.svelte
  src/ic_message_frontend/src/routes/(app)/[username]/+page.svelte
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/app.html
  src/ic_panda_frontend/src/declarations/ck-doge-canister/index.js
  src/ic_panda_frontend/src/declarations/ck-doge-minter/index.js
  src/ic_panda_frontend/src/declarations/icpswap_tokens/icpswap_tokens.did
  src/ic_panda_frontend/src/declarations/icpswap_tokens/icpswap_tokens.did.d.ts
  src/ic_panda_frontend/src/declarations/icpswap_tokens/icpswap_tokens.did.js
  src/ic_panda_frontend/src/lib/canisters/actors.ts
  src/ic_panda_frontend/src/lib/canisters/icpledger.ts
  src/ic_panda_frontend/src/lib/canisters/icpswap.ts
  src/ic_panda_frontend/src/lib/canisters/luckypool.ts
  src/ic_panda_frontend/src/lib/canisters/message.ts
  src/ic_panda_frontend/src/lib/canisters/messageprofile.ts
  src/ic_panda_frontend/src/lib/canisters/tokenledger.ts
  src/ic_panda_frontend/src/lib/components/core/PageFooter.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/stores/auth.ts
  src/ic_panda_frontend/src/lib/stores/exchange.ts
  src/ic_panda_frontend/src/lib/stores/message.ts
  src/ic_panda_frontend/src/lib/stores/message_agent.ts
  src/ic_panda_frontend/src/lib/utils/auth.ts
  src/ic_panda_frontend/src/lib/utils/helper.ts
  src/ic_panda_frontend/src/routes/(app)/+page.svelte
  src/ic_panda_frontend/vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: upgrade ic_message_frontend
  canister_ids.json
  proposals/proposal-281.sh
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/declarations/ic_panda_frontend/ic_panda_frontend.did
  src/ic_message_frontend/src/declarations/ic_panda_frontend/ic_panda_frontend.did.d.ts
  src/ic_message_frontend/src/declarations/ic_panda_frontend/ic_panda_frontend.did.js
  src/ic_message_frontend/src/lib/components/messages/MyProfile.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/lib/stores/exchange.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: update with Solidstate audit feedback
  src/ic_message/src/api_update.rs
  src/ic_message/src/types.rs
  src/ic_message_types/src/profile.rs
Due: prettier --write --ignore-unknown

fix: fix delegator_sign_in
  Cargo.lock
  Cargo.toml
  src/ic_name_identity/src/api.rs
Due: prettier --write --ignore-unknown

chore: add proposal -- Welcoming Luis to ICPanda DAO as a Strategic Partner
  proposals/proposal-284.sh
  proposals/proposal-285.sh
  proposals/proposal-286.sh
Due: prettier --write --ignore-unknown

chore: add proposals to upgrade IC-OSS canisters
  proposals/proposal-286.sh
  proposals/proposal-287.sh
  proposals/proposal-288.sh
  proposals/proposal-289.sh
  proposals/proposal-290.sh
  sns_functions.md
Due: prettier --write --ignore-unknown

chore: update backend dependencies
  Cargo.lock
  Cargo.toml
  src/cli_airdrop/Cargo.toml
  src/cli_airdrop/src/ledger.rs
  src/ic_message/src/store.rs
  src/ic_message/src/types.rs
Due: prettier --write --ignore-unknown

feat: add `update_my_username` API
  src/ic_message/ic_message.did
  src/ic_message/src/api_update.rs
  src/ic_message/src/store.rs
  src/ic_message_frontend/src/declarations/ic_message/ic_message.did
  src/ic_message_frontend/src/declarations/ic_message/ic_message.did.d.ts
  src/ic_message_frontend/src/declarations/ic_message/ic_message.did.js
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did.js
Due: prettier --write --ignore-unknown, eslint --fix

chore: improve dMsg frontend
  Cargo.lock
  Cargo.toml
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/canisters/message.ts
  src/ic_message_frontend/src/lib/components/messages/ChannelDetail.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_message_frontend/src/lib/components/messages/UserRegisterModal.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/lib/stores/message.ts
  src/ic_message_frontend/src/lib/stores/message_agent.ts
  src/ic_message_frontend/src/lib/utils/token.ts
  src/ic_message_frontend/src/routes/(app)/+page.svelte
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: improve PWA
  pnpm-lock.yaml
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/routes/(app)/+layout.svelte
  src/ic_message_frontend/vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: fix dMsg frontend issues
  src/ic_message_frontend/src/lib/components/messages/ActivateUsernameAccountModal.svelte
  src/ic_message_frontend/src/lib/components/messages/MyProfile.svelte
  src/ic_message_frontend/src/routes/(app)/+page.svelte
Due: prettier --write --ignore-unknown

fix: fix dMsg backend issue
  proposals/proposal-291.sh
  proposals/proposal-292.sh
  proposals/proposal-293.sh
  proposals/proposal-294.sh
  proposals/proposal-295.sh
  proposals/proposal-296.sh
  src/ic_message/src/api_init.rs
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_message_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: improve dMsg terms
  proposals/proposal-303.sh
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/components/core/ImportTokenModal.svelte
  src/ic_message_frontend/src/lib/components/core/LeaveAccountModal.svelte
  src/ic_message_frontend/src/lib/components/core/WalletDetailModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ActivateUsernameAccountModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelCreateModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelImageUploadModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelTopupModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelUpdateStorageModal.svelte
  src/ic_message_frontend/src/lib/components/messages/MyChannelList.svelte
  src/ic_message_frontend/src/lib/components/messages/MyProfile.svelte
  src/ic_message_frontend/src/lib/components/messages/PasswordModal.svelte
  src/ic_message_frontend/src/lib/components/messages/UserRegisterModal.svelte
  src/ic_message_frontend/src/lib/components/messages/UserSelectModal.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/lib/utils/helper.ts
  src/ic_message_frontend/src/lib/utils/token.ts
  src/ic_message_types/src/channel.rs
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: improve PoL document
  README.md
  src/ic_dmsg_minter/README.md
Due: prettier --write --ignore-unknown

chore: remove permission control for the `get_delegators` API in the `ic_name_identity` canister
  src/ic_name_identity/src/api.rs
Due: prettier --write --ignore-unknown

Path conditions:
  prettier --write --ignore-unknown: any of: *
  stylelint --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
