Repository ldclabs/ic-panda: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*": "prettier --write --ignore-unknown",
  "*.css": "stylelint --fix",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "package.json": "sort-package-json"
}

feat(ic_message_frontend): enable vetKeys
  proposals/proposal-389.sh
  proposals/proposal-390.sh
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/lib/stores/message.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore(ic_panda_frontend): v2.12.0
  package.json
  pnpm-lock.yaml
  proposals/proposal-391.sh
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/routes/(app)/+page.svelte
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposals to upgrade IC OSS service
  proposals/proposal-360.sh
  proposals/proposal-392.sh
  proposals/proposal-393.sh
  proposals/proposal-394.sh
Due: prettier --write --ignore-unknown

chore(canisters): update dependencies
  Cargo.lock
  Cargo.toml
Due: prettier --write --ignore-unknown

chore: add Proposals to upgrade dMsg canisters
  proposals/proposal-395.sh
  proposals/proposal-396.sh
  proposals/proposal-397.sh
  proposals/proposal-398.sh
  proposals/proposal-399.sh
  proposals/proposal-400.sh
  proposals/proposal-401.sh
Due: prettier --write --ignore-unknown

chore: upgrade frontend
  pnpm-lock.yaml
  proposals/proposal-402.sh
  proposals/proposal-403.sh
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/canisters/cose.ts
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/components/core/PageHeader.svelte
  src/ic_panda_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposals to upgrade IC-COSE and IC-OSS
  Cargo.lock
  proposals/proposal-404.sh
  proposals/proposal-405.sh
Due: prettier --write --ignore-unknown

chore: add proposals to upgrade IC-OSS
  proposals/proposal-406.sh
  proposals/proposal-407.sh
Due: prettier --write --ignore-unknown

chore: add proposals to upgrade IC-COSE service
  proposals/proposal-406.sh
  proposals/proposal-408.sh
  proposals/proposal-410.sh
  src/ic_message_frontend/src/lib/utils/window.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: add proposals
  proposals/proposal-411.sh
  proposals/proposal-412.sh
  proposals/proposal-413.sh
  proposals/proposal-414.sh
Due: prettier --write --ignore-unknown

chore: update backend dependencies
  Cargo.lock
  Cargo.toml
  src/ic_dmsg_minter/src/store.rs
  src/ic_message/src/store.rs
  src/ic_message_channel/src/store.rs
  src/ic_message_profile/src/store.rs
  src/ic_name_identity/src/store.rs
  src/ic_panda_luckypool/src/store.rs
  src/x_auth/Cargo.toml
  src/x_auth/src/api.rs
  src/x_auth/src/cbor.rs
  src/x_auth/src/main.rs
Due: prettier --write --ignore-unknown

chore: v2.13.0
  Cargo.lock
  Cargo.toml
Due: prettier --write --ignore-unknown

chore: add proposals
  proposals/proposal-415.sh
  proposals/proposal-416.sh
  proposals/proposal-417.sh
  proposals/proposal-418.sh
Due: prettier --write --ignore-unknown

chore: update frontend dependencies
  package.json
  pnpm-lock.yaml
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/declarations/dmsg_index_canister/dmsg_index_canister.did.d.ts
  src/ic_message_frontend/src/declarations/dmsg_ledger_canister/dmsg_ledger_canister.did.d.ts
  src/ic_message_frontend/src/declarations/ic_message_frontend/ic_message_frontend.did
  src/ic_message_frontend/src/declarations/ic_message_frontend/ic_message_frontend.did.d.ts
  src/ic_message_frontend/src/declarations/ic_message_frontend/ic_message_frontend.did.js
  src/ic_message_frontend/src/declarations/ic_panda_frontend/ic_panda_frontend.did
  src/ic_message_frontend/src/declarations/ic_panda_frontend/ic_panda_frontend.did.d.ts
  src/ic_message_frontend/src/declarations/ic_panda_frontend/ic_panda_frontend.did.js
  src/ic_message_frontend/src/declarations/icp_ledger_canister/icp_ledger_canister.did.d.ts
  src/ic_message_frontend/src/declarations/icrc1_ledger_canister/icrc1_ledger_canister.did.d.ts
  src/ic_message_frontend/src/declarations/internet_identity/internet_identity.did.d.ts
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/lib/stores/auth.ts
  src/ic_message_frontend/src/lib/utils/auth.ts
  src/ic_message_frontend/src/lib/utils/crypto.ts
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/declarations/icp_ledger_canister/icp_ledger_canister.did.d.ts
  src/ic_panda_frontend/src/declarations/icrc1_ledger_canister/icrc1_ledger_canister.did.d.ts
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/utils/account_identifier.ts
  src/ic_panda_frontend/src/lib/utils/auth.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

feat: support Internet Identity v2
  src/ic_message_frontend/src/lib/components/core/SignInModal.svelte
  src/ic_message_frontend/src/lib/components/icons/IconIcLogo.svelte
  src/ic_message_frontend/src/lib/components/icons/IconIcLogo2.svelte
Due: prettier --write --ignore-unknown

fix(frontend): fix token price
  dfx.json
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/declarations/ic_cose_canister/ic_cose_canister.did
  src/ic_message_frontend/src/declarations/ic_cose_canister/ic_cose_canister.did.d.ts
  src/ic_message_frontend/src/declarations/ic_cose_canister/ic_cose_canister.did.js
  src/ic_message_frontend/src/declarations/ic_oss_bucket/ic_oss_bucket.did
  src/ic_message_frontend/src/declarations/ic_oss_bucket/ic_oss_bucket.did.d.ts
  src/ic_message_frontend/src/declarations/ic_oss_bucket/ic_oss_bucket.did.js
  src/ic_message_frontend/src/declarations/ic_oss_cluster/ic_oss_cluster.did
  src/ic_message_frontend/src/declarations/ic_oss_cluster/ic_oss_cluster.did.d.ts
  src/ic_message_frontend/src/declarations/ic_oss_cluster/ic_oss_cluster.did.js
  src/ic_message_frontend/src/lib/canisters/icpswap.ts
  src/ic_message_frontend/src/lib/components/core/SignInModal.svelte
  src/ic_message_frontend/src/lib/components/core/WalletDetailModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelCreateModal.svelte
  src/ic_message_frontend/src/lib/components/messages/UserRegisterModal.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/lib/stores/exchange.ts
  src/ic_message_frontend/src/lib/stores/icpswap.svelte.ts
  src/ic_message_frontend/src/routes/(app)/+page.svelte
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/stores/exchange.ts
  src/ic_panda_frontend/src/lib/stores/icpswap.svelte.ts
  src/ic_panda_frontend/src/routes/(app)/+page.svelte
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

fix(frontend): fix token price API
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/lib/utils/url.ts
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/utils/url.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

fix(frontend): fix CSP header
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/static/.ic-assets.json
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/static/.ic-assets.json
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposals to upgrade frontend
  proposals/proposal-419.sh
  proposals/proposal-420.sh
  proposals/proposal-421.sh
  proposals/proposal-422.sh
  proposals/proposal-423.sh
  proposals/proposal-424.sh
  proposals/proposal-425.sh
  proposals/proposal-426.sh
Due: prettier --write --ignore-unknown

feat: add ic_delegation_store for deeplink auth
  Cargo.lock
  Cargo.toml
  Makefile
  canister_ids.json
  dfx.json
  src/ic_delegation_store/Cargo.toml
  src/ic_delegation_store/ic_delegation_store.did
  src/ic_delegation_store/src/api_http.rs
  src/ic_delegation_store/src/api_init.rs
  src/ic_delegation_store/src/lib.rs
  src/ic_delegation_store/src/store.rs
  src/x_auth/Cargo.toml
Due: prettier --write --ignore-unknown

chore(ic_message_frontend): add Internet Identity v2 to deep-link Sign In
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/components/core/SignInModal.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/routes/(app)/+page.svelte
  src/ic_message_frontend/src/routes/(app)/[username]/+page.svelte
  src/ic_message_frontend/src/routes/(app)/_/oauth/+layout@(app).svelte
  src/ic_message_frontend/src/routes/(app)/_/oauth/deeplink/+page.svelte
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: update ic_panda_frontend
  src/ic_message_frontend/src/declarations/ic_delegation_store/ic_delegation_store.did
  src/ic_message_frontend/src/declarations/ic_delegation_store/ic_delegation_store.did.d.ts
  src/ic_message_frontend/src/declarations/ic_delegation_store/ic_delegation_store.did.js
  src/ic_message_frontend/src/declarations/ic_delegation_store/index.d.ts
  src/ic_message_frontend/src/declarations/ic_delegation_store/index.js
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/app.html
  src/ic_panda_frontend/src/lib/components/core/PageFooter.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/routes/(app)/+page.svelte
  src/ic_panda_frontend/vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

fix(ic_panda_frontend): fix style for mobile
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/components/core/PageFooter.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/routes/(app)/+page.svelte
  src/ic_panda_frontend/static/_assets/fully-on-chain-icp.svg
  src/ic_panda_frontend/static/_assets/images/neuron-poster.jpg
  src/ic_panda_frontend/static/_assets/images/neuron.mp4
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposals to upgrade apps
  proposals/proposal-427.sh
  proposals/proposal-428.sh
  proposals/proposal-429.sh
  proposals/proposal-430.sh
  proposals/proposal-431.sh
Due: prettier --write --ignore-unknown

chore: add proposals
  proposals/proposal-432.sh
  proposals/proposal-433.sh
  proposals/proposal-434.sh
Due: prettier --write --ignore-unknown

chore: add proposals
  proposals/proposal-434.sh
  proposals/proposal-435.sh
Due: prettier --write --ignore-unknown

chore: Register IC Delegation Store Canister
  .github/workflows/release.yml
  proposals/proposal-437.sh
  src/ic_delegation_store/Cargo.toml
Due: prettier --write --ignore-unknown

chore: update dependencies
  Cargo.lock
  Cargo.toml
  proposals/proposal-438.sh
  src/cli_airdrop/src/block.rs
  src/ic_delegation_store/src/api_init.rs
  src/ic_delegation_store/src/store.rs
  src/ic_message/src/schnorr.rs
Due: prettier --write --ignore-unknown

chore: add proposal to upgrade ic_cose_canister
  proposals/proposal-439.sh
Due: prettier --write --ignore-unknown

feat: evm_icp_bridge (WIP)
  Cargo.lock
  Cargo.toml
  dfx.json
  src/evm_icp_bridge/Cargo.toml
  src/evm_icp_bridge/contracts/ICPanda_flattened.sol
  src/evm_icp_bridge/src/api.rs
  src/evm_icp_bridge/src/api_admin.rs
  src/evm_icp_bridge/src/api_http.rs
  src/evm_icp_bridge/src/api_init.rs
  src/evm_icp_bridge/src/ecdsa.rs
  src/evm_icp_bridge/src/lib.rs
  src/evm_icp_bridge/src/store.rs
Due: prettier --write --ignore-unknown

feat(evm_icp_bridge): EVM API
  Cargo.lock
  Cargo.toml
  src/evm_icp_bridge/Cargo.toml
  src/evm_icp_bridge/src/api_admin.rs
  src/evm_icp_bridge/src/api_init.rs
  src/evm_icp_bridge/src/evm.rs
  src/evm_icp_bridge/src/lib.rs
  src/evm_icp_bridge/src/store.rs
Due: prettier --write --ignore-unknown

feat(evm_icp_bridge): bridge API
  Cargo.lock
  src/evm_icp_bridge/Cargo.toml
  src/evm_icp_bridge/src/api.rs
  src/evm_icp_bridge/src/api_admin.rs
  src/evm_icp_bridge/src/evm.rs
  src/evm_icp_bridge/src/helper.rs
  src/evm_icp_bridge/src/lib.rs
  src/evm_icp_bridge/src/store.rs
Due: prettier --write --ignore-unknown

feat(evm_icp_bridge): canister API
  src/evm_icp_bridge/src/api.rs
  src/evm_icp_bridge/src/evm.rs
  src/evm_icp_bridge/src/store.rs
Due: prettier --write --ignore-unknown

chore: move `evm_icp_bridge` to https://github.com/ldclabs/ic-one-bridge
  Cargo.lock
  Cargo.toml
  dfx.json
  src/evm_icp_bridge/Cargo.toml
  src/evm_icp_bridge/contracts/ICPanda_flattened.sol
  src/evm_icp_bridge/src/api.rs
  src/evm_icp_bridge/src/api_admin.rs
  src/evm_icp_bridge/src/api_http.rs
  src/evm_icp_bridge/src/api_init.rs
  src/evm_icp_bridge/src/ecdsa.rs
  src/evm_icp_bridge/src/evm.rs
  src/evm_icp_bridge/src/helper.rs
  src/evm_icp_bridge/src/lib.rs
  src/evm_icp_bridge/src/store.rs
Due: prettier --write --ignore-unknown

chore: add proposals to upgrade IC OSS canisters
  proposals/proposal-442.sh
  proposals/proposal-443.sh
  proposals/proposal-444.sh
Due: prettier --write --ignore-unknown

chore: add proposals to collect fees on ICPSwap pool
  proposals/proposal-444.sh
  proposals/proposal-445.sh
  proposals/proposal-446.sh
  proposals/proposal-447.sh
  proposals/proposal-448.sh
Due: prettier --write --ignore-unknown

chore: add One Bridge link
  proposals/proposal-450.sh
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/components/core/PageFooter.svelte
  src/ic_panda_frontend/src/lib/components/core/PageHeader.svelte
  src/ic_panda_frontend/src/lib/utils/helper.ts
  src/ic_panda_frontend/src/routes/(app)/+page.svelte
  src/ic_panda_frontend/static/_assets/logo_32.svg
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposals to `AddGenericNervousSystemFunction`
  proposals/proposal-451.sh
  proposals/proposal-452.sh
  sns_functions.md
Due: prettier --write --ignore-unknown

fix(ic_message_frontend): fix wallet
  src/ic_message_frontend/src/lib/components/core/TransferTokenModal.svelte
Due: prettier --write --ignore-unknown
