Repository ldclabs/ic-panda: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, eslint --fix, sort-package-json

fix(frontend): match TokenList language switcher design
  src/dmsg_frontend/src/lib/components/landing/landing.css
  src/dmsg_frontend/src/lib/i18n/LocaleSwitcher.svelte
  src/ic_panda_frontend/src/lib/i18n/LocaleSwitcher.svelte
Due: prettier --write --ignore-unknown, stylelint --fix

fix(dmsg_frontend): clarify reactive props and draft lifetimes
  src/dmsg_frontend/src/lib/components/messages/ChannelCreateModal.svelte
  src/dmsg_frontend/src/lib/components/messages/ChannelDetail.svelte
  src/dmsg_frontend/src/lib/components/messages/ChannelEditModal.svelte
  src/dmsg_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/dmsg_frontend/src/lib/components/messages/ChannelUpdateStorageModal.svelte
  src/dmsg_frontend/src/lib/components/messages/ChannelUploadModal.svelte
  src/dmsg_frontend/src/lib/components/messages/Chat.svelte
  src/dmsg_frontend/src/lib/components/messages/LinkEditModal.svelte
  src/dmsg_frontend/src/lib/components/messages/ProfileDetail.svelte
  src/dmsg_frontend/src/lib/components/messages/UserRegisterModal.svelte
  src/dmsg_frontend/src/lib/components/messages/UsernameTransferModal.svelte
  src/dmsg_frontend/src/lib/components/props-lifecycle.svelte.test.ts
  src/dmsg_frontend/src/lib/components/testing/CropperStub.svelte
  src/dmsg_frontend/src/lib/components/ui/ImageCrop.svelte
  src/dmsg_frontend/src/lib/components/ui/MemoDetail.svelte
  src/dmsg_frontend/src/lib/components/ui/ModalHost.svelte
  src/dmsg_frontend/src/lib/components/ui/SendTokenForm.svelte
  src/dmsg_frontend/vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix

fix(deploy): download custom canisters on demand and prepare frontend releases
  dfx.json
  proposals/proposal-501.sh
  proposals/proposal-502.sh
  proposals/proposal-503.sh
  scripts/deployment_guide.md
  scripts/download-canister.sh
  src/dmsg_frontend/package.json
  src/dmsg_frontend/src/lib/components/core/SignInModal.svelte
  src/dmsg_frontend/src/lib/constants.ts
  src/dmsg_frontend/src/lib/stores/auth.ts
  src/dmsg_frontend/src/routes/(app)/_/oauth/deeplink/+page.svelte
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

docs: record whitepaper adoption through SNS proposal 504
  proposals/proposal-504.sh
  whitepaper/en.md
  whitepaper/zh.md
Due: prettier --write --ignore-unknown

chore: remove cli_cryptogram and x_auth
  Cargo.lock
  Cargo.toml
  src/cli_cryptogram/Cargo.toml
  src/cli_cryptogram/src/main.rs
  src/ic_signin_with/src/api_eth.rs
  src/x_auth/Cargo.toml
  src/x_auth/env.sample
  src/x_auth/src/api.rs
  src/x_auth/src/api_twitter.rs
  src/x_auth/src/cbor.rs
  src/x_auth/src/context.rs
  src/x_auth/src/erring.rs
  src/x_auth/src/grecaptcha.rs
  src/x_auth/src/main.rs
Due: prettier --write --ignore-unknown

fix(dmsg): use milliseconds and explicit CBOR byte strings
  docs/dmsg_canisters_zh.md
  scripts/verify-dmsg-vectors.mjs
  src/dmsg_app/src/lib/canisters/generated/payment/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/payment/index.js
  src/dmsg_app/src/lib/canisters/generated/user/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/user/index.js
  src/dmsg_cose/src/lib.rs
  src/dmsg_cose/src/model.rs
  src/dmsg_handle/src/lib.rs
  src/dmsg_payment/dmsg_payment.did
  src/dmsg_payment/src/lib.rs
  src/dmsg_payment/src/model.rs
  src/dmsg_payment/src/model/tests.rs
  src/dmsg_types/examples/protocol_vectors.rs
  src/dmsg_types/src/handle.rs
  src/dmsg_types/src/ledger.rs
  src/dmsg_types/src/payment.rs
  src/dmsg_types/src/protocol.rs
  src/dmsg_types/src/stable.rs
  src/dmsg_types/src/user.rs
  src/dmsg_types/tests/contracts.rs
  src/dmsg_types/tests/protocol_vectors.json
  src/dmsg_user/dmsg_user.did
  src/dmsg_user/src/lib.rs
  src/dmsg_user/src/model.rs
  src/dmsg_user/src/tests.rs
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/review_regressions.rs
  tests/dmsg_test_ledger/src/lib.rs
Due: prettier --write --ignore-unknown, eslint --fix

fix: fix test failure
  scripts/sync-cose-chain-key.py
Due: prettier --write --ignore-unknown

refactor(dmsg): reuse shared Xid implementation
  Cargo.lock
  Cargo.toml
  docs/dmsg_canisters_zh.md
  docs/protocol/README.md
  docs/protocol/statement-v3-design.md
  src/dmsg_cose/src/api.rs
  src/dmsg_cose/src/model.rs
  src/dmsg_handle/src/api.rs
  src/dmsg_handle/src/store.rs
  src/dmsg_payment/src/model/tests.rs
  src/dmsg_protocol/src/codec.rs
  src/dmsg_protocol/src/identity.rs
  src/dmsg_protocol/src/receipt.rs
  src/dmsg_protocol/src/requests.rs
  src/dmsg_protocol/tests/signing.rs
  src/dmsg_types/README.md
  src/dmsg_types/examples/protocol_vectors.rs
  src/dmsg_types/src/account_id.rs
  src/dmsg_types/tests/contracts.rs
  src/dmsg_user/Cargo.toml
  src/dmsg_user/README.md
  src/dmsg_user/src/account.rs
  src/dmsg_user/src/api.rs
  src/dmsg_user/src/execution.rs
  src/dmsg_user/src/recovery.rs
  src/dmsg_user/src/state.rs
  src/dmsg_user/src/store.rs
  src/dmsg_user/src/tests.rs
  src/dmsg_user/src/xid.rs
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/review_regressions.rs
Due: prettier --write --ignore-unknown

refactor(dmsg): compact stable state encoding
  Cargo.toml
  docs/dmsg_canisters_zh.md
  src/dmsg_cose/README.md
  src/dmsg_cose/src/lib.rs
  src/dmsg_cose/src/stable_codec.rs
  src/dmsg_cose/src/store.rs
  src/dmsg_handle/README.md
  src/dmsg_handle/src/api.rs
  src/dmsg_handle/src/lib.rs
  src/dmsg_handle/src/stable_codec.rs
  src/dmsg_handle/src/store.rs
  src/dmsg_payment/README.md
  src/dmsg_payment/src/lib.rs
  src/dmsg_payment/src/stable_codec.rs
  src/dmsg_payment/src/store.rs
  src/dmsg_runtime/README.md
  src/dmsg_runtime/src/lib.rs
  src/dmsg_runtime/src/stable_types.rs
  src/dmsg_runtime/src/storage.rs
  src/dmsg_user/README.md
  src/dmsg_user/src/api.rs
  src/dmsg_user/src/lib.rs
  src/dmsg_user/src/stable_codec.rs
  src/dmsg_user/src/store.rs
Due: prettier --write --ignore-unknown

perf(dmsg_user): avoid scanning historical execution payloads
  docs/dmsg_canisters_zh.md
  src/dmsg_user/README.md
  src/dmsg_user/src/account.rs
  src/dmsg_user/src/api.rs
  src/dmsg_user/src/execution.rs
  src/dmsg_user/src/stable_codec.rs
  src/dmsg_user/src/state.rs
  src/dmsg_user/src/store.rs
  src/dmsg_user/src/tests.rs
  tests/dmsg_integration/README.md
  tests/dmsg_integration/tests/control_plane/review_regressions.rs
Due: prettier --write --ignore-unknown

refactor(dmsg): optimize protocol validation and expand test coverage
  Cargo.toml
  src/dmsg_cose/src/api.rs
  src/dmsg_cose/src/model.rs
  src/dmsg_cose/src/store.rs
  src/dmsg_handle/src/api.rs
  src/dmsg_handle/src/store.rs
  src/dmsg_payment/src/api.rs
  src/dmsg_payment/src/model.rs
  src/dmsg_payment/src/state.rs
  src/dmsg_payment/src/store.rs
  src/dmsg_protocol/Cargo.toml
  src/dmsg_protocol/README.md
  src/dmsg_protocol/benches/validation.rs
  src/dmsg_protocol/examples/verify.rs
  src/dmsg_protocol/src/codec.rs
  src/dmsg_protocol/src/codec/tests.rs
  src/dmsg_protocol/src/handle.rs
  src/dmsg_protocol/src/handle/tests.rs
  src/dmsg_protocol/src/identity.rs
  src/dmsg_protocol/src/identity/tests.rs
  src/dmsg_protocol/src/receipt.rs
  src/dmsg_protocol/src/requests.rs
  src/dmsg_protocol/src/requests/tests.rs
  src/dmsg_protocol/src/signing.rs
  src/dmsg_protocol/tests/signing.rs
  src/dmsg_runtime/src/budget.rs
  src/dmsg_runtime/src/certified.rs
  src/dmsg_runtime/src/ledger.rs
  src/dmsg_runtime/src/lib.rs
  src/dmsg_runtime/src/storage.rs
  src/dmsg_types/Cargo.toml
  src/dmsg_types/src/user.rs
  src/dmsg_user/src/state.rs
  src/dmsg_user/src/store.rs
  src/ic_cose_chain_key/Cargo.toml
Due: prettier --write --ignore-unknown

perf(dmsg_payment): reduce escrow execution cycles
  Cargo.lock
  docs/dmsg_canisters_zh.md
  src/dmsg_payment/Cargo.toml
  src/dmsg_payment/README.md
  src/dmsg_payment/src/api.rs
  src/dmsg_payment/src/calls.rs
  src/dmsg_payment/src/lib.rs
  src/dmsg_payment/src/model.rs
  src/dmsg_payment/src/model/tests.rs
  src/dmsg_payment/src/store.rs
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/payment_optimization.rs
Due: prettier --write --ignore-unknown

perf(dmsg_handle): reduce registration cycles and stable memory
  Cargo.lock
  docs/dmsg_canisters_zh.md
  src/dmsg_handle/Cargo.toml
  src/dmsg_handle/README.md
  src/dmsg_handle/src/api.rs
  src/dmsg_handle/src/stable_codec.rs
  src/dmsg_handle/src/store.rs
  tests/dmsg_integration/README.md
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/handle.rs
Due: prettier --write --ignore-unknown

perf(dmsg_cose): reduce execution storage and cycles
  src/dmsg_cose/README.md
  src/dmsg_cose/src/api.rs
  src/dmsg_cose/src/model.rs
  src/dmsg_cose/src/stable_codec.rs
  src/dmsg_cose/src/store.rs
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/cose_optimization.rs
Due: prettier --write --ignore-unknown

refactor(dmsg): maintain chain-key helper independently
  scripts/sync-cose-chain-key.py
  scripts/test-dmsg.sh
  src/dmsg_cose/README.md
  src/ic_cose_chain_key/Cargo.toml
  src/ic_cose_chain_key/README.md
  src/ic_cose_chain_key/SOURCE.json
Due: prettier --write --ignore-unknown

docs(dmsg_types): document public contracts and add bilingual guides
  src/dmsg_types/Cargo.toml
  src/dmsg_types/README.md
  src/dmsg_types/README_zh.md
  src/dmsg_types/src/account.rs
  src/dmsg_types/src/account_id.rs
  src/dmsg_types/src/cose.rs
  src/dmsg_types/src/handle.rs
  src/dmsg_types/src/lib.rs
  src/dmsg_types/src/payment.rs
  src/dmsg_types/src/profiles/delivery.rs
  src/dmsg_types/src/protocol.rs
  src/dmsg_types/src/signing.rs
  src/dmsg_types/src/user.rs
Due: prettier --write --ignore-unknown

docs(dmsg_protocol): document APIs and prepare crates for publication
  src/dmsg_protocol/Cargo.toml
  src/dmsg_protocol/README.md
  src/dmsg_protocol/README_zh.md
  src/dmsg_protocol/src/codec.rs
  src/dmsg_protocol/src/handle.rs
  src/dmsg_protocol/src/identity.rs
  src/dmsg_protocol/src/lib.rs
  src/dmsg_protocol/src/receipt.rs
  src/dmsg_protocol/src/requests.rs
  src/dmsg_protocol/src/signing.rs
  src/dmsg_types/Cargo.toml
Due: prettier --write --ignore-unknown

fix(dmsg): sync generated Candid documentation
  src/dmsg_cose/dmsg_cose.did
  src/dmsg_handle/dmsg_handle.did
  src/dmsg_payment/dmsg_payment.did
  src/dmsg_types/README.md
  src/dmsg_types/README_zh.md
  src/dmsg_user/dmsg_user.did
Due: prettier --write --ignore-unknown

fix: fix README.md
  README.md
Due: prettier --write --ignore-unknown

fix(dmsg): recover expired uploads and review saved approvals
  docs/protocol/cloud_zh.md
  src/dmsg_app/e2e/account-probe.ts
  src/dmsg_app/e2e/account.spec.ts
  src/dmsg_app/src/crypto-worker.ts
  src/dmsg_app/src/lib/components/CommerceSettings.svelte
  src/dmsg_app/src/lib/components/SyncSettings.svelte
  src/dmsg_app/src/lib/crypto/content.ts
  src/dmsg_app/src/lib/crypto/engine.ts
  src/dmsg_app/src/lib/services/commerce.ts
  src/dmsg_app/src/lib/services/content.ts
  src/dmsg_app/src/lib/services/shared-migration.ts
  src/dmsg_app/tests/content.test.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix(dmsg_user): reconcile execution failures and streamline authorization
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  docs/protocol/commerce.md
  docs/protocol/commerce_zh.md
  src/dmsg_user/README.md
  src/dmsg_user/src/account.rs
  src/dmsg_user/src/api.rs
  src/dmsg_user/src/commerce.rs
  src/dmsg_user/src/execution.rs
  src/dmsg_user/src/stable_codec.rs
  src/dmsg_user/src/state.rs
  src/dmsg_user/src/store.rs
  src/dmsg_user/src/tests.rs
  tests/dmsg_integration/README.md
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/commerce.rs
  tests/dmsg_integration/tests/control_plane/review_regressions.rs
  tests/dmsg_integration/tests/control_plane/user.rs
Due: prettier --write --ignore-unknown

feat(dmsg): add signed file statements
  docs/dmsg_canisters_zh.md
  docs/protocol/README.md
  docs/protocol/README_zh.md
  docs/protocol/statement-v3-design.md
  docs/protocol/statement-v3-design_zh.md
  docs/protocol/statements.cddl
  scripts/verify-dmsg-vectors.mjs
  src/dmsg_app/README.md
  src/dmsg_app/src/lib/canisters/generated/user/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/user/index.js
  src/dmsg_app/src/lib/components/Approval.svelte
  src/dmsg_app/src/lib/protocol/requests.ts
  src/dmsg_app/src/lib/protocol/statements.ts
  src/dmsg_app/src/lib/services/cose.ts
  src/dmsg_app/src/lib/services/signing.ts
  src/dmsg_app/tests/cose.test.ts
  src/dmsg_app/tests/requests.test.ts
  src/dmsg_app/tests/statements.test.ts
  src/dmsg_cose/dmsg_cose.did
  src/dmsg_protocol/README.md
  src/dmsg_protocol/README_zh.md
  src/dmsg_protocol/src/requests/tests.rs
  src/dmsg_protocol/src/signing.rs
  src/dmsg_protocol/tests/signing.rs
  src/dmsg_types/README.md
  src/dmsg_types/README_zh.md
  src/dmsg_types/examples/protocol_vectors.rs
  src/dmsg_types/src/cose.rs
  src/dmsg_types/src/signing.rs
  src/dmsg_types/tests/protocol_vectors.json
  src/dmsg_user/dmsg_user.did
  tests/dmsg_integration/tests/control_plane/review_regressions.rs
Due: prettier --write --ignore-unknown, eslint --fix

fix(dmsg_handle): recover reservations and certify legacy lookups
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  src/dmsg_app/src/lib/canisters/generated/handle/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/handle/index.js
  src/dmsg_app/src/lib/canisters/generated/user/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/user/index.js
  src/dmsg_app/src/lib/protocol/handle.ts
  src/dmsg_app/src/lib/services/certified.ts
  src/dmsg_app/src/lib/services/handle.ts
  src/dmsg_app/tests/fixtures/README.md
  src/dmsg_app/tests/fixtures/handle-reservation.cbor
  src/dmsg_app/tests/handle.test.ts
  src/dmsg_handle/README.md
  src/dmsg_handle/dmsg_handle.did
  src/dmsg_handle/src/api.rs
  src/dmsg_handle/src/store.rs
  src/dmsg_types/src/handle.rs
  src/dmsg_user/dmsg_user.did
  src/dmsg_user/src/api.rs
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/handle.rs
  tests/dmsg_integration/tests/control_plane/review_regressions.rs
  tests/dmsg_test_ledger/src/lib.rs
Due: prettier --write --ignore-unknown, eslint --fix

fix(dmsg_cose): protect root capacity and streamline execution
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  src/dmsg_app/e2e/account-probe.ts
  src/dmsg_app/src/lib/canisters/generated/cose/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/cose/index.js
  src/dmsg_app/src/lib/canisters/generated/user/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/user/index.js
  src/dmsg_app/src/lib/services/signing.ts
  src/dmsg_app/tests/cose.test.ts
  src/dmsg_cose/README.md
  src/dmsg_cose/dmsg_cose.did
  src/dmsg_cose/src/api.rs
  src/dmsg_cose/src/model.rs
  src/dmsg_cose/src/stable_codec.rs
  src/dmsg_cose/src/store.rs
  src/dmsg_protocol/README.md
  src/dmsg_protocol/README_zh.md
  src/dmsg_protocol/src/requests/tests.rs
  src/dmsg_protocol/src/signing.rs
  src/dmsg_protocol/tests/signing.rs
  src/dmsg_runtime/src/lib.rs
  src/dmsg_runtime/src/stable_types.rs
  src/dmsg_types/README.md
  src/dmsg_types/README_zh.md
  src/dmsg_types/src/cose.rs
  src/dmsg_user/README.md
  src/dmsg_user/dmsg_user.did
  src/dmsg_user/src/execution.rs
  src/dmsg_user/src/stable_codec.rs
  src/dmsg_user/src/tests.rs
  src/ic_cose_chain_key/README.md
  src/ic_cose_chain_key/src/lib.rs
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/cose_optimization.rs
  tests/dmsg_integration/tests/control_plane/review_regressions.rs
  tests/dmsg_integration/tests/control_plane/user.rs
Due: prettier --write --ignore-unknown, eslint --fix

fix(dmsg_commerce): correct lifecycle transitions and bound admission
  docs/protocol/commerce.md
  docs/protocol/commerce_zh.md
  src/dmsg_app/src/lib/canisters/generated/commerce/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/commerce/index.js
  src/dmsg_commerce/README.md
  src/dmsg_commerce/dmsg_commerce.did
  src/dmsg_commerce/src/api.rs
  src/dmsg_commerce/src/model.rs
  src/dmsg_commerce/src/stable_codec.rs
  src/dmsg_commerce/src/store.rs
  src/dmsg_types/src/billing.rs
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/commerce.rs
  tests/dmsg_integration/tests/control_plane/commerce_regressions.rs
Due: prettier --write --ignore-unknown, eslint --fix

fix(dmsg_payment): maintain fees and isolate admission budgets
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  docs/protocol/commerce.md
  docs/protocol/commerce_zh.md
  src/dmsg_app/src/lib/canisters/generated/payment/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/payment/index.js
  src/dmsg_app/src/lib/services/wallet.ts
  src/dmsg_app/tests/wallet-payment.test.ts
  src/dmsg_payment/README.md
  src/dmsg_payment/dmsg_payment.did
  src/dmsg_payment/src/api.rs
  src/dmsg_payment/src/model.rs
  src/dmsg_payment/src/model/tests.rs
  src/dmsg_payment/src/stable_codec.rs
  src/dmsg_payment/src/store.rs
  src/dmsg_runtime/src/stable_types.rs
  src/dmsg_types/src/payment.rs
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/payment_optimization.rs
  tests/dmsg_integration/tests/control_plane/payment_regressions.rs
Due: prettier --write --ignore-unknown, eslint --fix

fix(dmsg_app): handle aborted inbox entries without decrypting hidden content
  docs/protocol/cloud_zh.md
  src/dmsg_app/src/lib/components/InboxSettings.svelte
  src/dmsg_app/src/lib/services/inbox.ts
  src/dmsg_app/tests/fixtures/inbox-terminal.json
  src/dmsg_app/tests/inbox-terminal.test.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix(membership): protect admission capacity and reconcile claim lifecycle
  Cargo.lock
  docs/protocol/commerce.md
  docs/protocol/commerce_zh.md
  src/dmsg_app/src/lib/canisters/generated/membership/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/membership/index.js
  src/membership/Cargo.toml
  src/membership/README.md
  src/membership/membership.did
  src/membership/src/api.rs
  src/membership/src/model.rs
  src/membership/src/stable_codec.rs
  src/membership/src/store.rs
  tests/dmsg_integration/README.md
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/commerce.rs
  tests/dmsg_integration/tests/control_plane/membership.rs
  tests/dmsg_test_sns/Cargo.toml
  tests/dmsg_test_sns/src/lib.rs
Due: prettier --write --ignore-unknown, eslint --fix

fix(dmsg_app): repair recovery and retries and stream cloud synchronization
  docs/protocol/cloud_zh.md
  src/dmsg_app/QA.md
  src/dmsg_app/README.md
  src/dmsg_app/e2e/extension.spec.ts
  src/dmsg_app/src/crypto-worker.ts
  src/dmsg_app/src/lib/components/Settings.svelte
  src/dmsg_app/src/lib/config.ts
  src/dmsg_app/src/lib/crypto/channel.ts
  src/dmsg_app/src/lib/crypto/content.ts
  src/dmsg_app/src/lib/crypto/engine.ts
  src/dmsg_app/src/lib/crypto/legacy.ts
  src/dmsg_app/src/lib/db.ts
  src/dmsg_app/src/lib/models.ts
  src/dmsg_app/src/lib/protocol/content.ts
  src/dmsg_app/src/lib/requests.ts
  src/dmsg_app/src/lib/services/account-root.ts
  src/dmsg_app/src/lib/services/certified.ts
  src/dmsg_app/src/lib/services/channel.ts
  src/dmsg_app/src/lib/services/commerce.ts
  src/dmsg_app/src/lib/services/content.ts
  src/dmsg_app/src/lib/services/ic.ts
  src/dmsg_app/src/lib/services/inbox.ts
  src/dmsg_app/src/lib/services/outbox.ts
  src/dmsg_app/src/main.ts
  src/dmsg_app/src/service-worker.ts
  src/dmsg_app/tests/backup-limits.test.ts
  src/dmsg_app/tests/content-client.test.ts
  src/dmsg_app/tests/content.test.ts
  src/dmsg_app/tests/outbox.test.ts
  src/dmsg_app/tests/recovery-retry.test.ts
  tests/dmsg_integration/tests/legacy_fixture.rs
Due: prettier --write --ignore-unknown, eslint --fix

fix(ci): use the repository pnpm version for extension checks
  .github/workflows/test.yml
Due: prettier --write --ignore-unknown

feat(dmsg): add authenticated v4 browser operations
  docs/protocol/README.md
  docs/protocol/README_zh.md
  docs/protocol/browser-v4.md
  docs/protocol/integration.md
  packages/dmsg-sdk/README.md
  packages/dmsg-sdk/package.json
  packages/dmsg-sdk/src/browser.ts
  packages/dmsg-sdk/src/encoding.ts
  packages/dmsg-sdk/src/ic.ts
  packages/dmsg-sdk/src/validation.ts
  packages/dmsg-sdk/tests/browser.test.ts
  pnpm-lock.yaml
  src/dmsg_app/README.md
  src/dmsg_app/e2e/account-probe.ts
  src/dmsg_app/e2e/external-browser.spec.ts
  src/dmsg_app/package.json
  src/dmsg_app/src/lib/bridge-requests.ts
  src/dmsg_app/src/lib/components/Approval.svelte
  src/dmsg_app/src/lib/components/AuthenticationApproval.svelte
  src/dmsg_app/src/lib/components/DocumentApproval.svelte
  src/dmsg_app/src/lib/components/Signatures.svelte
  src/dmsg_app/src/lib/external-port.ts
  src/dmsg_app/src/lib/protocol/account.ts
  src/dmsg_app/src/lib/protocol/requests.ts
  src/dmsg_app/src/lib/requests.ts
  src/dmsg_app/src/lib/sdk.ts
  src/dmsg_app/src/lib/services/authentication.ts
  src/dmsg_app/src/lib/services/registration.ts
  src/dmsg_app/src/lib/services/signing.ts
  src/dmsg_app/src/service-worker.ts
  src/dmsg_app/tests/bridge.test.ts
  src/dmsg_app/tests/recovery-retry.test.ts
  src/dmsg_app/tests/requests.test.ts
  src/dmsg_app/tsconfig.json
  src/dmsg_app/vite.config.ts
  src/dmsg_types/README.md
  src/dmsg_types/README_zh.md
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

Path conditions:
  prettier --write --ignore-unknown: any of: *
  stylelint --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
