Repository ldclabs/ic-panda: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*": "prettier --write --ignore-unknown",
  "*.css": "stylelint --fix",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "package.json": "sort-package-json"
}

Improve luckypool canister
  .editorconfig
  src/ic_panda_luckypool/ic_panda_luckypool.did
  src/ic_panda_luckypool/src/api_init.rs
  src/ic_panda_luckypool/src/api_query.rs
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/lib.rs
  src/ic_panda_luckypool/src/store.rs
  src/ic_panda_luckypool/src/types.rs
  src/ic_panda_luckypool/src/utils.rs
Due: prettier --write --ignore-unknown

A crowd minting formula for ICPanda badges.
  src/ic_panda_badges/src/lib.rs
Due: prettier --write --ignore-unknown

Fix lucky pool canister
  Cargo.lock
  src/ic_panda_luckypool/Cargo.toml
  src/ic_panda_luckypool/ic_panda_luckypool.did
  src/ic_panda_luckypool/src/api_admin.rs
  src/ic_panda_luckypool/src/api_init.rs
  src/ic_panda_luckypool/src/api_query.rs
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/lib.rs
  src/ic_panda_luckypool/src/store.rs
  src/ic_panda_luckypool/src/types.rs
  src/ic_panda_luckypool/src/utils.rs
Due: prettier --write --ignore-unknown

Add: 1. header component with "Sign In"; 2. "Lucky Pool" section
  package.json
  pnpm-lock.yaml
  src/ic_panda_frontend/.eslintignore
  src/ic_panda_frontend/.eslintrc.js
  src/ic_panda_frontend/.lintstagedrc.json
  src/ic_panda_frontend/.prettierignore
  src/ic_panda_frontend/.prettierrc.json
  src/ic_panda_frontend/.stylelintrc.json
  src/ic_panda_frontend/eslint.config.js
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/pnpm-lock.yaml
  src/ic_panda_frontend/src/app.pcss
  src/ic_panda_frontend/src/lib/components/core/PageFooter.svelte
  src/ic_panda_frontend/src/lib/components/core/PageHeader.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconAccount.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconWallet.svelte
  src/ic_panda_frontend/src/lib/components/ui/ButtonIC.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/stores/auth.ts
  src/ic_panda_frontend/src/routes/+layout.svelte
  src/ic_panda_frontend/src/routes/+page.svelte
  src/ic_panda_frontend/static/_assets/images/luckypool-bg.webp
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

Fix frontend style
  src/ic_panda_frontend/src/lib/components/core/PageHeader.svelte
  src/ic_panda_frontend/src/routes/+layout.svelte
Due: prettier --write --ignore-unknown

feat: account detail info
  src/ic_panda_frontend/src/lib/canisters/icpLedger.ts
  src/ic_panda_frontend/src/lib/components/core/AccountDetail.svelte
  src/ic_panda_frontend/src/lib/components/core/PageHeader.svelte
  src/ic_panda_frontend/src/lib/components/core/SignInSection.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconAccount.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconAdd.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconArrowLeftDown.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconArrowRightUp.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconClose.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconCopy.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconIcLogo.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconInfo.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconPanda.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconQrCode.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconQuestion.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconWallet.svelte
  src/ic_panda_frontend/src/lib/components/ui/ButtonIC.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/stores/auth.ts
  src/ic_panda_frontend/src/routes/+layout.svelte
  src/ic_panda_frontend/src/routes/+page.svelte
  src/ic_panda_frontend/static/_assets/icpanda-dao.svg
  src/ic_panda_frontend/static/_assets/logo.svg
Due: prettier --write --ignore-unknown, eslint --fix

Add more feature to frontend
  pnpm-lock.yaml
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/canisters/icpLedger.ts
  src/ic_panda_frontend/src/lib/components/core/AccountDetail.svelte
  src/ic_panda_frontend/src/lib/components/core/PageHeader.svelte
  src/ic_panda_frontend/src/lib/components/ui/ButtonIC.svelte
  src/ic_panda_frontend/src/lib/components/ui/Loading.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextClipboard.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextTokenAmount.svelte
  src/ic_panda_frontend/src/lib/stores/locale.ts
  src/ic_panda_frontend/src/lib/utils/account_identifier.ts
  src/ic_panda_frontend/src/lib/utils/token.ts
  src/ic_panda_frontend/src/routes/+page.svelte
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

feat: implement token transfer in frontend canister
  pnpm-lock.yaml
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/canisters/icpLedger.ts
  src/ic_panda_frontend/src/lib/canisters/tokenledger.ts
  src/ic_panda_frontend/src/lib/components/core/AccountDetail.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconArrowDown.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconCornerDownLeft.svelte
  src/ic_panda_frontend/src/lib/components/ui/Loading.svelte
  src/ic_panda_frontend/src/lib/components/ui/SendTokenForm.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextClipboard.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextTokenAmount.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/stores/auth.ts
  src/ic_panda_frontend/src/lib/types/result.ts
  src/ic_panda_frontend/src/lib/types/token.ts
  src/ic_panda_frontend/src/lib/utils/account_identifier.ts
  src/ic_panda_frontend/src/lib/utils/token.ts
  src/ic_panda_frontend/static/.ic-assets.json5
  src/ic_panda_frontend/tailwind.config.js
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

Update token allocation description in the Whitepaper
  sns_init.yaml
  whitepaper/en.md
  whitepaper/zh.md
Due: prettier --write --ignore-unknown

Update 'minimum_direct_participation_icp' from 12,000 to 6,000
  sns_init.yaml
  whitepaper/en.md
  whitepaper/zh.md
Due: prettier --write --ignore-unknown

Update 'minimum_creation_stake' from 10000 to 1000
  sns_init.yaml
Due: prettier --write --ignore-unknown

Adaptive design style
  src/ic_panda_frontend/src/lib/components/core/AccountDetail.svelte
  src/ic_panda_frontend/src/lib/components/core/PageHeader.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconAccount.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconClose.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconCopy.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconCrown.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconUser0.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconUser1.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconWallet.svelte
  src/ic_panda_frontend/src/lib/components/ui/SendTokenForm.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextClipboard.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextTokenAmount.svelte
  src/ic_panda_frontend/src/routes/+layout.svelte
  src/ic_panda_frontend/src/routes/+page.svelte
Due: prettier --write --ignore-unknown

support PWA
  pnpm-lock.yaml
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/app.html
  src/ic_panda_frontend/src/global.d.ts
  src/ic_panda_frontend/src/lib/ReloadPrompt.svelte
  src/ic_panda_frontend/src/routes/+layout.svelte
  src/ic_panda_frontend/src/service-worker.ts
  src/ic_panda_frontend/static/site.webmanifest
  src/ic_panda_frontend/svelte.config.js
  src/ic_panda_frontend/tsconfig.json
  src/ic_panda_frontend/vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

support notifications
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/app.pcss
  src/ic_panda_frontend/src/lib/ReloadPrompt.svelte
  src/ic_panda_frontend/src/lib/canisters/luckypool.ts
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/routes/+page.svelte
  src/ic_panda_frontend/vite.config.js
  src/ic_panda_luckypool/ic_panda_luckypool.did
  src/ic_panda_luckypool/src/api_admin.rs
  src/ic_panda_luckypool/src/api_query.rs
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/lib.rs
  src/ic_panda_luckypool/src/store.rs
  src/ic_panda_luckypool/src/types.rs
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

Change AIRDROP_AMOUNT from 10 to 100
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/lib.rs
Due: prettier --write --ignore-unknown

Implemented Lucky Pool in frontend
  src/ic_panda_frontend/src/lib/canisters/icpLedger.ts
  src/ic_panda_frontend/src/lib/canisters/luckypool.ts
  src/ic_panda_frontend/src/lib/canisters/tokenledger.ts
  src/ic_panda_frontend/src/lib/components/core/AccountDetail.svelte
  src/ic_panda_frontend/src/lib/components/core/AccountDetailModal.svelte
  src/ic_panda_frontend/src/lib/components/core/AirdropCard.svelte
  src/ic_panda_frontend/src/lib/components/core/AirdropModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawCard.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyPool.svelte
  src/ic_panda_frontend/src/lib/components/core/PageHeader.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconCircleSpin.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconGoldPanda.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconInfo.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconQuestion.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconRefresh.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconWarning.svelte
  src/ic_panda_frontend/src/lib/components/ui/ModalCard.svelte
  src/ic_panda_frontend/src/lib/components/ui/SendTokenForm.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextClipboardButton.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextClipboardPopup.svelte
  src/ic_panda_frontend/src/lib/stores/auth.ts
  src/ic_panda_frontend/src/lib/types/airdrop.ts
  src/ic_panda_frontend/src/lib/types/identity.ts
  src/ic_panda_frontend/src/lib/utils/auth.ts
  src/ic_panda_frontend/src/lib/utils/token.ts
  src/ic_panda_frontend/src/routes/+layout.svelte
  src/ic_panda_frontend/src/routes/+page.svelte
  src/ic_panda_frontend/tailwind.config.js
  src/ic_panda_luckypool/ic_panda_luckypool.did
  src/ic_panda_luckypool/src/api_admin.rs
  src/ic_panda_luckypool/src/api_update.rs
Due: prettier --write --ignore-unknown, eslint --fix

fix file name in frontend
  src/ic_panda_frontend/src/lib/components/core/AccountDetailModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawModal.svelte
Due: prettier --write --ignore-unknown

frontend fix: fix api store deriving
  src/ic_panda_frontend/src/lib/canisters/icpLedger.ts
  src/ic_panda_frontend/src/lib/canisters/luckypool.ts
  src/ic_panda_frontend/src/lib/canisters/tokenledger.ts
  src/ic_panda_frontend/src/lib/components/core/AccountDetailModal.svelte
  src/ic_panda_frontend/src/lib/components/core/AirdropCard.svelte
  src/ic_panda_frontend/src/lib/components/core/AirdropModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawCard.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyPool.svelte
  src/ic_panda_frontend/src/lib/stores/auth.ts
  src/ic_panda_frontend/src/routes/+page.svelte
Due: prettier --write --ignore-unknown, eslint --fix

'ic_panda_luckypool' fix: fix LUCKIEST_AIRDROP_AMOUNT and LOWEST_LUCKYDRAW_BALANCE
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/store.rs
Due: prettier --write --ignore-unknown

`ic_panda_frontend` fix: improve lucky pool UI
  pnpm-lock.yaml
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/app.d.ts
  src/ic_panda_frontend/src/app.pcss
  src/ic_panda_frontend/src/lib/canisters/icpledger.ts
  src/ic_panda_frontend/src/lib/components/core/AccountDetailModal.svelte
  src/ic_panda_frontend/src/lib/components/core/AirdropCard.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawCard.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyPoolChart.svelte
  src/ic_panda_frontend/src/lib/components/core/PageHeader.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconGoldPanda.svelte
  src/ic_panda_frontend/src/lib/components/ui/SendTokenForm.svelte
  src/ic_panda_frontend/src/routes/+layout.svelte
  src/ic_panda_frontend/src/routes/+page.svelte
  src/ic_panda_frontend/static/_assets/animations/celebrate.json
  src/ic_panda_frontend/static/_assets/images/lucky-pool-bg.webp
  src/ic_panda_frontend/static/_assets/images/lucky-pool-draw-bg.webp
  src/ic_panda_frontend/static/_assets/images/lucky-pool-draw.webp
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

'ic_panda_frontend' chore: improve `ensureAllowance` args
  src/ic_panda_frontend/src/lib/canisters/icpledger.ts
Due: prettier --write --ignore-unknown, eslint --fix

'whitepaper' chore: Add 'maximum supply' info.
  whitepaper/en.md
  whitepaper/zh.md
Due: prettier --write --ignore-unknown

'ic_panda_frontend' chore: update format with eslinter
  src/ic_panda_frontend/.eslintignore
  src/ic_panda_frontend/.eslintrc.js
  src/ic_panda_frontend/.prettierrc.json
  src/ic_panda_frontend/src/lib/ReloadPrompt.svelte
  src/ic_panda_frontend/src/lib/canisters/icpledger.ts
  src/ic_panda_frontend/src/lib/canisters/luckypool.ts
  src/ic_panda_frontend/src/lib/canisters/tokenledger.ts
  src/ic_panda_frontend/src/lib/components/core/AccountDetailModal.svelte
  src/ic_panda_frontend/src/lib/components/core/AirdropCard.svelte
  src/ic_panda_frontend/src/lib/components/core/AirdropModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawCard.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyPoolChart.svelte
  src/ic_panda_frontend/src/lib/components/core/PageFooter.svelte
  src/ic_panda_frontend/src/lib/components/core/PageHeader.svelte
  src/ic_panda_frontend/src/lib/components/ui/ModalCard.svelte
  src/ic_panda_frontend/src/lib/components/ui/SendTokenForm.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextClipboardButton.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextClipboardPopup.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextTokenAmount.svelte
  src/ic_panda_frontend/src/lib/stores/auth.ts
  src/ic_panda_frontend/src/lib/utils/account_identifier.ts
  src/ic_panda_frontend/src/routes/+layout.svelte
  src/ic_panda_frontend/src/routes/+page.svelte
  src/ic_panda_frontend/src/service-worker.ts
Due: prettier --write --ignore-unknown, eslint --fix

'ic_panda_luckypool' chore: upgrade airdrop_state_of() to airdrop_state_of(opt principal)
  src/ic_panda_luckypool/ic_panda_luckypool.did
  src/ic_panda_luckypool/src/api_query.rs
Due: prettier --write --ignore-unknown

'ic_panda_frontend' chore: Add community link; improve airdrop card
  src/ic_panda_frontend/src/lib/canisters/luckypool.ts
  src/ic_panda_frontend/src/lib/components/core/AirdropCard.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconOpenChat.svelte
  src/ic_panda_frontend/src/routes/+page.svelte
Due: prettier --write --ignore-unknown, eslint --fix

Add staging environment "--network dev"
  canister_ids.json
  dfx.json
  src/ic_panda_frontend/src/app.html
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/types/result.ts
  src/ic_panda_frontend/src/lib/utils/token.ts
  src/ic_panda_luckypool/src/lib.rs
Due: prettier --write --ignore-unknown, eslint --fix

'ic_panda_frontend' fix: fix IconGoldPanda
  src/ic_panda_frontend/src/lib/components/icons/IconGoldPanda.svelte
Due: prettier --write --ignore-unknown

chore: update PANDA token and DAO canister id
  README.md
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_luckypool/src/lib.rs
Due: prettier --write --ignore-unknown, eslint --fix

'ic_panda_frontend' chore: add token link
  src/ic_panda_frontend/src/lib/components/core/PageFooter.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextClipboardPopupIcon.svelte
  src/ic_panda_frontend/src/routes/+page.svelte
Due: prettier --write --ignore-unknown

'ic_panda_frontend' chore: update SNS link
  src/ic_panda_frontend/src/lib/components/core/PageFooter.svelte
  src/ic_panda_frontend/src/routes/+page.svelte
Due: prettier --write --ignore-unknown

'ic_panda_luckypool' feat: add validator_method for GenericNervousSystemFunction
  Cargo.lock
  src/ic_panda_luckypool/ic_panda_luckypool.did
  src/ic_panda_luckypool/src/api_admin.rs
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/lib.rs
  src/ic_panda_luckypool/src/store.rs
Due: prettier --write --ignore-unknown

'ic_panda_frontend' chore: update token link
  .gitignore
  sns_canister_ids.json
  src/ic_panda_frontend/src/lib/components/icons/IconExchangeDollar.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconExchangeFunds.svelte
  src/ic_panda_frontend/src/routes/+page.svelte
Due: prettier --write --ignore-unknown

feat: add proposals
  .gitignore
  proposals/env.sh
  proposals/proposal-001.sh
  proposals/proposal-002.sh
  proposals/proposal-003.sh
  proposals/proposal-004.sh
  proposals/proposal-005.sh
  proposals/proposal-006.sh
  proposals/samples/AddGenericNervousSystemFunction.sh
  proposals/samples/ExecuteGenericNervousSystemFunction.sh
  proposals/samples/Motion.sh
  proposals/samples/TransferSnsTreasuryFunds.sh
  proposals/samples/UpgradeSnsControlledCanister.sh
  proposals/samples/UpgradeSnsToNextVersion.sh
Due: prettier --write --ignore-unknown

fix: fix proposals
  proposals/proposal-003.sh
  proposals/samples/AddGenericNervousSystemFunction.sh
Due: prettier --write --ignore-unknown

feat: add "Add liquidity to PANDA/ICP pool on ICPSwap" proposals
  proposals/proposal-006.sh
  proposals/proposal-007.sh
  proposals/proposal-008.sh
  proposals/proposal-009.sh
  proposals/samples/TransferSnsTreasuryFunds.sh
Due: prettier --write --ignore-unknown

fix: fix proposal 09
  proposals/proposal-009.sh
Due: prettier --write --ignore-unknown

feat: add proposals 010, 011 and openchat-01
  proposals/proposal-010.sh
  proposals/proposal-011.sh
  proposals/proposal-openchat-01.sh
  sns_openchat_canister_ids.json
Due: prettier --write --ignore-unknown

'ic_panda_frontend' fix: fix interval API refresh
  src/ic_panda_frontend/src/lib/components/core/LuckyPoolChart.svelte
  src/ic_panda_frontend/src/routes/+page.svelte
Due: prettier --write --ignore-unknown

Proposal feat: add proposal 12: Register the frontend asset canister
  proposals/proposal-011.sh
  proposals/proposal-012.sh
Due: prettier --write --ignore-unknown

Proposal: add proposal 13, 14: for Marketing Campaign Partnership between CryptoEights and ICPanda DAO
  proposals/proposal-013.sh
  proposals/proposal-014.sh
Due: prettier --write --ignore-unknown
