Repository ldclabs/ic-panda: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, eslint --fix, sort-package-json

chore: Improve messages view
  src/ic_panda_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_panda_frontend/src/lib/components/messages/Chat.svelte
  src/ic_panda_frontend/src/lib/stores/message.ts
  src/ic_panda_frontend/src/lib/utils/window.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: improve responsive for mobile
  src/ic_panda_frontend/src/lib/components/icons/IconArrowLeftSLine.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelDetail.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_panda_frontend/src/lib/components/messages/Chat.svelte
  src/ic_panda_frontend/src/lib/components/messages/MyChannelList.svelte
  src/ic_panda_frontend/src/routes/(app)/_/messages/[...channel]/+page.svelte
Due: prettier --write --ignore-unknown

feat: update user profile
  src/ic_panda_frontend/src/lib/components/messages/ChannelCreateModel.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_panda_frontend/src/lib/components/messages/Chat.svelte
  src/ic_panda_frontend/src/lib/components/messages/ProfileDetail.svelte
  src/ic_panda_frontend/src/lib/stores/message.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: fix style issue
  src/ic_panda_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_panda_frontend/src/lib/components/messages/Home.svelte
  src/ic_panda_frontend/src/lib/components/messages/PasswordModel.svelte
  src/ic_panda_frontend/src/lib/components/messages/ProfileDetail.svelte
Due: prettier --write --ignore-unknown

feat: improve password setup with hash
  .github/workflows/release.yml
  src/ic_message/ic_message.did
  src/ic_message/src/api_update.rs
  src/ic_message/src/lib.rs
  src/ic_message/src/store.rs
  src/ic_message_types/src/profile.rs
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did.js
  src/ic_panda_frontend/src/lib/canisters/message.ts
  src/ic_panda_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_panda_frontend/src/lib/components/messages/PasswordModel.svelte
  src/ic_panda_frontend/src/lib/stores/message.ts
  src/ic_panda_frontend/src/lib/utils/crypto.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: fix some issues
  src/ic_panda_frontend/src/lib/canisters/messagechannel.ts
  src/ic_panda_frontend/src/lib/components/core/LuckyPoolChart.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelCreateModel.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_panda_frontend/src/lib/components/messages/Home.svelte
  src/ic_panda_frontend/src/lib/components/messages/Index.svelte
  src/ic_panda_frontend/src/lib/components/messages/MyChannelList.svelte
  src/ic_panda_frontend/src/lib/components/messages/PasswordModel.svelte
  src/ic_panda_frontend/src/lib/components/messages/ProfileDetail.svelte
  src/ic_panda_frontend/src/lib/components/messages/UserRegisterModel.svelte
  src/ic_panda_frontend/src/lib/stores/message.ts
  src/ic_panda_frontend/src/lib/utils/window.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat: support notification
  src/ic_panda_frontend/src/lib/ReloadPrompt.svelte
  src/ic_panda_frontend/src/lib/canisters/messagechannel.ts
  src/ic_panda_frontend/src/lib/components/messages/Home.svelte
  src/ic_panda_frontend/src/lib/components/messages/ProfileDetail.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/services/notification.sw.ts
  src/ic_panda_frontend/src/lib/stores/kvstore.ts
  src/ic_panda_frontend/src/lib/stores/message.ts
  src/ic_panda_frontend/src/service-worker.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix: try to fix notification in service worker
  pnpm-lock.yaml
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/app.d.ts
  src/ic_panda_frontend/src/app.html
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawModal.svelte
  src/ic_panda_frontend/src/lib/utils/window.ts
  src/ic_panda_frontend/src/service-worker.ts
  src/ic_panda_frontend/src/vite-env.d.ts
  src/ic_panda_frontend/static/_assets/animations/celebrate.json
  src/ic_panda_frontend/svelte.config.js
  src/ic_panda_frontend/tsconfig.json
  src/ic_panda_frontend/vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: improve message app
  src/ic_message_channel/src/store.rs
  src/ic_panda_frontend/src/lib/ReloadPrompt.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelCreateModel.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_panda_frontend/src/lib/components/messages/Index.svelte
  src/ic_panda_frontend/src/lib/components/messages/PasswordModel.svelte
  src/ic_panda_frontend/src/lib/components/messages/UserRegisterModel.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/services/notification.sw.ts
  src/ic_panda_frontend/src/lib/stores/message.ts
  src/ic_panda_frontend/src/lib/utils/window.ts
  src/ic_panda_frontend/vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix

fix: fix for password modal
  src/ic_panda_frontend/src/lib/ReloadPrompt.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_panda_frontend/src/lib/stores/message.ts
  src/ic_panda_frontend/src/routes/(app)/+layout.svelte
Due: prettier --write --ignore-unknown, eslint --fix

fix: try to fix PWA prompt
  src/ic_panda_frontend/src/lib/ReloadPrompt.svelte
  src/ic_panda_frontend/src/lib/components/messages/UserRegisterModel.svelte
  src/ic_panda_frontend/src/lib/stores/message.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat: Master key v2
  Cargo.lock
  src/ic_message/Cargo.toml
  src/ic_message/ic_message.did
  src/ic_message/src/api_init.rs
  src/ic_message/src/api_query.rs
  src/ic_message/src/lib.rs
  src/ic_message/src/schnorr.rs
  src/ic_message/src/store.rs
  src/ic_message/src/types.rs
  src/ic_panda_frontend/src/app.html
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did.js
  src/ic_panda_frontend/src/declarations/ic_panda_frontend/ic_panda_frontend.did
  src/ic_panda_frontend/src/declarations/ic_panda_frontend/ic_panda_frontend.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_panda_frontend/ic_panda_frontend.did.js
  src/ic_panda_frontend/src/lib/canisters/message.ts
  src/ic_panda_frontend/src/lib/components/core/AirdropCard.svelte
  src/ic_panda_frontend/src/lib/components/core/AirdropModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PageHeader.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeCard.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeModal.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelCreateModel.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_panda_frontend/src/lib/components/messages/Home.svelte
  src/ic_panda_frontend/src/lib/components/messages/Index.svelte
  src/ic_panda_frontend/src/lib/components/messages/PasswordModel.svelte
  src/ic_panda_frontend/src/lib/components/messages/ProfileDetail.svelte
  src/ic_panda_frontend/src/lib/components/messages/ProfileEditModel.svelte
  src/ic_panda_frontend/src/lib/components/messages/UserRegisterModel.svelte
  src/ic_panda_frontend/src/lib/services/notification.sw.ts
  src/ic_panda_frontend/src/lib/stores/message.ts
  src/ic_panda_frontend/vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix

chore: update for production
  canister_ids.json
  dfx.json
  src/ic_message/ic_message.did
  src/ic_message/src/api_admin.rs
  src/ic_message/src/lib.rs
  src/ic_panda_frontend/src/declarations/ic_cose_canister/index.js
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did.js
  src/ic_panda_frontend/src/lib/components/messages/Home.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/stores/message.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix: fix index message page loading
  src/ic_panda_frontend/src/lib/components/messages/Index.svelte
  src/ic_panda_frontend/src/lib/stores/message.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix: fix 'myInfo' state
  src/ic_panda_frontend/src/lib/components/messages/ChannelDetail.svelte
  src/ic_panda_frontend/src/lib/components/messages/Chat.svelte
  src/ic_panda_frontend/src/lib/components/messages/Home.svelte
  src/ic_panda_frontend/src/lib/components/messages/Index.svelte
  src/ic_panda_frontend/src/lib/components/messages/MyChannelList.svelte
  src/ic_panda_frontend/src/lib/components/messages/ProfileDetail.svelte
  src/ic_panda_frontend/src/lib/components/messages/UserRegisterModel.svelte
  src/ic_panda_frontend/src/lib/stores/message.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: deploy to production env
  proposals/proposal-089.sh
  proposals/proposal-090.sh
  src/ic_message/src/store.rs
  src/ic_panda_frontend/static/.ic-assets.json5
Due: prettier --write --ignore-unknown

chore: fix issues; add more channel canisters
  Cargo.lock
  Cargo.toml
  canister_ids.json
  dfx.json
  proposals/proposal-090.sh
  proposals/proposal-091.sh
  proposals/proposal-092.sh
  src/ic_message/src/api_query.rs
  src/ic_message/src/store.rs
  src/ic_message_profile/src/api_query.rs
  src/ic_panda_frontend/src/declarations/ic_message_channel_02/ic_message_channel_02.did
  src/ic_panda_frontend/src/declarations/ic_message_channel_02/ic_message_channel_02.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message_channel_02/ic_message_channel_02.did.js
  src/ic_panda_frontend/src/declarations/ic_message_channel_02/index.d.ts
  src/ic_panda_frontend/src/declarations/ic_message_channel_02/index.js
  src/ic_panda_frontend/src/declarations/ic_message_channel_03/ic_message_channel_03.did
  src/ic_panda_frontend/src/declarations/ic_message_channel_03/ic_message_channel_03.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message_channel_03/ic_message_channel_03.did.js
  src/ic_panda_frontend/src/declarations/ic_message_channel_03/index.d.ts
  src/ic_panda_frontend/src/declarations/ic_message_channel_03/index.js
  src/ic_panda_frontend/src/lib/components/core/AirdropModal.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelDetail.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_panda_frontend/src/lib/components/messages/Chat.svelte
  src/ic_panda_frontend/src/lib/components/messages/Home.svelte
  src/ic_panda_frontend/src/lib/components/messages/MyChannelList.svelte
  src/ic_panda_frontend/src/lib/components/messages/ProfileDetail.svelte
  src/ic_panda_frontend/src/lib/components/messages/UserSelectModel.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/stores/message.ts
  src/ic_panda_frontend/src/routes/(app)/[username]/+page.svelte
Due: prettier --write --ignore-unknown, eslint --fix

chore: improve PWA registration
  src/ic_panda_frontend/src/lib/ReloadPrompt.svelte
  src/ic_panda_frontend/tsconfig.json
  src/ic_panda_frontend/vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix

chore: improve chating UX
  Cargo.lock
  Cargo.toml
  src/ic_message_channel/ic_message_channel.did
  src/ic_message_channel/src/api_query.rs
  src/ic_message_channel/src/store.rs
  src/ic_panda_frontend/src/declarations/ic_message_channel/ic_message_channel.did
  src/ic_panda_frontend/src/declarations/ic_message_channel/ic_message_channel.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message_channel/ic_message_channel.did.js
  src/ic_panda_frontend/src/lib/canisters/messagechannel.ts
  src/ic_panda_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_panda_frontend/src/lib/components/messages/MyChannelList.svelte
  src/ic_panda_frontend/src/lib/stores/message.ts
  src/ic_panda_frontend/src/lib/stores/toast.ts
  src/ic_panda_frontend/src/lib/utils/tryrun.ts
  src/ic_panda_frontend/src/lib/utils/window.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: add proposals to upgrade app
  proposals/proposal-094.sh
  proposals/proposal-095.sh
  proposals/proposal-096.sh
  proposals/proposal-097.sh
Due: prettier --write --ignore-unknown

feat: delete message
  Cargo.lock
  Cargo.toml
  src/ic_message/ic_message.did
  src/ic_message_channel/ic_message_channel.did
  src/ic_message_channel/src/api_init.rs
  src/ic_message_channel/src/api_update.rs
  src/ic_message_channel/src/store.rs
  src/ic_message_types/src/channel.rs
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did.js
  src/ic_panda_frontend/src/declarations/ic_message_channel/ic_message_channel.did
  src/ic_panda_frontend/src/declarations/ic_message_channel/ic_message_channel.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message_channel/ic_message_channel.did.js
  src/ic_panda_frontend/src/lib/canisters/messagechannel.ts
  src/ic_panda_frontend/src/lib/components/icons/IconMore2Line.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconReplyLine.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_panda_frontend/src/lib/components/messages/Chat.svelte
  src/ic_panda_frontend/src/lib/components/messages/Home.svelte
  src/ic_panda_frontend/src/lib/components/messages/MyChannelList.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextAreaAutosize.svelte
  src/ic_panda_frontend/src/lib/stores/message.ts
  src/ic_panda_frontend/src/lib/utils/Popup.ts
  src/ic_panda_frontend/src/routes/(app)/+layout.svelte
Due: prettier --write --ignore-unknown, eslint --fix

fix: fix UI issue
  src/ic_panda_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextAreaAutosize.svelte
Due: prettier --write --ignore-unknown

chore: ad proposals to upgrade app
  proposals/proposal-098.sh
  proposals/proposal-099.sh
  proposals/proposal-100.sh
  proposals/proposal-101.sh
  src/ic_panda_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: remove Google reCAPTCHA and GTA
  src/ic_message_channel/src/api_init.rs
  src/ic_message_channel/src/store.rs
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/app.html
  src/ic_panda_frontend/src/lib/components/core/PrizeModal.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/services/auth.ts
  src/ic_panda_frontend/src/lib/services/recaptcha.ts
  src/ic_panda_frontend/src/routes/(app)/+layout.svelte
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: improve CSS text wrap
  src/ic_panda_frontend/src/app.pcss
  src/ic_panda_frontend/src/lib/components/core/AirdropCard.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeCreateModal.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_panda_frontend/src/lib/components/messages/Chat.svelte
  src/ic_panda_frontend/src/lib/components/messages/MyChannelList.svelte
  src/ic_panda_frontend/src/lib/components/ui/SendTokenForm.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextAreaAutosize.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextClipboardPopup.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextClipboardPopupIcon.svelte
  src/ic_panda_frontend/src/lib/components/wallet/CKDogeCard.svelte
  src/ic_panda_frontend/src/lib/components/wallet/CKDogeReceiveModal.svelte
  src/ic_panda_frontend/src/lib/components/wallet/CKDogeSendModal.svelte
  src/ic_panda_frontend/src/lib/components/wallet/DogeCard.svelte
  src/ic_panda_frontend/src/lib/components/wallet/DogeReceiveModal.svelte
  src/ic_panda_frontend/src/lib/components/wallet/DogeSendModal.svelte
Due: prettier --write --ignore-unknown

chore: add debug function
  src/ic_panda_frontend/src/lib/components/messages/ProfileDetail.svelte
  src/ic_panda_frontend/src/lib/stores/message.ts
  src/ic_panda_frontend/src/lib/stores/toast.ts
  src/ic_panda_frontend/src/lib/types/result.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: add proposal to upgrade app
  proposals/proposal-102.sh
Due: prettier --write --ignore-unknown

feat: refactor message agent
  proposals/proposal-103.sh
  src/ic_panda_frontend/src/lib/canisters/actors.ts
  src/ic_panda_frontend/src/lib/components/messages/ChannelCreateModel.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelDetail.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_panda_frontend/src/lib/components/messages/Home.svelte
  src/ic_panda_frontend/src/lib/components/messages/Index.svelte
  src/ic_panda_frontend/src/lib/components/messages/MyChannelList.svelte
  src/ic_panda_frontend/src/lib/components/messages/PasswordModel.svelte
  src/ic_panda_frontend/src/lib/components/messages/ProfileDetail.svelte
  src/ic_panda_frontend/src/lib/components/messages/UserRegisterModel.svelte
  src/ic_panda_frontend/src/lib/services/notification.sw.ts
  src/ic_panda_frontend/src/lib/stores/kvstore.ts
  src/ic_panda_frontend/src/lib/stores/message.ts
  src/ic_panda_frontend/src/lib/stores/message_agent.ts
  src/ic_panda_frontend/src/lib/utils/store.ts
  src/ic_panda_frontend/tailwind.config.js
Due: prettier --write --ignore-unknown, eslint --fix

chore: add proposals to update DAO
  proposals/proposal-104.sh
  proposals/proposal-105.sh
  proposals/proposal-106.sh
  proposals/proposal-107.sh
  proposals/proposal-108.sh
Due: prettier --write --ignore-unknown

feat: support 0 price for creating channel
  Cargo.lock
  Cargo.toml
  proposals/proposal-104.sh
  proposals/proposal-108.sh
  src/ic_message/src/api_admin.rs
  src/ic_message/src/store.rs
  src/ic_message/src/types.rs
  src/ic_message_channel/src/store.rs
  src/ic_panda_frontend/src/lib/components/messages/ChannelCreateModel.svelte
Due: prettier --write --ignore-unknown

fix: try to fix the white screen issue in iOS WebView.
  src/ic_panda_frontend/src/lib/components/messages/ProfileDetail.svelte
  src/ic_panda_frontend/src/lib/services/notification.sw.ts
  src/ic_panda_frontend/src/lib/utils/window.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: add proposals to upgrade message app
  proposals/proposal-109.sh
  proposals/proposal-110.sh
  proposals/proposal-111.sh
  proposals/proposal-112.sh
  proposals/proposal-113.sh
Due: prettier --write --ignore-unknown

feat: add transfer_username API
  Cargo.lock
  Cargo.toml
  src/ic_message/ic_message.did
  src/ic_message/src/api_admin.rs
  src/ic_message/src/api_update.rs
  src/ic_message/src/store.rs
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did.js
  src/ic_panda_frontend/src/lib/canisters/message.ts
  src/ic_panda_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_panda_frontend/src/lib/components/messages/UsernameTransferModel.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/services/notification.sw.ts
  src/ic_panda_frontend/src/lib/stores/kvstore.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: update landing page
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/routes/(app)/+page.svelte
Due: prettier --write --ignore-unknown, sort-package-json

chore: add proposals to upgrade messaging app
  proposals/proposal-114.sh
  proposals/proposal-115.sh
  proposals/proposal-116.sh
Due: prettier --write --ignore-unknown

chore: add proposal to update the price for creating a channel to 10 PANDA tokens
  proposals/proposal-119.sh
Due: prettier --write --ignore-unknown

chore: improve ECDH
  Cargo.lock
  Cargo.toml
  src/ic_message_profile/ic_message_profile.did
  src/ic_message_profile/src/api_admin.rs
  src/ic_message_profile/src/api_update.rs
  src/ic_message_profile/src/store.rs
  src/ic_panda_frontend/src/declarations/ic_message_profile/ic_message_profile.did
  src/ic_panda_frontend/src/declarations/ic_message_profile/ic_message_profile.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message_profile/ic_message_profile.did.js
  src/ic_panda_frontend/src/lib/canisters/messageprofile.ts
  src/ic_panda_frontend/src/lib/components/messages/ChannelDetail.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_panda_frontend/src/lib/components/messages/Chat.svelte
  src/ic_panda_frontend/src/lib/components/messages/UserSelectModel.svelte
  src/ic_panda_frontend/src/lib/stores/message.ts
  src/ic_panda_frontend/src/lib/utils/auth.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: improve loading messages
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/canisters/actors.ts
  src/ic_panda_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/stores/message.ts
  src/ic_panda_frontend/src/lib/stores/message_agent.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

fix: fix fetching latest message
  src/ic_panda_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_panda_frontend/src/lib/components/messages/MyChannelList.svelte
  src/ic_panda_frontend/src/lib/components/messages/ProfileDetail.svelte
Due: prettier --write --ignore-unknown

chore: add proposals to upgrade messaging app
  proposals/proposal-120.sh
  proposals/proposal-121.sh
  proposals/proposal-122.sh
Due: prettier --write --ignore-unknown

Path conditions:
  prettier --write --ignore-unknown: any of: *
  stylelint --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
