Repository ldclabs/ic-panda: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, eslint --fix, sort-package-json

fix: fix UI issues
  proposals/proposal-161.sh
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/app.pcss
  src/ic_message_frontend/src/lib/components/messages/ChannelDetail.svelte
  src/ic_message_frontend/src/lib/components/messages/MyProfile.svelte
  src/ic_message_frontend/src/lib/components/messages/ProfileDetail.svelte
  src/ic_message_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

fix: disable notification service worker for Safari
  src/ic_message_frontend/src/service-worker.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix: fix profile modal
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/components/messages/ProfileDetail.svelte
  src/ic_message_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

fix: fix profile setting
  src/ic_message_frontend/src/lib/components/messages/ChannelDetail.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_message_frontend/src/lib/stores/message.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: add proposal to upgrade ic_message_frontend
  proposals/proposal-163.sh
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_message_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add a proposal to upgrade SNS canisters
  proposals/proposal-165.sh
Due: prettier --write --ignore-unknown

chore: add 'ic_oss_bucket_02' as channel's file storage
  canister_ids.json
  dfx.json
  src/ic_message_frontend/src/declarations/ic_oss_bucket_02/ic_oss_bucket_02.did
  src/ic_message_frontend/src/declarations/ic_oss_bucket_02/ic_oss_bucket_02.did.d.ts
  src/ic_message_frontend/src/declarations/ic_oss_bucket_02/ic_oss_bucket_02.did.js
  src/ic_message_frontend/src/declarations/ic_oss_bucket_02/index.d.ts
  src/ic_message_frontend/src/declarations/ic_oss_bucket_02/index.js
  src/ic_panda_frontend/src/declarations/ic_oss_bucket_02/ic_oss_bucket_02.did
  src/ic_panda_frontend/src/declarations/ic_oss_bucket_02/ic_oss_bucket_02.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_oss_bucket_02/ic_oss_bucket_02.did.js
  src/ic_panda_frontend/src/declarations/ic_oss_bucket_02/index.d.ts
  src/ic_panda_frontend/src/declarations/ic_oss_bucket_02/index.js
Due: prettier --write --ignore-unknown, eslint --fix

fix: fix file message issues
  Cargo.lock
  Cargo.toml
  src/ic_message_channel/src/api_update.rs
  src/ic_message_channel/src/store.rs
  src/ic_message_frontend/src/lib/components/messages/ChannelFileCard.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelUploadModal.svelte
  src/ic_message_frontend/src/lib/utils/tryrun.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: add proposals to upgrade dMsg.net to v2.6
  proposals/proposal-165.sh
  proposals/proposal-166.sh
  proposals/proposal-167.sh
  proposals/proposal-168.sh
  proposals/proposal-169.sh
  proposals/proposal-170.sh
  proposals/proposal-171.sh
  proposals/proposal-172.sh
  proposals/proposal-173.sh
  proposals/proposal-174.sh
  proposals/proposal-175.sh
  proposals/proposal-176.sh
  proposals/proposal-177.sh
  proposals/proposal-178.sh
  proposals/proposal-179.sh
  proposals/proposal-180.sh
  proposals/proposal-181.sh
  proposals/proposal-182.sh
  proposals/proposal-183.sh
  sns_functions.md
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/components/messages/ChannelFileCard.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_message_frontend/src/lib/components/ui/EmojisPopup.svelte
  src/ic_message_frontend/src/lib/components/ui/TextAreaAutosize.svelte
  src/ic_message_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposals to upgrade fontend
  proposals/proposal-190.sh
  proposals/proposal-191.sh
Due: prettier --write --ignore-unknown

fix: fix messaging app landing page in 'ic_panda_front'
  proposals/proposal-192.sh
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/components/messages/Home.svelte
  src/ic_panda_frontend/src/lib/components/messages/Index.svelte
  src/ic_panda_frontend/src/lib/components/ui/Loading.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/routes/(app)/[username]/+page.svelte
  src/ic_panda_frontend/src/routes/(app)/_/messages/[...channel]/+page.svelte
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: Register IC-OSS canisters
  proposals/proposal-192.sh
  proposals/proposal-193.sh
Due: prettier --write --ignore-unknown

feat: add PANDA airdrop tool
  Cargo.lock
  Cargo.toml
  src/cli_airdrop/Cargo.toml
  src/cli_airdrop/README.md
  src/cli_airdrop/src/agent.rs
  src/cli_airdrop/src/block.rs
  src/cli_airdrop/src/ledger.rs
  src/cli_airdrop/src/main.rs
  src/cli_airdrop/src/neuron.rs
  src/ic_message/src/store.rs
  src/ic_message_channel/src/api_query.rs
  src/ic_message_channel/src/store.rs
  src/ic_message_profile/src/api_query.rs
  src/ic_message_profile/src/store.rs
Due: prettier --write --ignore-unknown

chore: add proposals to remove the Dev manager on messaging canisters
  proposals/proposal-194.sh
  proposals/proposal-196.sh
  proposals/proposal-197.sh
  proposals/proposal-198.sh
  proposals/proposal-199.sh
  proposals/proposal-200.sh
  proposals/proposal-201.sh
  proposals/proposal-202.sh
  proposals/proposal-203.sh
  proposals/proposal-204.sh
  sns_functions.md
Due: prettier --write --ignore-unknown

feat: implement airdrop108 in `ic_panda_luckypool`
  Cargo.lock
  src/cli_airdrop/src/block.rs
  src/cli_airdrop/src/main.rs
  src/ic_message_profile/src/store.rs
  src/ic_panda_luckypool/Cargo.toml
  src/ic_panda_luckypool/ic_panda_luckypool.did
  src/ic_panda_luckypool/src/api_admin.rs
  src/ic_panda_luckypool/src/api_query.rs
  src/ic_panda_luckypool/src/api_update.rs
  src/ic_panda_luckypool/src/lib.rs
  src/ic_panda_luckypool/src/store.rs
  src/ic_panda_luckypool/src/types.rs
Due: prettier --write --ignore-unknown

feat: implement airdrop108 in `ic_panda_frontend`
  Cargo.lock
  Cargo.toml
  src/ic_message_frontend/src/declarations/ic_panda_luckypool/ic_panda_luckypool.did
  src/ic_message_frontend/src/declarations/ic_panda_luckypool/ic_panda_luckypool.did.d.ts
  src/ic_message_frontend/src/declarations/ic_panda_luckypool/ic_panda_luckypool.did.js
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/app.pcss
  src/ic_panda_frontend/src/declarations/ic_panda_luckypool/ic_panda_luckypool.did
  src/ic_panda_frontend/src/declarations/ic_panda_luckypool/ic_panda_luckypool.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_panda_luckypool/ic_panda_luckypool.did.js
  src/ic_panda_frontend/src/lib/canisters/luckypool.ts
  src/ic_panda_frontend/src/lib/components/airdrop/Home.svelte
  src/ic_panda_frontend/src/lib/components/core/AccountDetailModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyPoolChart.svelte
  src/ic_panda_frontend/src/lib/components/core/PageHeader.svelte
  src/ic_panda_frontend/src/lib/components/wallet/CKDogeCard.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/utils/auth.ts
  src/ic_panda_frontend/src/lib/utils/helper.ts
  src/ic_panda_frontend/src/routes/(app)/_/airdrop/+page.svelte
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

fix: fix 'airdrops108_of()' API in `ic_panda_luckypool`
  Cargo.lock
  Cargo.toml
  src/ic_panda_frontend/src/lib/components/airdrop/Home.svelte
  src/ic_panda_luckypool/src/store.rs
Due: prettier --write --ignore-unknown

chore: add proposals to release Airdrop108
  proposals/proposal-206.sh
  proposals/proposal-207.sh
Due: prettier --write --ignore-unknown

chore: improve Airdrop108 page
  proposals/proposal-208.sh
  src/ic_message_frontend/vite.config.js
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/components/airdrop/Home.svelte
  src/ic_panda_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add Airdrop108 snapshots
  src/cli_airdrop/snapshots/ledger_airdrops_1730419222.cbor.4a4ad80c985e26de98df40395469790cae3edff52338fc51903936d6a15f80bc.gz
  src/cli_airdrop/snapshots/ledger_logs_1730419222.txt.gz
  src/cli_airdrop/snapshots/neurons_1730419202.cbor.65162018e29484d4415d2c971ad1669e930ddde26e26c047f6bbdef5e15c88eb.gz
  src/cli_airdrop/snapshots/neurons_airdrops_1730419202.cbor.65162018e29484d4415d2c971ad1669e930ddde26e26c047f6bbdef5e15c88eb.gz
  src/cli_airdrop/snapshots/neurons_logs_1730419202.txt.gz
Due: prettier --write --ignore-unknown

chore: add proposal to upgrade SNS
  proposals/proposal-212.sh
  src/ic_message_profile/src/lib.rs
Due: prettier --write --ignore-unknown

chore: add proposals to add CycleOps blackhole as ic-oss-bucket canisters's controller
  proposals/proposal-213.sh
  proposals/proposal-214.sh
  proposals/proposal-215.sh
  sns_functions.md
Due: prettier --write --ignore-unknown

chore: update dependencies for Svelte5
  pnpm-lock.yaml
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: proposals #216, #217
  proposals/proposal-216.sh
  proposals/proposal-217.sh
Due: prettier --write --ignore-unknown

chore: update dependencies for Svelte5 on `ic_panda_frontend`
  pnpm-lock.yaml
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/components/airdrop/Home.svelte
  src/ic_panda_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

feature: add `cli_dmsg`
  Cargo.lock
  Cargo.toml
  proposals/proposal-219.sh
  src/cli_cryptogram/Cargo.toml
  src/cli_dmsg/Cargo.toml
  src/cli_dmsg/src/agent.rs
  src/cli_dmsg/src/dmsg.rs
  src/cli_dmsg/src/main.rs
  src/x_auth/Cargo.toml
Due: prettier --write --ignore-unknown

chore: add Subcommand to `cli_dmsg`
  Cargo.lock
  src/cli_dmsg/Cargo.toml
  src/cli_dmsg/src/dmsg.rs
  src/cli_dmsg/src/main.rs
  src/ic_message_types/src/lib.rs
Due: prettier --write --ignore-unknown

chore: add proposals to update SNS functions
  proposals/proposal-220.sh
  proposals/proposal-221.sh
  proposals/proposal-222.sh
  proposals/proposal-223.sh
  proposals/proposal-224.sh
  proposals/proposal-225.sh
  proposals/proposal-226.sh
  sns_functions.md
  src/cli_dmsg/src/main.rs
Due: prettier --write --ignore-unknown

fix: fix `ic_message_frontend` with Svelte 5
  pnpm-lock.yaml
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/components/messages/ChannelDetail.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_message_frontend/src/lib/components/messages/Chat.svelte
  src/ic_message_frontend/src/lib/components/messages/MyChannelList.svelte
  src/ic_message_frontend/src/routes/(app)/+page.svelte
Due: prettier --write --ignore-unknown, sort-package-json

chore: update token allocation info
  README.md
  pnpm-lock.yaml
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/components/core/AirdropCard.svelte
  src/ic_panda_frontend/src/lib/components/core/PrizeCreateModal.svelte
  src/ic_panda_frontend/src/lib/components/ui/ModalCard.svelte
  src/ic_panda_frontend/src/lib/components/ui/QRCodeReaderModal.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextClipboardPopup.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextClipboardPopupIcon.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextTokenAmount.svelte
  src/ic_panda_frontend/src/lib/utils/crypto.ts
  src/ic_panda_frontend/src/routes/(app)/+page.svelte
  src/ic_panda_frontend/tailwind.config.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposals to upgrade frontend app
  proposals/proposal-227.sh
  proposals/proposal-228.sh
Due: prettier --write --ignore-unknown

chore: improve ic_message_frontend
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/components/messages/ChannelFileCard.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_message_frontend/src/lib/components/messages/PasswordModal.svelte
  src/ic_message_frontend/src/lib/components/ui/LinkItem.svelte
  src/ic_message_frontend/src/lib/components/ui/SendTokenForm.svelte
  src/ic_message_frontend/src/lib/components/ui/TextAreaAutosize.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/routes/(app)/+page.svelte
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: add proposals to transfer tokens from ic_panda_luckypool to DAO treasury
  proposals/proposal-229.sh
  proposals/proposal-230.sh
  proposals/proposal-232.sh
  proposals/proposal-233.sh
  proposals/proposal-234.sh
Due: prettier --write --ignore-unknown

chore: 1. fix UX issue; 2. update `ic_message_frontend` dependencies
  pnpm-lock.yaml
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/lib/components/messages/ChannelCreateModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelEditModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelTopupModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelUpdateStorageModal.svelte
  src/ic_message_frontend/src/lib/components/messages/PasswordModal.svelte
  src/ic_message_frontend/src/lib/components/messages/ProfileEditModal.svelte
  src/ic_message_frontend/src/lib/components/messages/UserRegisterModal.svelte
  src/ic_message_frontend/src/lib/components/messages/UsernameTransferModal.svelte
  src/ic_message_frontend/src/lib/components/ui/SendTokenForm.svelte
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_frontend/src/routes/(app)/+page.svelte
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

fix: fix break-word style on `ic_message_frontend`
  proposals/proposal-240.sh
  proposals/proposal-241.sh
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/app.pcss
  src/ic_message_frontend/src/lib/components/messages/ChannelFileCard.svelte
  src/ic_message_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_message_frontend/src/lib/components/ui/SendTokenForm.svelte
  src/ic_message_frontend/src/lib/components/ui/TextAreaAutosize.svelte
  src/ic_message_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: update dependencies
  Cargo.lock
  Cargo.toml
  pnpm-lock.yaml
  src/cli_airdrop/Cargo.toml
  src/cli_dmsg/Cargo.toml
  src/ic_message/Cargo.toml
  src/ic_message/ic_message.did
  src/ic_message_channel/ic_message_channel.did
  src/ic_message_frontend/package.json
  src/ic_message_frontend/src/declarations/ic_message/ic_message.did
  src/ic_message_frontend/src/declarations/ic_message/ic_message.did.d.ts
  src/ic_message_frontend/src/declarations/ic_message/ic_message.did.js
  src/ic_message_frontend/src/declarations/ic_message_channel/ic_message_channel.did
  src/ic_message_frontend/src/declarations/ic_message_channel/ic_message_channel.did.d.ts
  src/ic_message_frontend/src/declarations/ic_message_channel/ic_message_channel.did.js
  src/ic_message_frontend/src/declarations/ic_message_profile/ic_message_profile.did
  src/ic_message_frontend/src/declarations/ic_message_profile/ic_message_profile.did.d.ts
  src/ic_message_frontend/src/declarations/ic_message_profile/ic_message_profile.did.js
  src/ic_message_frontend/src/lib/constants.ts
  src/ic_message_profile/ic_message_profile.did
  src/ic_message_profile/src/store.rs
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did.js
  src/ic_panda_frontend/src/declarations/ic_message_channel/ic_message_channel.did
  src/ic_panda_frontend/src/declarations/ic_message_channel/ic_message_channel.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message_channel/ic_message_channel.did.js
  src/ic_panda_frontend/src/declarations/ic_message_profile/ic_message_profile.did
  src/ic_panda_frontend/src/declarations/ic_message_profile/ic_message_profile.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message_profile/ic_message_profile.did.js
  src/ic_panda_frontend/src/lib/components/ui/QRCodeReaderModal.svelte
  src/ic_panda_frontend/src/lib/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

Path conditions:
  prettier --write --ignore-unknown: any of: *
  stylelint --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
