Repository ldclabs/ic-panda: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, eslint --fix, sort-package-json

chore(deps): use published ic_cose_chain_key and bump dependencies
  Cargo.lock
  Cargo.toml
  src/ic_cose_chain_key/Cargo.toml
  src/ic_cose_chain_key/LICENSE-APACHE
  src/ic_cose_chain_key/LICENSE-MIT
  src/ic_cose_chain_key/README.md
  src/ic_cose_chain_key/src/lib.rs
Due: prettier --write --ignore-unknown

fix(dmsg-sdk): reject high-S ES256K artifacts
  packages/dmsg-sdk/src/statements.ts
  packages/dmsg-sdk/tests/statements.test.ts
  src/dmsg_protocol/tests/fixtures/es256k.json
  src/dmsg_protocol/tests/signing.rs
Due: prettier --write --ignore-unknown, eslint --fix

refactor(dmsg_handle): register in one call and drop legacy certificate leaves
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  src/dmsg_app/src/lib/canisters/generated/handle/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/handle/index.js
  src/dmsg_app/src/lib/protocol/handle.ts
  src/dmsg_app/src/lib/services/handle.ts
  src/dmsg_app/tests/fixtures/README.md
  src/dmsg_app/tests/fixtures/handle-reservation.cbor
  src/dmsg_app/tests/handle.test.ts
  src/dmsg_handle/README.md
  src/dmsg_handle/dmsg_handle.did
  src/dmsg_handle/src/api.rs
  src/dmsg_handle/src/stable_codec.rs
  src/dmsg_handle/src/store.rs
  src/dmsg_protocol/src/handle.rs
  src/dmsg_protocol/src/handle/tests.rs
  src/dmsg_runtime/src/certified.rs
  src/dmsg_runtime/src/stable_types.rs
  src/dmsg_types/src/handle.rs
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/handle.rs
  tests/dmsg_integration/tests/control_plane/review_regressions.rs
Due: prettier --write --ignore-unknown, eslint --fix

fix(dmsg_app): allow rejected legacy claims to be prepared again
  src/dmsg_app/src/lib/components/HandleSettings.svelte
  src/dmsg_app/src/lib/services/handle.ts
  src/dmsg_app/tests/handle.test.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix(dmsg_cose): align per-account budgets and simplify execution state
  Cargo.lock
  docs/dmsg_canisters_zh.md
  src/dmsg_cose/Cargo.toml
  src/dmsg_cose/README.md
  src/dmsg_cose/src/api.rs
  src/dmsg_cose/src/model.rs
  src/dmsg_cose/src/stable_codec.rs
  src/dmsg_cose/src/store.rs
  src/dmsg_runtime/README.md
  src/dmsg_runtime/src/lib.rs
  src/dmsg_user/src/account.rs
  src/dmsg_user/src/execution.rs
  tests/dmsg_integration/tests/control_plane/cose_optimization.rs
Due: prettier --write --ignore-unknown

fix(dmsg_user): drop stale auth routes and trim certification work
  src/dmsg_types/src/user.rs
  src/dmsg_user/README.md
  src/dmsg_user/dmsg_user.did
  src/dmsg_user/src/account.rs
  src/dmsg_user/src/api.rs
  src/dmsg_user/src/commerce.rs
  src/dmsg_user/src/execution.rs
  src/dmsg_user/src/external.rs
  src/dmsg_user/src/external_tests.rs
  src/dmsg_user/src/recovery.rs
  src/dmsg_user/src/stable_codec.rs
  src/dmsg_user/src/state.rs
  src/dmsg_user/src/store.rs
  src/dmsg_user/src/tests.rs
  tests/dmsg_integration/tests/control_plane/user.rs
Due: prettier --write --ignore-unknown

fix(dmsg_payment): recover in-flight transfers and trim escrow paths
  docs/dmsg_canisters_zh.md
  src/dmsg_payment/README.md
  src/dmsg_payment/src/api.rs
  src/dmsg_payment/src/calls.rs
  src/dmsg_payment/src/model.rs
  src/dmsg_payment/src/model/tests.rs
  src/dmsg_payment/src/stable_codec.rs
  src/dmsg_payment/src/state.rs
  src/dmsg_payment/src/store.rs
  src/dmsg_runtime/src/certified.rs
  tests/dmsg_integration/tests/control_plane/payment_optimization.rs
  tests/dmsg_test_ledger/src/lib.rs
Due: prettier --write --ignore-unknown

fix(membership): count unresolved Apply claims toward capacity
  docs/dmsg_canisters_zh.md
  src/dmsg_types/src/integration_membership.rs
  src/membership/README.md
  src/membership/membership.did
  src/membership/src/claims.rs
  src/membership/src/store.rs
  tests/dmsg_integration/tests/control_plane/commerce.rs
Due: prettier --write --ignore-unknown

fix(dmsg_commerce): prorate over the original term and settle definite apply failures
  Cargo.lock
  docs/dmsg_canisters_zh.md
  docs/protocol/commerce.md
  docs/protocol/commerce_zh.md
  src/dmsg_commerce/Cargo.toml
  src/dmsg_commerce/README.md
  src/dmsg_commerce/dmsg_commerce.did
  src/dmsg_commerce/src/api.rs
  src/dmsg_commerce/src/checkout.rs
  src/dmsg_commerce/src/checkout_model.rs
  src/dmsg_commerce/src/model.rs
  src/dmsg_commerce/src/product.rs
  src/dmsg_commerce/src/registrations.rs
  src/dmsg_commerce/src/stable_codec.rs
  src/dmsg_commerce/src/store.rs
  src/dmsg_types/src/billing.rs
  tests/dmsg_integration/tests/control_plane/commerce.rs
  tests/dmsg_test_ledger/src/lib.rs
Due: prettier --write --ignore-unknown

fix(dmsg-sdk): close validation gaps and unify errors, hashing and helpers
  docs/protocol/browser-v4.md
  examples/dmsg-browser-client.ts
  packages/dmsg-sdk/README.md
  packages/dmsg-sdk/src/action.ts
  packages/dmsg-sdk/src/browser.ts
  packages/dmsg-sdk/src/candid.ts
  packages/dmsg-sdk/src/commerce.ts
  packages/dmsg-sdk/src/cose-codec.ts
  packages/dmsg-sdk/src/cose-errors.ts
  packages/dmsg-sdk/src/encoding.ts
  packages/dmsg-sdk/src/ic.ts
  packages/dmsg-sdk/src/statements.ts
  packages/dmsg-sdk/src/validation.ts
  packages/dmsg-sdk/tests/actions.test.ts
  packages/dmsg-sdk/tests/browser.test.ts
  packages/dmsg-sdk/tests/commerce.test.ts
  packages/dmsg-sdk/tests/contracts.test.ts
  src/dmsg_app/e2e/external-browser.spec.ts
  src/dmsg_app/src/lib/bridge-requests.ts
  src/dmsg_app/src/lib/sdk.ts
  src/dmsg_app/src/lib/services/authentication.ts
  src/dmsg_app/src/lib/services/commerce.ts
  src/dmsg_app/tests/bridge.test.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix(dmsg-sdk): preserve leading U+FEFF in UTF-8 decoding
  packages/dmsg-sdk/src/encoding.ts
  packages/dmsg-sdk/tests/actions.test.ts
  packages/dmsg-sdk/tests/contracts.test.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix(dmsg_app): close inbox, backup and evidence batching regressions
  src/dmsg_app/README.md
  src/dmsg_app/src/lib/config.ts
  src/dmsg_app/src/lib/crypto/channel.ts
  src/dmsg_app/src/lib/crypto/engine.ts
  src/dmsg_app/src/lib/services/cloud-security.ts
  src/dmsg_app/src/lib/services/inbox.ts
  src/dmsg_app/src/lib/services/relay.ts
  src/dmsg_app/tests/cloud-security.test.ts
  src/dmsg_app/tests/inbox-terminal.test.ts
  src/dmsg_app/tests/recovery-retry.test.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix(ci): build and install the dMsg SDK before Node checks
  .github/workflows/test.yml
Due: prettier --write --ignore-unknown

feat(frontend): paint the landing page as a live ink painting
  proposals/proposal-514.sh
  src/ic_panda_frontend/src/app.css
  src/ic_panda_frontend/src/lib/components/landing/InkPainting.svelte
  src/ic_panda_frontend/src/lib/components/landing/Registration.svelte
  src/ic_panda_frontend/src/lib/components/landing/SectionCta.svelte
  src/ic_panda_frontend/src/lib/components/landing/SectionHero.svelte
  src/ic_panda_frontend/src/lib/components/landing/SectionProjects.svelte
  src/ic_panda_frontend/src/lib/components/landing/SectionShell.svelte
  src/ic_panda_frontend/src/lib/components/landing/StructureSchematic.svelte
  src/ic_panda_frontend/src/lib/i18n/messages/ar.ts
  src/ic_panda_frontend/src/lib/i18n/messages/en.ts
  src/ic_panda_frontend/src/lib/i18n/messages/es.ts
  src/ic_panda_frontend/src/lib/i18n/messages/fr.ts
  src/ic_panda_frontend/src/lib/i18n/messages/ru.ts
  src/ic_panda_frontend/src/lib/i18n/messages/zh.ts
  src/ic_panda_frontend/src/lib/ink/music.ts
  src/ic_panda_frontend/src/lib/ink/painting.ts
  src/ic_panda_frontend/src/lib/ink/rig.ts
  src/ic_panda_frontend/src/lib/ink/scene.ts
  src/ic_panda_frontend/src/lib/ink/shaders.ts
  src/ic_panda_frontend/src/routes/(app)/+page.svelte
Due: prettier --write --ignore-unknown, stylelint --fix, eslint --fix

fix(dmsg): preserve pending agent executions and load all credentials
  src/dmsg_app/src/lib/services/agent.ts
  src/dmsg_app/tests/agent-client.test.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore(dmsg): update SDK package identity and crate versions
  .github/workflows/test.yml
  Cargo.lock
  docs/protocol/browser-v4.md
  examples/dmsg-account-product/README.md
  examples/dmsg-browser-client.ts
  examples/tsconfig.dmsg.json
  packages/dmsg-sdk/README.md
  packages/dmsg-sdk/package.json
  pnpm-lock.yaml
  src/dmsg_app/e2e/account-probe.ts
  src/dmsg_app/package.json
  src/dmsg_app/src/lib/bridge-requests.ts
  src/dmsg_app/src/lib/components/ActionDetails.svelte
  src/dmsg_app/src/lib/components/CheckoutApproval.svelte
  src/dmsg_app/src/lib/components/CheckoutPanel.svelte
  src/dmsg_app/src/lib/components/CommerceOperations.svelte
  src/dmsg_app/src/lib/errors.ts
  src/dmsg_app/src/lib/external-port.ts
  src/dmsg_app/src/lib/protocol/app-action.ts
  src/dmsg_app/src/lib/protocol/codec.ts
  src/dmsg_app/src/lib/protocol/commerce.ts
  src/dmsg_app/src/lib/protocol/requests.ts
  src/dmsg_app/src/lib/protocol/statements.ts
  src/dmsg_app/src/lib/services/authentication.ts
  src/dmsg_app/src/lib/services/commerce.ts
  src/dmsg_app/src/lib/services/registration.ts
  src/dmsg_app/src/lib/services/signing.ts
  src/dmsg_app/src/lib/services/wallet.ts
  src/dmsg_app/tests/action-signing.test.ts
  src/dmsg_app/tests/bridge.test.ts
  src/dmsg_protocol/Cargo.toml
  src/dmsg_types/Cargo.toml
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

fix(dmsg_user): make recovery retries exact and reject before remote work
  docs/dmsg_canisters_zh.md
  docs/protocol/account_root_zh.md
  src/dmsg_app/src/lib/canisters/generated/user/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/user/index.js
  src/dmsg_app/src/lib/services/account.ts
  src/dmsg_app/tests/account.test.ts
  src/dmsg_user/README.md
  src/dmsg_user/dmsg_user.did
  src/dmsg_user/src/account.rs
  src/dmsg_user/src/api.rs
  src/dmsg_user/src/execution.rs
  src/dmsg_user/src/external.rs
  src/dmsg_user/src/principal.rs
  src/dmsg_user/src/recovery.rs
  src/dmsg_user/src/stable_codec.rs
  src/dmsg_user/src/state.rs
  src/dmsg_user/src/store.rs
  src/dmsg_user/src/tests.rs
  tests/dmsg_integration/README.md
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/agent.rs
  tests/dmsg_integration/tests/control_plane/external_integration.rs
  tests/dmsg_integration/tests/control_plane/review_regressions.rs
  tests/dmsg_integration/tests/control_plane/user.rs
  tests/dmsg_integration/tests/control_plane/user_review.rs
Due: prettier --write --ignore-unknown, eslint --fix

fix(membership): preserve recoverable claims and bound retained state
  Cargo.lock
  docs/dmsg_canisters_zh.md
  docs/protocol/commerce.md
  docs/protocol/commerce_zh.md
  src/dmsg_types/src/integration_membership.rs
  src/membership/Cargo.toml
  src/membership/README.md
  src/membership/membership.did
  src/membership/src/api.rs
  src/membership/src/claim.rs
  src/membership/src/claims.rs
  src/membership/src/lib.rs
  src/membership/src/rate.rs
  src/membership/src/store.rs
  src/membership/src/store_tests.rs
  tests/dmsg_integration/README.md
  tests/dmsg_integration/tests/control_plane/commerce.rs
  tests/dmsg_integration/tests/control_plane/membership_review.rs
  tests/dmsg_test_sns/src/lib.rs
  tests/dmsg_test_sns/src/membership.rs
Due: prettier --write --ignore-unknown

fix(dmsg_user): return ResultExpired for exact replays of cleaned executions
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  docs/protocol/README.md
  docs/protocol/README_zh.md
  src/dmsg_user/README.md
  src/dmsg_user/src/api.rs
  src/dmsg_user/src/execution.rs
  src/dmsg_user/src/external.rs
  src/dmsg_user/src/tests.rs
  tests/dmsg_integration/tests/control_plane/review_regressions.rs
  tests/dmsg_integration/tests/control_plane/user_review.rs
Due: prettier --write --ignore-unknown

fix(dmsg_handle): recover interrupted charges and retain exact claims
  Cargo.lock
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  src/dmsg_handle/README.md
  src/dmsg_handle/src/api.rs
  src/dmsg_handle/src/calls.rs
  src/dmsg_handle/src/lib.rs
  src/dmsg_handle/src/stable_codec.rs
  src/dmsg_handle/src/store.rs
  src/dmsg_runtime/src/storage.rs
  tests/dmsg_integration/Cargo.toml
  tests/dmsg_integration/tests/control_plane/handle.rs
  tests/dmsg_test_ledger/src/lib.rs
Due: prettier --write --ignore-unknown

fix(dmsg_cose): handle unsent calls and unblock returned unknown results
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  src/dmsg_cose/README.md
  src/dmsg_cose/src/api.rs
  src/dmsg_cose/src/model.rs
  src/dmsg_cose/src/stable_codec.rs
  src/dmsg_cose/src/store.rs
  tests/dmsg_integration/tests/control_plane/cose_optimization.rs
Due: prettier --write --ignore-unknown

fix(dmsg_directory): bound publications and streamline certified reads
  Cargo.lock
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  docs/protocol/agent_zh.md
  scripts/test-dmsg.sh
  src/dmsg_directory/Cargo.toml
  src/dmsg_directory/README.md
  src/dmsg_directory/src/api.rs
  src/dmsg_directory/src/http.rs
  src/dmsg_directory/src/stable_codec.rs
  src/dmsg_directory/src/store.rs
  src/dmsg_protocol/src/agent.rs
  src/dmsg_protocol/src/agent_tests.rs
  src/dmsg_user/src/tests.rs
  tests/dmsg_integration/Cargo.toml
  tests/dmsg_integration/tests/directory.rs
Due: prettier --write --ignore-unknown

fix(dmsg_payment): isolate payout budgets and combine recoverable refunds
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  packages/dmsg-sdk/src/cose-codec.ts
  scripts/verify-commerce-vectors.mjs
  src/dmsg_app/src/lib/canisters/generated/payment/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/payment/index.js
  src/dmsg_app/src/lib/components/InboxSettings.svelte
  src/dmsg_app/src/lib/components/PaymentRecovery.svelte
  src/dmsg_app/src/lib/protocol/account.ts
  src/dmsg_app/src/lib/protocol/payment.ts
  src/dmsg_app/src/lib/services/inbox.ts
  src/dmsg_app/tests/payment.test.ts
  src/dmsg_app/tests/protocol.test.ts
  src/dmsg_payment/README.md
  src/dmsg_payment/dmsg_payment.did
  src/dmsg_payment/src/api.rs
  src/dmsg_payment/src/model.rs
  src/dmsg_payment/src/model/tests.rs
  src/dmsg_payment/src/stable_codec.rs
  src/dmsg_payment/src/store.rs
  src/dmsg_protocol/src/billing.rs
  src/dmsg_runtime/src/stable_types.rs
  src/dmsg_types/README.md
  src/dmsg_types/README_zh.md
  src/dmsg_types/examples/commerce_vectors.rs
  src/dmsg_types/src/payment.rs
  src/dmsg_types/tests/commerce_vectors.json
  tests/dmsg_integration/tests/account_fixture.rs
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/payment_optimization.rs
  tests/dmsg_integration/tests/control_plane/payment_regressions.rs
  tests/dmsg_integration/tests/control_plane/payment_review.rs
Due: prettier --write --ignore-unknown, eslint --fix

fix(dmsg_commerce): authenticate quotes and make checkout recovery exclusive
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  docs/protocol/commerce.md
  docs/protocol/commerce_zh.md
  docs/protocol/integration.cddl
  packages/dmsg-sdk/src/contracts.ts
  packages/dmsg-sdk/src/schemas.ts
  src/dmsg_app/src/lib/canisters/generated/commerce/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/commerce/index.js
  src/dmsg_commerce/README.md
  src/dmsg_commerce/dmsg_commerce.did
  src/dmsg_commerce/src/api.rs
  src/dmsg_commerce/src/calls.rs
  src/dmsg_commerce/src/checkout.rs
  src/dmsg_commerce/src/checkout_model.rs
  src/dmsg_commerce/src/checkout_store.rs
  src/dmsg_commerce/src/lib.rs
  src/dmsg_commerce/src/model.rs
  src/dmsg_commerce/src/product.rs
  src/dmsg_commerce/src/stable_codec.rs
  src/dmsg_commerce/src/store.rs
  src/dmsg_protocol/src/commerce_v2.rs
  src/dmsg_types/src/billing.rs
  src/dmsg_types/src/integration_billing.rs
  tests/dmsg_integration/tests/control_plane/commerce.rs
  tests/dmsg_integration/tests/control_plane/commerce_review.rs
Due: prettier --write --ignore-unknown, eslint --fix

fix(dmsg_app): match directory manifest export and restore limits
  packages/dmsg-sdk/package.json
  pnpm-lock.yaml
  src/dmsg_app/src/lib/crypto/engine.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

fix(dmsg_app): release handle purchases after definite rejection
  src/dmsg_app/src/lib/services/handle.ts
  src/dmsg_app/tests/handle.test.ts
  src/dmsg_commerce/src/checkout_model.rs
  src/dmsg_commerce/src/model.rs
Due: prettier --write --ignore-unknown, eslint --fix

refactor(dmsg_protocol, dmsg_types): remove definitions unused in production
  Cargo.lock
  docs/protocol/README.md
  docs/protocol/README_zh.md
  docs/protocol/app-action.md
  src/dmsg_cose/README.md
  src/dmsg_protocol/README.md
  src/dmsg_protocol/README_zh.md
  src/dmsg_protocol/benches/validation.rs
  src/dmsg_protocol/src/agent.rs
  src/dmsg_protocol/src/agent_tests.rs
  src/dmsg_protocol/src/app_action.rs
  src/dmsg_protocol/src/app_action_tests.rs
  src/dmsg_protocol/src/billing.rs
  src/dmsg_protocol/src/codec.rs
  src/dmsg_protocol/src/identity.rs
  src/dmsg_protocol/src/identity/tests.rs
  src/dmsg_protocol/src/integration.rs
  src/dmsg_protocol/src/receipt.rs
  src/dmsg_protocol/src/requests.rs
  src/dmsg_protocol/src/requests/tests.rs
  src/dmsg_protocol/src/signing.rs
  src/dmsg_protocol/tests/signing.rs
  src/dmsg_types/Cargo.toml
  src/dmsg_types/README.md
  src/dmsg_types/README_zh.md
  src/dmsg_types/examples/integration_vectors.rs
  src/dmsg_types/examples/protocol_vectors.rs
  src/dmsg_types/src/cose.rs
  src/dmsg_types/src/integration.rs
  src/dmsg_types/src/signing.rs
  src/dmsg_types/src/user.rs
  src/dmsg_types/tests/integration_contract.rs
  src/dmsg_user/Cargo.toml
  src/dmsg_user/src/tests.rs
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/agent.rs
  tests/dmsg_integration/tests/control_plane/external_integration.rs
  tests/dmsg_integration/tests/control_plane/review_regressions.rs
  tests/dmsg_integration/tests/control_plane/user.rs
  tests/dmsg_test_sns/src/lib.rs
Due: prettier --write --ignore-unknown

refactor(dmsg_protocol): share the execution approval binding and release 0.2.0
  Cargo.lock
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  docs/protocol/README.md
  docs/protocol/README_zh.md
  src/dmsg_protocol/Cargo.toml
  src/dmsg_protocol/README.md
  src/dmsg_protocol/README_zh.md
  src/dmsg_protocol/src/agent_tests.rs
  src/dmsg_protocol/src/codec.rs
  src/dmsg_protocol/src/requests.rs
  src/dmsg_protocol/src/requests/tests.rs
  src/dmsg_protocol/tests/signing.rs
  src/dmsg_types/Cargo.toml
  src/dmsg_types/README.md
  src/dmsg_types/README_zh.md
  src/dmsg_types/examples/integration_vectors.rs
  src/dmsg_types/examples/protocol_vectors.rs
  src/dmsg_user/src/execution.rs
  src/dmsg_user/src/tests.rs
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/external_integration.rs
  tests/dmsg_integration/tests/control_plane/review_regressions.rs
Due: prettier --write --ignore-unknown

feat(dmsg_handle): lower the minimum handle price to 1,000 PANDA
  src/dmsg_app/src/lib/protocol/handle.ts
  src/dmsg_app/tests/handle.test.ts
  src/dmsg_protocol/src/handle.rs
  src/dmsg_protocol/src/handle/tests.rs
  src/dmsg_types/tests/contracts.rs
Due: prettier --write --ignore-unknown, eslint --fix

feat(dmsg_handle): add SNS governance, revenue collection and validators
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  src/dmsg_app/scripts/legacy-name-plan.ts
  src/dmsg_app/src/lib/canisters/generated/handle/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/handle/index.js
  src/dmsg_app/src/lib/protocol/handle.ts
  src/dmsg_handle/README.md
  src/dmsg_handle/dmsg_handle.did
  src/dmsg_handle/src/api.rs
  src/dmsg_handle/src/lib.rs
  src/dmsg_handle/src/stable_codec.rs
  src/dmsg_handle/src/store.rs
  src/dmsg_protocol/README.md
  src/dmsg_protocol/README_zh.md
  src/dmsg_runtime/src/stable_types.rs
  src/dmsg_types/src/handle.rs
  tests/dmsg_integration/README.md
  tests/dmsg_integration/tests/account_fixture.rs
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/handle.rs
Due: prettier --write --ignore-unknown, eslint --fix

feat(dmsg_handle): price 7+ byte names at 100 PANDA and harden the runbook
  .github/workflows/release.yml
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  src/dmsg_app/src/lib/protocol/handle.ts
  src/dmsg_app/src/lib/services/handle.ts
  src/dmsg_app/tests/handle.test.ts
  src/dmsg_handle/README.md
  src/dmsg_protocol/README.md
  src/dmsg_protocol/README_zh.md
  src/dmsg_protocol/src/handle.rs
  src/dmsg_protocol/src/handle/tests.rs
  src/dmsg_types/tests/contracts.rs
Due: prettier --write --ignore-unknown, eslint --fix

feat(dmsg_handle): drop snapshot certification and raise the name limit to 150k
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  src/dmsg_app/src/lib/canisters/generated/handle/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/handle/index.js
  src/dmsg_handle/README.md
  src/dmsg_handle/dmsg_handle.did
  src/dmsg_handle/src/api.rs
  src/dmsg_handle/src/store.rs
  tests/dmsg_integration/tests/control_plane/handle.rs
Due: prettier --write --ignore-unknown, eslint --fix

feat(dmsg_handle): certify ten million names from stable memory
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  src/dmsg_app/src/lib/canisters/generated/handle/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/handle/index.js
  src/dmsg_app/src/lib/protocol/handle.ts
  src/dmsg_app/src/lib/services/certified.ts
  src/dmsg_app/src/lib/services/handle.ts
  src/dmsg_app/tests/handle.test.ts
  src/dmsg_handle/README.md
  src/dmsg_handle/dmsg_handle.did
  src/dmsg_handle/src/api.rs
  src/dmsg_handle/src/lib.rs
  src/dmsg_handle/src/stable_codec.rs
  src/dmsg_handle/src/store.rs
  src/dmsg_protocol/README.md
  src/dmsg_protocol/README_zh.md
  src/dmsg_protocol/src/handle.rs
  src/dmsg_protocol/src/handle/tests.rs
  src/dmsg_runtime/README.md
  src/dmsg_runtime/src/certified.rs
  src/dmsg_runtime/src/lib.rs
  src/dmsg_runtime/src/name_tree.rs
  src/dmsg_runtime/src/stable_types.rs
  src/dmsg_types/src/handle.rs
  tests/dmsg_integration/tests/account_fixture.rs
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/handle.rs
Due: prettier --write --ignore-unknown, eslint --fix

Path conditions:
  prettier --write --ignore-unknown: any of: *
  stylelint --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
