Repository ldclabs/ic-panda: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, eslint --fix, sort-package-json

chore: improve model loading
  src/ic_panda_ai/src/api_init.rs
  src/ic_panda_ai/src/api_query.rs
  src/ic_panda_ai/src/api_update.rs
  src/ic_panda_ai/src/store.rs
Due: prettier --write --ignore-unknown

chore: update ic_panda_ai with `ic-oss-types`; update README.md
  Cargo.lock
  src/ic_panda_ai/README.md
  src/ic_panda_ai/ic_panda_ai.did
  src/ic_panda_ai/src/api_init.rs
  src/ic_panda_ai/src/api_query.rs
  src/ic_panda_ai/src/api_update.rs
  src/ic_panda_ai/src/lib.rs
  src/ic_panda_ai/src/store.rs
Due: prettier --write --ignore-unknown

feat: update file API to sync to ic-oss
  canister_ids.json
  src/ic_panda_ai/README.md
  src/ic_panda_ai/ic_panda_ai.did
  src/ic_panda_ai/src/api_query.rs
  src/ic_panda_ai/src/api_update.rs
  src/ic_panda_ai/src/lib.rs
Due: prettier --write --ignore-unknown

proposal: #65, transfer 200 ICP to Dev for maintaining DAO canisters
  proposals/proposal-065.sh
Due: prettier --write --ignore-unknown

proposal: #66 ~ #70, upgrade SNS to next version
  proposals/proposal-066.sh
Due: prettier --write --ignore-unknown

chore: update ic_panda_ai with new ic-oss-types
  Cargo.lock
  src/ic_panda_ai/Cargo.toml
  src/ic_panda_ai/ic_panda_ai.did
  src/ic_panda_ai/src/api_update.rs
  src/ic_panda_ai/src/store.rs
Due: prettier --write --ignore-unknown

chore: update dependencies
  Cargo.lock
  Cargo.toml
  pnpm-lock.yaml
  src/ic_panda_frontend/package.json
Due: prettier --write --ignore-unknown, sort-package-json

chore: update Roadmap
  src/ic_panda_frontend/src/app.pcss
  src/ic_panda_frontend/src/lib/canisters/icpledger.ts
  src/ic_panda_frontend/src/lib/canisters/luckypool.ts
  src/ic_panda_frontend/src/routes/(app)/+page.svelte
Due: prettier --write --ignore-unknown, eslint --fix

Add staging environment "--network dev"
  canister_ids.json
  dfx.json
  src/ic_panda_frontend/src/lib/components/core/AccountDetailModal.svelte
  src/ic_panda_frontend/src/lib/components/ui/SendTokenForm.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/stores/auth.ts
  src/ic_panda_frontend/src/lib/types/result.ts
  src/ic_panda_frontend/src/lib/utils/token.ts
  src/ic_panda_frontend/src/routes/(app)/+layout.svelte
  src/ic_panda_luckypool/src/lib.rs
Due: prettier --write --ignore-unknown, eslint --fix

proposal: add #72 to upgrade app to v1.5.10
  proposals/proposal-072.sh
Due: prettier --write --ignore-unknown

feat: implement Chain Fusion
  dfx.json
  pnpm-lock.yaml
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/canisters/ckdogecanister.ts
  src/ic_panda_frontend/src/lib/canisters/ckdogeminter.ts
  src/ic_panda_frontend/src/lib/canisters/icpledger.ts
  src/ic_panda_frontend/src/lib/canisters/luckypool.ts
  src/ic_panda_frontend/src/lib/canisters/tokenledger.ts
  src/ic_panda_frontend/src/lib/components/core/NameModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PageHeader.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconCkDOGE.svelte
  src/ic_panda_frontend/src/lib/components/icons/IconDOGE.svelte
  src/ic_panda_frontend/src/lib/components/wallet/CKDogeCard.svelte
  src/ic_panda_frontend/src/lib/components/wallet/CKDogeReceiveModal.svelte
  src/ic_panda_frontend/src/lib/components/wallet/CKDogeSendModal.svelte
  src/ic_panda_frontend/src/lib/components/wallet/Cards.svelte
  src/ic_panda_frontend/src/lib/components/wallet/DogeCard.svelte
  src/ic_panda_frontend/src/lib/components/wallet/DogeReceiveModal.svelte
  src/ic_panda_frontend/src/lib/components/wallet/DogeSendModal.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/types/result.ts
  src/ic_panda_frontend/src/lib/utils/auth.ts
  src/ic_panda_frontend/src/lib/utils/dogecoin.ts
  src/ic_panda_frontend/src/lib/utils/token.ts
  src/ic_panda_frontend/src/routes/(app)/+layout.svelte
  src/ic_panda_frontend/src/routes/(app)/wallet/+page.svelte
  src/ic_panda_frontend/svelte.config.js
  src/ic_panda_frontend/vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: improve TokenDisplay
  src/ic_panda_frontend/src/lib/canisters/icpledger.ts
  src/ic_panda_frontend/src/lib/canisters/tokenledger.ts
  src/ic_panda_frontend/src/lib/components/core/AccountDetailModal.svelte
  src/ic_panda_frontend/src/lib/components/core/LuckyDrawModal.svelte
  src/ic_panda_frontend/src/lib/components/ui/SendTokenForm.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextTokenAmount.svelte
  src/ic_panda_frontend/src/lib/components/wallet/CKDogeSendModal.svelte
  src/ic_panda_frontend/src/lib/components/wallet/DogeSendModal.svelte
  src/ic_panda_frontend/src/lib/types/token.ts
  src/ic_panda_frontend/src/lib/utils/token.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat: upgrade `ic_panda_ai` with `ic_oss_can`
  Cargo.lock
  Cargo.toml
  README.md
  src/ic_panda_ai/Cargo.toml
  src/ic_panda_ai/ic_panda_ai.did
  src/ic_panda_ai/src/api_admin.rs
  src/ic_panda_ai/src/api_init.rs
  src/ic_panda_ai/src/api_query.rs
  src/ic_panda_ai/src/api_update.rs
  src/ic_panda_ai/src/lib.rs
  src/ic_panda_ai/src/store.rs
  src/ic_panda_ai/src/types.rs
Due: prettier --write --ignore-unknown

chore: add Github actions
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier --write --ignore-unknown

chore: clean code
  .github/workflows/release.yml
  src/ic_panda_ai/src/api_query.rs
  src/ic_panda_ai/src/lib.rs
Due: prettier --write --ignore-unknown

chore: hidden CK-Doge
  src/ic_panda_frontend/src/lib/components/core/PageHeader.svelte
Due: prettier --write --ignore-unknown

chore: update frontend dependencies
  package.json
  pnpm-lock.yaml
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/declarations/ic_panda_ai/ic_panda_ai.did
  src/ic_panda_frontend/src/declarations/ic_panda_ai/ic_panda_ai.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_panda_ai/ic_panda_ai.did.js
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

proposal: add #073 to upgrade ICPanda SNS canisters
  proposals/proposal-072.sh
  proposals/proposal-073.sh
Due: prettier --write --ignore-unknown

chore: rename `ic_panda_badges` to `ic_panda_infra`
  Cargo.lock
  Cargo.toml
  README.md
  canister_ids.json
  dfx.json
  src/ic_panda_infra/Cargo.toml
  src/ic_panda_infra/ic_panda_infra.did
  src/ic_panda_infra/src/lib.rs
  src/ic_panda_infra/src/store.rs
Due: prettier --write --ignore-unknown

feat: ICPanda Infra (WIP)
  Cargo.lock
  Cargo.toml
  src/ic_panda_infra/Cargo.toml
  src/ic_panda_infra/src/api_admin.rs
  src/ic_panda_infra/src/api_update.rs
  src/ic_panda_infra/src/lib.rs
  src/ic_panda_infra/src/store.rs
  src/ic_panda_infra/src/types.rs
  src/ic_panda_luckypool/Cargo.toml
Due: prettier --write --ignore-unknown

chore: cleanup dependencies
  Cargo.lock
  Cargo.toml
  src/ic_panda_ai/Cargo.toml
  src/ic_panda_infra/Cargo.toml
  src/ic_panda_luckypool/Cargo.toml
  src/lib_panda/Cargo.toml
  src/x_auth/Cargo.toml
Due: prettier --write --ignore-unknown

chore: upgrade ic_panda_frontend dependencies
  pnpm-lock.yaml
  proposals/proposal-073.sh
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/declarations/ic_panda_infra/ic_panda_infra.did
  src/ic_panda_frontend/src/declarations/ic_panda_infra/ic_panda_infra.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_panda_infra/ic_panda_infra.did.js
  src/ic_panda_frontend/src/declarations/ic_panda_infra/index.d.ts
  src/ic_panda_frontend/src/declarations/ic_panda_infra/index.js
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

feat: add `ic_message_channel`
  Cargo.lock
  Cargo.toml
  Makefile
  src/ic_message/Cargo.toml
  src/ic_message/ic_message.did
  src/ic_message/src/api_init.rs
  src/ic_message/src/lib.rs
  src/ic_message/src/store.rs
  src/ic_message_channel/Cargo.toml
  src/ic_message_channel/ic_message_channel.did
  src/ic_message_channel/src/api_admin.rs
  src/ic_message_channel/src/api_init.rs
  src/ic_message_channel/src/api_query.rs
  src/ic_message_channel/src/api_update.rs
  src/ic_message_channel/src/lib.rs
  src/ic_message_channel/src/store.rs
  src/ic_message_channel/src/types.rs
  src/ic_message_profile/Cargo.toml
  src/ic_message_profile/ic_message_profile.did
  src/ic_message_profile/src/api_init.rs
  src/ic_message_profile/src/lib.rs
  src/ic_message_profile/src/store.rs
  src/ic_panda_infra/src/lib.rs
Due: prettier --write --ignore-unknown

feat: implement ic_message
  Cargo.lock
  Cargo.toml
  src/ic_message/Cargo.toml
  src/ic_message/ic_message.did
  src/ic_message/src/api_admin.rs
  src/ic_message/src/api_init.rs
  src/ic_message/src/api_query.rs
  src/ic_message/src/api_update.rs
  src/ic_message/src/lib.rs
  src/ic_message/src/store.rs
  src/ic_message/src/types.rs
  src/ic_message_channel/ic_message_channel.did
  src/ic_message_channel/src/api_query.rs
  src/ic_message_channel/src/api_update.rs
  src/ic_message_channel/src/lib.rs
  src/ic_message_channel/src/store.rs
  src/ic_message_profile/Cargo.toml
  src/ic_message_profile/ic_message_profile.did
  src/ic_message_profile/src/api_admin.rs
  src/ic_message_profile/src/api_query.rs
  src/ic_message_profile/src/api_update.rs
  src/ic_message_profile/src/lib.rs
  src/ic_message_profile/src/store.rs
  src/ic_message_profile/src/types.rs
  src/ic_message_types/Cargo.toml
  src/ic_message_types/src/channel.rs
  src/ic_message_types/src/lib.rs
  src/ic_message_types/src/profile.rs
  src/ic_panda_infra/Cargo.toml
  src/ic_panda_luckypool/Cargo.toml
  src/lib_panda/Cargo.toml
  src/x_auth/Cargo.toml
Due: prettier --write --ignore-unknown

feat: add name blocks to ic-message
  Cargo.lock
  Cargo.toml
  src/ic_message/Cargo.toml
  src/ic_message/ic_message.did
  src/ic_message/src/api_query.rs
  src/ic_message/src/api_update.rs
  src/ic_message/src/lib.rs
  src/ic_message/src/store.rs
  src/ic_message_channel/ic_message_channel.did
  src/ic_message_channel/src/api_update.rs
  src/ic_message_channel/src/store.rs
  src/ic_message_profile/ic_message_profile.did
  src/ic_message_profile/src/api_admin.rs
  src/ic_message_profile/src/store.rs
  src/ic_message_types/src/channel.rs
  src/ic_message_types/src/lib.rs
  src/ic_message_types/src/profile.rs
Due: prettier --write --ignore-unknown

chore: improve `ic_message`
  Cargo.lock
  dfx.json
  src/ic_message/src/api_admin.rs
  src/ic_message/src/api_query.rs
  src/ic_message/src/api_update.rs
  src/ic_message/src/store.rs
  src/ic_message/src/types.rs
  src/ic_message_types/src/lib.rs
  src/ic_message_types/src/profile.rs
  src/ic_panda_frontend/src/declarations/ic_cose_canister/ic_cose_canister.did
  src/ic_panda_frontend/src/declarations/ic_cose_canister/ic_cose_canister.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_cose_canister/ic_cose_canister.did.js
  src/ic_panda_frontend/src/declarations/ic_cose_canister/index.d.ts
  src/ic_panda_frontend/src/declarations/ic_cose_canister/index.js
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did.js
  src/ic_panda_frontend/src/declarations/ic_message/index.d.ts
  src/ic_panda_frontend/src/declarations/ic_message/index.js
  src/ic_panda_frontend/src/declarations/ic_message_channel/ic_message_channel.did
  src/ic_panda_frontend/src/declarations/ic_message_channel/ic_message_channel.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message_channel/ic_message_channel.did.js
  src/ic_panda_frontend/src/declarations/ic_message_channel/index.d.ts
  src/ic_panda_frontend/src/declarations/ic_message_channel/index.js
  src/ic_panda_frontend/src/declarations/ic_message_profile/ic_message_profile.did
  src/ic_panda_frontend/src/declarations/ic_message_profile/ic_message_profile.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message_profile/ic_message_profile.did.js
  src/ic_panda_frontend/src/declarations/ic_message_profile/index.d.ts
  src/ic_panda_frontend/src/declarations/ic_message_profile/index.js
Due: prettier --write --ignore-unknown, eslint --fix

feat: add COSE function for 'ic_message' app
  pnpm-lock.yaml
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/stores/user.ts
  src/ic_panda_frontend/src/lib/utils/crypto.ts
  src/ic_panda_frontend/src/lib/utils/store.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

feat: burn gas in 'ic_message_channel'
  src/ic_message/ic_message.did
  src/ic_message_channel/ic_message_channel.did
  src/ic_message_channel/src/api_query.rs
  src/ic_message_channel/src/store.rs
  src/ic_message_channel/src/types.rs
  src/ic_message_types/src/channel.rs
Due: prettier --write --ignore-unknown

chore: improve message API
  src/ic_message/ic_message.did
  src/ic_message/src/api_update.rs
  src/ic_message/src/store.rs
  src/ic_message_channel/ic_message_channel.did
  src/ic_message_channel/src/api_update.rs
  src/ic_message_channel/src/store.rs
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did.js
  src/ic_panda_frontend/src/declarations/ic_message_channel/ic_message_channel.did
  src/ic_panda_frontend/src/declarations/ic_message_channel/ic_message_channel.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message_channel/ic_message_channel.did.js
  src/ic_panda_frontend/src/lib/constants.ts
  src/x_auth/env.sample
Due: prettier --write --ignore-unknown, eslint --fix

feat: implement message app (WIP)
  src/ic_panda_frontend/src/app.html
  src/ic_panda_frontend/src/lib/canisters/cose.ts
  src/ic_panda_frontend/src/lib/canisters/message.ts
  src/ic_panda_frontend/src/lib/canisters/messagechannel.ts
  src/ic_panda_frontend/src/lib/canisters/messageprofile.ts
  src/ic_panda_frontend/src/lib/components/core/AccountDetailModal.svelte
  src/ic_panda_frontend/src/lib/components/core/PageFooter.svelte
  src/ic_panda_frontend/src/lib/components/core/PageHeader.svelte
  src/ic_panda_frontend/src/lib/components/messages/Home.svelte
  src/ic_panda_frontend/src/lib/components/messages/Index.svelte
  src/ic_panda_frontend/src/lib/components/messages/UserRegisterModel.svelte
  src/ic_panda_frontend/src/lib/stores/auth.ts
  src/ic_panda_frontend/src/lib/stores/user.ts
  src/ic_panda_frontend/src/lib/utils/store.ts
  src/ic_panda_frontend/src/routes/(app)/+layout.ts
  src/ic_panda_frontend/src/routes/(app)/[u]/+page.svelte
  src/ic_panda_frontend/src/routes/(app)/[u]/+page.ts
  src/ic_panda_frontend/src/routes/(app)/_/messages/+page.svelte
  src/ic_panda_frontend/src/routes/(app)/_/wallet/+page.svelte
  src/ic_panda_frontend/src/routes/_callback/+layout.svelte
  src/ic_panda_frontend/src/routes/_callback/+layout.ts
  src/ic_panda_frontend/src/routes/_callback/auth/+page.svelte
Due: prettier --write --ignore-unknown, eslint --fix

feat: implement message app (WIP)
  src/ic_message/ic_message.did
  src/ic_message/src/api_query.rs
  src/ic_message/src/api_update.rs
  src/ic_message/src/lib.rs
  src/ic_message/src/store.rs
  src/ic_message/src/types.rs
  src/ic_message_channel/ic_message_channel.did
  src/ic_message_channel/src/api_query.rs
  src/ic_message_channel/src/api_update.rs
  src/ic_message_channel/src/lib.rs
  src/ic_message_channel/src/store.rs
  src/ic_message_profile/ic_message_profile.did
  src/ic_message_profile/src/api_admin.rs
  src/ic_message_profile/src/lib.rs
  src/ic_message_profile/src/store.rs
  src/ic_message_types/src/channel.rs
  src/ic_message_types/src/profile.rs
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message/ic_message.did.js
  src/ic_panda_frontend/src/declarations/ic_message_channel/ic_message_channel.did
  src/ic_panda_frontend/src/declarations/ic_message_channel/ic_message_channel.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message_channel/ic_message_channel.did.js
  src/ic_panda_frontend/src/declarations/ic_message_profile/ic_message_profile.did
  src/ic_panda_frontend/src/declarations/ic_message_profile/ic_message_profile.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message_profile/ic_message_profile.did.js
  src/ic_panda_frontend/src/lib/canisters/cose.ts
  src/ic_panda_frontend/src/lib/canisters/message.ts
  src/ic_panda_frontend/src/lib/canisters/messagechannel.ts
  src/ic_panda_frontend/src/lib/canisters/messageprofile.ts
  src/ic_panda_frontend/src/lib/components/messages/Home.svelte
  src/ic_panda_frontend/src/lib/components/messages/Index.svelte
  src/ic_panda_frontend/src/lib/components/messages/PasswordModel.svelte
  src/ic_panda_frontend/src/lib/components/messages/UserRegisterModel.svelte
  src/ic_panda_frontend/src/lib/stores/user.ts
  src/ic_panda_frontend/src/lib/types/result.ts
  src/ic_panda_frontend/src/lib/utils/auth.ts
  src/ic_panda_frontend/src/lib/utils/crypto.ts
  src/ic_panda_frontend/src/lib/utils/store.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: improve message app
  pnpm-lock.yaml
  src/ic_panda_frontend/package.json
  src/ic_panda_frontend/src/lib/canisters/messageprofile.ts
  src/ic_panda_frontend/src/lib/components/messages/ChannelCreateModel.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelDetail.svelte
  src/ic_panda_frontend/src/lib/components/messages/Chat.svelte
  src/ic_panda_frontend/src/lib/components/messages/Home.svelte
  src/ic_panda_frontend/src/lib/components/messages/Index.svelte
  src/ic_panda_frontend/src/lib/components/messages/MyChannelList.svelte
  src/ic_panda_frontend/src/lib/components/messages/PasswordModel.svelte
  src/ic_panda_frontend/src/lib/components/messages/ProfileDetail.svelte
  src/ic_panda_frontend/src/lib/components/messages/ProfileEditModel.svelte
  src/ic_panda_frontend/src/lib/components/messages/UserRegisterModel.svelte
  src/ic_panda_frontend/src/lib/components/ui/TextAreaAutosize.svelte
  src/ic_panda_frontend/src/lib/stores/message.ts
  src/ic_panda_frontend/src/lib/stores/toast.ts
  src/ic_panda_frontend/src/lib/utils/tryrun.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

chore: improve message app
  src/ic_panda_frontend/src/lib/components/messages/ChannelDetail.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelSetting.svelte
  src/ic_panda_frontend/src/lib/components/messages/Chat.svelte
  src/ic_panda_frontend/src/lib/components/messages/Home.svelte
  src/ic_panda_frontend/src/lib/components/messages/Index.svelte
  src/ic_panda_frontend/src/lib/components/messages/PasswordModel.svelte
  src/ic_panda_frontend/src/lib/components/messages/ProfileDetail.svelte
  src/ic_panda_frontend/src/lib/components/messages/UserRegisterModel.svelte
  src/ic_panda_frontend/src/lib/components/messages/UserSelectModel.svelte
  src/ic_panda_frontend/src/lib/constants.ts
  src/ic_panda_frontend/src/lib/stores/message.ts
  src/ic_panda_frontend/src/lib/utils/token.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: improve messages UX
  src/ic_message_channel/ic_message_channel.did
  src/ic_message_channel/src/api_update.rs
  src/ic_message_channel/src/store.rs
  src/ic_panda_frontend/src/declarations/ic_message_channel/ic_message_channel.did
  src/ic_panda_frontend/src/declarations/ic_message_channel/ic_message_channel.did.d.ts
  src/ic_panda_frontend/src/declarations/ic_message_channel/ic_message_channel.did.js
  src/ic_panda_frontend/src/lib/canisters/messagechannel.ts
  src/ic_panda_frontend/src/lib/components/messages/ChannelDetail.svelte
  src/ic_panda_frontend/src/lib/components/messages/ChannelMessages.svelte
  src/ic_panda_frontend/src/lib/components/messages/Chat.svelte
  src/ic_panda_frontend/src/lib/stores/message.ts
  src/ic_panda_frontend/src/lib/utils/window.ts
Due: prettier --write --ignore-unknown, eslint --fix

Path conditions:
  prettier --write --ignore-unknown: any of: *
  stylelint --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
