Repository ldclabs/ic-panda: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, eslint --fix, sort-package-json

feat(dmsg): keep every certification tree in stable memory
  Cargo.lock
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  docs/protocol/commerce.md
  src/dmsg_app/src/lib/canisters/generated/commerce/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/commerce/index.js
  src/dmsg_commerce/dmsg_commerce.did
  src/dmsg_commerce/src/api.rs
  src/dmsg_commerce/src/checkout.rs
  src/dmsg_commerce/src/checkout_store.rs
  src/dmsg_commerce/src/registrations.rs
  src/dmsg_commerce/src/stable_codec.rs
  src/dmsg_commerce/src/store.rs
  src/dmsg_directory/Cargo.toml
  src/dmsg_directory/README.md
  src/dmsg_directory/src/api.rs
  src/dmsg_directory/src/http.rs
  src/dmsg_directory/src/store.rs
  src/dmsg_payment/README.md
  src/dmsg_payment/src/api.rs
  src/dmsg_payment/src/store.rs
  src/dmsg_runtime/README.md
  src/dmsg_runtime/src/cert_map.rs
  src/dmsg_runtime/src/certified.rs
  src/dmsg_runtime/src/lib.rs
  src/dmsg_user/src/api.rs
  src/dmsg_user/src/commerce.rs
  src/dmsg_user/src/external.rs
  src/dmsg_user/src/external_tests.rs
  src/dmsg_user/src/store.rs
  src/dmsg_user/src/tests.rs
  src/membership/README.md
  src/membership/src/api.rs
  src/membership/src/claims.rs
  src/membership/src/store.rs
  src/membership/src/store_tests.rs
  tests/dmsg_integration/tests/control_plane/commerce_review.rs
  tests/dmsg_integration/tests/control_plane/payment_optimization.rs
  tests/dmsg_integration/tests/control_plane/payment_regressions.rs
Due: prettier --write --ignore-unknown, eslint --fix

fix(dmsg): address the review of the multi-home and stable certification commits
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  docs/protocol/integration.md
  packages/dmsg-sdk/src/validation.ts
  packages/dmsg-sdk/tests/contracts.test.ts
  src/dmsg_directory/src/api.rs
  src/dmsg_payment/src/api.rs
  src/dmsg_protocol/src/integration.rs
  src/dmsg_runtime/README.md
  src/dmsg_runtime/src/cert_map.rs
  src/dmsg_types/src/integration.rs
  src/dmsg_types/tests/integration_contract.rs
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/governance.rs
Due: prettier --write --ignore-unknown, eslint --fix

fix(membership): requalify a PANDA claim in the commerce renewal window
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  docs/protocol/commerce.md
  docs/protocol/commerce_zh.md
  src/dmsg_commerce/README.md
  src/dmsg_commerce/src/api.rs
  src/dmsg_commerce/src/capacity.rs
  src/dmsg_commerce/src/checkout.rs
  src/dmsg_commerce/src/checkout_store.rs
  src/dmsg_commerce/src/model.rs
  src/dmsg_protocol/README.md
  src/dmsg_protocol/README_zh.md
  src/dmsg_types/src/integration.rs
  src/dmsg_types/tests/support/commerce.rs
  src/membership/README.md
  src/membership/src/claims.rs
  tests/dmsg_integration/tests/control_plane/commerce.rs
Due: prettier --write --ignore-unknown

feat(dmsg): route membership by user home and add commerce operations interfaces
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  docs/protocol/commerce.md
  docs/protocol/commerce_zh.md
  docs/protocol/integration.cddl
  packages/dmsg-sdk/src/contracts.ts
  packages/dmsg-sdk/src/schemas.ts
  src/dmsg_app/src/lib/canisters/generated/commerce/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/commerce/index.js
  src/dmsg_app/src/lib/canisters/generated/membership/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/membership/index.js
  src/dmsg_commerce/README.md
  src/dmsg_commerce/dmsg_commerce.did
  src/dmsg_commerce/src/api.rs
  src/dmsg_commerce/src/checkout.rs
  src/dmsg_commerce/src/checkout_store.rs
  src/dmsg_commerce/src/stable_codec.rs
  src/dmsg_commerce/src/store.rs
  src/dmsg_protocol/README.md
  src/dmsg_protocol/README_zh.md
  src/dmsg_types/src/billing.rs
  src/dmsg_types/src/integration_membership.rs
  src/dmsg_types/tests/support/commerce.rs
  src/membership/README.md
  src/membership/membership.did
  src/membership/src/api.rs
  src/membership/src/claims.rs
  src/membership/src/store.rs
  tests/dmsg_integration/tests/account_fixture.rs
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/commerce.rs
  tests/dmsg_integration/tests/control_plane/governance.rs
  tests/dmsg_integration/tests/control_plane/handle.rs
  tests/dmsg_integration/tests/control_plane/user_homes.rs
Due: prettier --write --ignore-unknown, eslint --fix

fix(dmsg_commerce): keep the collection cursor inside the caller's index
  src/dmsg_commerce/src/checkout_store.rs
Due: prettier --write --ignore-unknown

fix(dmsg_cose): keep in-flight markers trap-safe and bound cleanup pages
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  src/dmsg_app/scripts/cose-prune.mjs
  src/dmsg_app/scripts/cose-prune.test.mjs
  src/dmsg_cose/README.md
  src/dmsg_cose/dmsg_cose.did
  src/dmsg_cose/src/api.rs
  src/dmsg_cose/src/stable_codec.rs
  src/dmsg_cose/src/store.rs
  src/dmsg_runtime/src/stable_types.rs
  src/dmsg_user/src/tests.rs
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/cose_optimization.rs
Due: prettier --write --ignore-unknown

fix(dmsg): address the review of the device-wrapped root and login recovery commit
  .github/workflows/test.yml
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  docs/dmsg_encryption_zh.md
  docs/protocol/account_root_zh.md
  packages/dmsg-sdk/src/statements.ts
  packages/dmsg-sdk/tests/actions.test.ts
  src/dmsg_app/README.md
  src/dmsg_app/src/lib/components/Onboarding.svelte
  src/dmsg_app/src/lib/services/account-root.ts
  src/dmsg_app/src/lib/services/account.ts
  src/dmsg_app/src/lib/services/agent.ts
  src/dmsg_app/src/lib/services/cose.ts
  src/dmsg_app/tests/agent-client.test.ts
  src/dmsg_app/tests/bridge.test.ts
  src/dmsg_app/tests/cose.test.ts
  src/dmsg_app/tests/statements.test.ts
  src/dmsg_protocol/README.md
  src/dmsg_protocol/README_zh.md
  src/dmsg_protocol/src/requests.rs
  src/dmsg_protocol/src/requests/tests.rs
  src/dmsg_protocol/src/signing.rs
  src/dmsg_types/README.md
  src/dmsg_types/README_zh.md
  src/dmsg_types/src/cose.rs
  src/dmsg_types/src/user.rs
  src/dmsg_user/README.md
  src/dmsg_user/dmsg_user.did
  src/dmsg_user/src/account.rs
  src/dmsg_user/src/api.rs
  src/dmsg_user/src/execution.rs
  src/dmsg_user/src/recovery.rs
  src/dmsg_user/src/state.rs
  src/dmsg_user/src/tests.rs
Due: prettier --write --ignore-unknown, eslint --fix

fix(dmsg_protocol): cap handles at 19 bytes so they never match Xid account text
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  src/dmsg_app/src/lib/protocol/handle.ts
  src/dmsg_app/tests/handle.test.ts
  src/dmsg_handle/README.md
  src/dmsg_handle/dmsg_handle.did
  src/dmsg_protocol/src/handle.rs
  src/dmsg_protocol/src/handle/tests.rs
  src/dmsg_types/src/handle.rs
  src/dmsg_types/tests/contracts.rs
  src/dmsg_user/dmsg_user.did
  tests/dmsg_integration/tests/control_plane/handle.rs
Due: prettier --write --ignore-unknown, eslint --fix

fix(dmsg): address the review of the application action schema commit
  docs/protocol/app-action.md
  docs/protocol/integration.md
  packages/dmsg-sdk/src/validation.ts
  packages/dmsg-sdk/tests/actions.test.ts
  src/dmsg_app/src/lib/components/DocumentApproval.svelte
  src/dmsg_commerce/README.md
  src/dmsg_protocol/src/app_action.rs
  src/dmsg_protocol/src/app_action_tests.rs
Due: prettier --write --ignore-unknown, eslint --fix

chore(dmsg-sdk): version 0.2.0 for registered action schemas and device-signed attestations
  packages/dmsg-sdk/package.json
Due: prettier --write --ignore-unknown, sort-package-json

docs(dmsg): correct stale notes on app homes and action signing
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  docs/protocol/browser-v4.md
  src/dmsg_types/src/integration.rs
Due: prettier --write --ignore-unknown

feat(dmsg): prepare the directory for production
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  docs/protocol/agent_zh.md
  src/dmsg_app/src/lib/canisters/generated/user/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/user/index.js
  src/dmsg_directory/README.md
  src/dmsg_directory/dmsg_directory.did
  src/dmsg_directory/src/api.rs
  src/dmsg_directory/src/http.rs
  src/dmsg_directory/src/store.rs
  src/dmsg_types/src/agent.rs
  src/dmsg_user/README.md
  src/dmsg_user/dmsg_user.did
  src/dmsg_user/src/api.rs
  tests/dmsg_integration/tests/control_plane/agent.rs
  tests/dmsg_integration/tests/control_plane/user_homes.rs
  tests/dmsg_integration/tests/directory.rs
Due: prettier --write --ignore-unknown, eslint --fix

refactor(dmsg_protocol): remove signing helpers left unused by device attestation and release 0.3.0
  Cargo.lock
  src/dmsg_protocol/Cargo.toml
  src/dmsg_protocol/README.md
  src/dmsg_protocol/README_zh.md
  src/dmsg_protocol/benches/validation.rs
  src/dmsg_protocol/src/agent.rs
  src/dmsg_protocol/src/app_action_tests.rs
  src/dmsg_protocol/src/codec.rs
  src/dmsg_protocol/src/receipt.rs
  src/dmsg_protocol/src/requests/tests.rs
  src/dmsg_protocol/src/signing.rs
  src/dmsg_protocol/tests/signing.rs
  src/dmsg_types/examples/integration_vectors.rs
  src/dmsg_types/examples/protocol_vectors.rs
  src/dmsg_types/src/app_action.rs
Due: prettier --write --ignore-unknown

docs(dmsg_protocol): correct the 0.2.0 approval migration and document delegation IDs
  docs/protocol/agent_zh.md
  src/dmsg_protocol/README.md
  src/dmsg_protocol/README_zh.md
Due: prettier --write --ignore-unknown

feat(dmsg_payment): governed limits, payout dispatch and 10M-escrow capacity
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  src/dmsg_app/src/lib/canisters/generated/payment/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/payment/index.js
  src/dmsg_app/src/lib/services/inbox.ts
  src/dmsg_app/src/lib/services/payment.ts
  src/dmsg_app/tests/payment-recovery.test.ts
  src/dmsg_payment/README.md
  src/dmsg_payment/dmsg_payment.did
  src/dmsg_payment/src/api.rs
  src/dmsg_payment/src/capacity.rs
  src/dmsg_payment/src/lib.rs
  src/dmsg_payment/src/model.rs
  src/dmsg_payment/src/model/tests.rs
  src/dmsg_payment/src/stable_codec.rs
  src/dmsg_payment/src/store.rs
  src/dmsg_runtime/src/stable_types.rs
  src/dmsg_types/src/payment.rs
  tests/dmsg_integration/tests/account_fixture.rs
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/payment_operations.rs
  tests/dmsg_integration/tests/control_plane/payment_optimization.rs
  tests/dmsg_integration/tests/control_plane/payment_regressions.rs
  tests/dmsg_integration/tests/control_plane/payment_review.rs
Due: prettier --write --ignore-unknown, eslint --fix

fix(dmsg_payment): address the review of the governed limits commit
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  src/dmsg_app/src/lib/services/payment.ts
  src/dmsg_payment/README.md
  src/dmsg_payment/src/api.rs
  src/dmsg_payment/src/store.rs
  tests/dmsg_integration/tests/control_plane/payment_operations.rs
Due: prettier --write --ignore-unknown, eslint --fix

feat(membership): drop the SNS module pin, qualify listed actors and prepare for 1M claims
  Cargo.lock
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  docs/protocol/commerce.md
  docs/protocol/commerce_zh.md
  docs/protocol/integration.cddl
  packages/dmsg-sdk/src/contracts.ts
  packages/dmsg-sdk/src/schemas.ts
  src/dmsg_app/src/lib/canisters/generated/membership/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/membership/index.js
  src/dmsg_app/src/lib/components/CheckoutPanel.svelte
  src/dmsg_types/src/integration_membership.rs
  src/dmsg_types/src/membership.rs
  src/membership/Cargo.toml
  src/membership/README.md
  src/membership/membership.did
  src/membership/src/api.rs
  src/membership/src/capacity.rs
  src/membership/src/claims.rs
  src/membership/src/lib.rs
  src/membership/src/sns.rs
  src/membership/src/store.rs
  src/membership/src/store_tests.rs
  tests/dmsg_integration/README.md
  tests/dmsg_integration/tests/account_fixture.rs
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/commerce.rs
  tests/dmsg_integration/tests/control_plane/governance.rs
  tests/dmsg_integration/tests/control_plane/membership_review.rs
  tests/dmsg_test_sns/src/lib.rs
Due: prettier --write --ignore-unknown, eslint --fix

fix(membership): address the review of the module-pin and capacity commit
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  docs/protocol/commerce.md
  docs/protocol/commerce_zh.md
  src/dmsg_app/src/lib/components/CommerceOperations.svelte
  src/membership/README.md
  src/membership/src/claims.rs
  src/membership/src/store.rs
  tests/dmsg_integration/README.md
  tests/dmsg_integration/tests/control_plane/membership_review.rs
Due: prettier --write --ignore-unknown

fix(dmsg_user): wrap roots to vault devices and prepare the user home for production
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  docs/dmsg_encryption_zh.md
  docs/protocol/account_root_zh.md
  src/dmsg_app/src/lib/canisters/generated/user/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/user/index.js
  src/dmsg_app/src/lib/components/AccountSettings.svelte
  src/dmsg_app/src/lib/services/account-root.ts
  src/dmsg_app/src/lib/services/signing.ts
  src/dmsg_runtime/src/lib.rs
  src/dmsg_user/README.md
  src/dmsg_user/dmsg_user.did
  src/dmsg_user/src/account.rs
  src/dmsg_user/src/api.rs
  src/dmsg_user/src/commerce.rs
  src/dmsg_user/src/external_tests.rs
  src/dmsg_user/src/recovery.rs
  src/dmsg_user/src/state.rs
  src/dmsg_user/src/tests.rs
  tests/dmsg_integration/tests/control_plane/external_integration.rs
  tests/dmsg_integration/tests/control_plane/governance.rs
  tests/dmsg_integration/tests/control_plane/handle.rs
  tests/dmsg_integration/tests/control_plane/review_regressions.rs
  tests/dmsg_integration/tests/control_plane/user.rs
  tests/dmsg_integration/tests/control_plane/user_review.rs
Due: prettier --write --ignore-unknown, eslint --fix

docs(dmsg): add the technical architecture and align stale capacity and routing notes
  docs/dmsg_architecture.md
  docs/dmsg_architecture_zh.md
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  docs/protocol/account_root_zh.md
  src/dmsg_commerce/README.md
  src/dmsg_cose/README.md
  src/dmsg_runtime/README.md
  src/dmsg_types/README.md
  src/dmsg_types/README_zh.md
Due: prettier --write --ignore-unknown

feat(dmsg_user): publish monthly execution totals and archive older ledgers on the client
  docs/dmsg_architecture.md
  docs/dmsg_architecture_zh.md
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  src/dmsg_app/README.md
  src/dmsg_app/src/lib/canisters/generated/user/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/user/index.js
  src/dmsg_app/src/lib/components/CheckoutPanel.svelte
  src/dmsg_app/src/lib/services/signing.ts
  src/dmsg_app/src/lib/services/usage.ts
  src/dmsg_app/tests/usage.test.ts
  src/dmsg_types/src/user.rs
  src/dmsg_user/README.md
  src/dmsg_user/dmsg_user.did
  src/dmsg_user/src/api.rs
  src/dmsg_user/src/capacity.rs
  src/dmsg_user/src/commerce.rs
  src/dmsg_user/src/stable_codec.rs
  src/dmsg_user/src/store.rs
  src/dmsg_user/src/tests.rs
  tests/dmsg_integration/tests/control_plane/user.rs
Due: prettier --write --ignore-unknown, eslint --fix

chore(deps): upgrade agent-protocols, vetkeys and the TypeScript toolchain
  Cargo.lock
  Cargo.toml
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  docs/dmsg_encryption_zh.md
  docs/protocol/account_root_zh.md
  docs/protocol/agent_zh.md
  packages/dmsg-sdk/README.md
  packages/dmsg-sdk/package.json
  pnpm-lock.yaml
  src/dmsg_app/.gitignore
  src/dmsg_app/package.json
  src/dmsg_app/src/lib/crypto/root.ts
  src/dmsg_app/tests/account.test.ts
  src/dmsg_app/tests/recovery-retry.test.ts
  src/dmsg_frontend/package.json
  src/dmsg_frontend/src/lib/canisters/cose.ts
  src/dmsg_legacy/package.json
  src/dmsg_legacy/src/crypto.ts
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

refactor(dmsg)!: follow agent-protocols 0.11.3 controller ceilings and delegation_service
  Cargo.lock
  Cargo.toml
  docs/dmsg_canisters.md
  docs/dmsg_canisters_zh.md
  docs/protocol/agent_zh.md
  src/dmsg_app/src/lib/canisters/generated/user/index.d.ts
  src/dmsg_app/src/lib/canisters/generated/user/index.js
  src/dmsg_app/src/lib/components/AgentSettings.svelte
  src/dmsg_app/src/lib/protocol/account.ts
  src/dmsg_app/src/lib/services/agent.ts
  src/dmsg_app/tests/agent-client.test.ts
  src/dmsg_app/tests/agent.test.ts
  src/dmsg_directory/README.md
  src/dmsg_directory/dmsg_directory.did
  src/dmsg_directory/src/stable_codec.rs
  src/dmsg_directory/src/store.rs
  src/dmsg_protocol/README.md
  src/dmsg_protocol/README_zh.md
  src/dmsg_protocol/src/agent.rs
  src/dmsg_protocol/src/agent_tests.rs
  src/dmsg_protocol/src/requests.rs
  src/dmsg_protocol/src/requests/tests.rs
  src/dmsg_runtime/src/stable_types.rs
  src/dmsg_types/examples/protocol_vectors.rs
  src/dmsg_types/src/agent.rs
  src/dmsg_types/src/user.rs
  src/dmsg_types/tests/protocol_vectors.json
  src/dmsg_user/README.md
  src/dmsg_user/dmsg_user.did
  src/dmsg_user/src/principal.rs
  src/dmsg_user/src/tests.rs
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/agent.rs
  tests/dmsg_integration/tests/directory.rs
Due: prettier --write --ignore-unknown, eslint --fix

fix(dmsg): address the review of the agent-protocols 0.11.3 commit
  src/dmsg_app/src/lib/components/AgentSettings.svelte
  src/dmsg_app/src/lib/services/agent.ts
  src/dmsg_app/tests/agent-client.test.ts
  src/dmsg_directory/README.md
  src/dmsg_protocol/src/agent.rs
  tests/dmsg_integration/tests/control_plane.rs
  tests/dmsg_integration/tests/control_plane/agent.rs
Due: prettier --write --ignore-unknown, eslint --fix

chore(deps): upgrade agent-protocols 0.11.4 and the IC management types
  Cargo.lock
  Cargo.toml
  examples/dmsg-browser-client.ts
  packages/dmsg-sdk/README.md
  packages/dmsg-sdk/package.json
  src/dmsg_protocol/Cargo.toml
  src/dmsg_protocol/README.md
  src/dmsg_protocol/README_zh.md
  src/dmsg_protocol/src/cose_pins.rs
  src/dmsg_types/Cargo.toml
  src/dmsg_types/README.md
  src/dmsg_types/README_zh.md
  src/ic_message/src/store.rs
  tests/dmsg_integration/Cargo.toml
Due: prettier --write --ignore-unknown, eslint --fix, sort-package-json

Path conditions:
  prettier --write --ignore-unknown: any of: *
  stylelint --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
